@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Home Page";
    Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}
<head>
    <script src="~/Main/DocumentEntry/Home/lib/pagination.js"></script>
    <script src="~/Main/DocumentEntry/Home/Home.js"></script>
    <script src="~/materials/jslib/P8-Objects.js"></script>

    <link href="~/Main/DocumentEntry/Home/lib/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Main/PortalMaterials/system_images/ThemeImage/logo40x40.png" />
</head>

<!--Switch Container-->
<div class="switch-container">
    <div class="spl-switch spl-switch-dashboard-c spl-hide" title="Show Dashboard">
        <div class="spl-dashboard"></div>
    </div>
    <div class="spl-switch spl-switch-profile" title="Show Profile">
        <div class="spl-profile"></div>
    </div>
</div>

<!-- Splashboard Container -->
<div class="container-flex _spl-container-mob">
    <div class="row _spl-row-container">
        <div class="col col-9 col-parent _spl-right padding-5">
            @*<div class="spl-ms-lbl margin-bottom-10">Home</div>*@

            <!-- Row Container: Greetings and header widgets-->
            <div class="row _spl-row-gHrd">
                <div class="col col-12 with-spacing-4">
                    <div class="spl-ms-col spl-ms-col_msg">
                        <div class="spl-ms-subcol">
                            <div class="_logo"></div>
                            @*<div class="_greetings">NOAH Business Applications</span>!</div>*@
                            <div class="_greetings">Good day, <span id="gtFname">Noah User</span>!</div>
                            <div class="_greetings_sub">Welcome to your splashboard.</div>
                            <span class="spl-misc-bg"></span>
                        </div>
                        @*<div class="spl-ms-subcol _img">
                            </div>*@
                    </div>
                </div>

            </div>

            <!-- Row Container: Overview-->
            <div class="spl-ms-row-leg margin-y-10">Overview</div>
            <div class="row _spl-row-overview">
                <div class="col col-3 with-spacing-4">
                    <div class="spl-ms-widget2 _blue">
                        <div class="_ico">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" class="svg-oPendingTask-icon" viewBox="0 0 44 44">
                                <defs>
                                    <linearGradient id="svg-oGradientPT" x1="27" y1="12" x2="27" y2="42" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#19a4ff" />
                                        <stop offset="1" stop-color="#07f" />
                                    </linearGradient>
                                </defs>
                                <g data-name="30x30">
                                    <path class="svg-oPendingTask-icon-a" d="M29,32H5.05A3.06,3.06,0,0,1,2,29V5.05A3.06,3.06,0,0,1,5.05,2H29A3.06,3.06,0,0,1,32,5.05V29A3.06,3.06,0,0,1,29,32Z" />
                                    <path class="svg-oPendingTask-icon-b" d="M34,37H10.05A3.06,3.06,0,0,1,7,34V10.05A3.06,3.06,0,0,1,10.05,7H34a3.06,3.06,0,0,1,3,3.05V34A3.06,3.06,0,0,1,34,37Z" />
                                    <path class="svg-oPendingTask-icon-c" d="M39,42H15.05A3.06,3.06,0,0,1,12,39V15.05A3.06,3.06,0,0,1,15.05,12H39a3.06,3.06,0,0,1,3,3.05V39A3.06,3.06,0,0,1,39,42Z" />
                                    <path class="svg-oPendingTask-icon-d" d="M37,21H17V17H37Zm0,4H17v4H37Zm-8,8H17v4H29Z" />
                                </g>
                            </svg>
                        </div>
                        <div class="_details">
                            <div class="spl-ms-widget2-count">15</div>
                            <div class="spl-ms-widget2-lbl">Pending Task</div>
                        </div>
                    </div>
                </div>
                <div class="col col-3 with-spacing-4">
                    <div class="spl-ms-widget2 _green">
                        <div class="_ico">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-oAsgnActivities-icon" width="44px" height="44px" viewBox="0 0 44 44">
                                <defs>
                                    <linearGradient id="svg-oGradientAA" x1="3.19" y1="3.19" x2="24.81" y2="24.81" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#6fe28c" />
                                        <stop offset="1" stop-color="#37c955" />
                                    </linearGradient>
                                </defs>
                                <path class="svg-oAsgnActivities-icon-a" d="M38,26H32a4,4,0,0,1-4-4V6a4,4,0,0,1,4-4h6a4,4,0,0,1,4,4V22A4,4,0,0,1,38,26Zm4,12V32a4,4,0,0,0-4-4H6a4,4,0,0,0-4,4v6a4,4,0,0,0,4,4H38A4,4,0,0,0,42,38Z" />
                                <path class="svg-oAsgnActivities-icon-b" d="M22,2H6.05A4,4,0,0,0,2,6.05V22A4,4,0,0,0,6.05,26H22A4,4,0,0,0,26,22V6.05A4,4,0,0,0,22,2ZM15.06,17.8l-2.83,2.83L9.4,17.8,5.87,14.27,8.7,11.44,12.23,15,19.3,7.9l2.83,2.83Z" />
                            </svg>
                        </div>
                        <div class="_details">
                            <div class="spl-ms-widget2-count">8</div>
                            <div class="spl-ms-widget2-lbl">Assigned Activities</div>
                        </div>
                    </div>
                </div>
                <div class="col col-3 with-spacing-4">
                    <div class="spl-ms-widget2 _red">
                        <div class="_ico">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-oFindings-icon" width="44px" height="44px" viewBox="0 0 44 44">
                                <defs>
                                    <linearGradient id="svg-oGradientFD" x1="10.27" y1="10.27" x2="35.73" y2="35.73" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#637490"></stop>
                                        <stop offset="0.59" stop-color="#53647b"></stop>
                                        <stop offset="1" stop-color="#4c5d72"></stop>
                                    </linearGradient>
                                </defs>
                                <g data-name="30x30">
                                    <path class="svg-oFindings-icon-a" d="M42,42H21V28H42ZM17,28H2V42H17ZM42,2H34V16h8ZM30,2H2V16H30Z"></path>
                                    <path class="svg-oFindings-icon-b" d="M42,26H2V18H42Z"></path>
                                    <path class="svg-oFindings-icon-c" d="M28.66,10.27A13,13,0,1,0,27.12,30l7.19,7.19,2.83-2.83L30,27.12A13,13,0,0,0,28.66,10.27ZM25.83,25.83a9,9,0,1,1,0-12.73A9,9,0,0,1,25.83,25.83Z"></path>
                                    <circle class="svg-oFindings-icon-d" cx="19.46" cy="19.46" r="9"></circle>
                                </g>
                            </svg>
                        </div>
                        <div class="_details">
                            <div class="spl-ms-widget2-count">6</div>
                            <div class="spl-ms-widget2-lbl">Findings</div>
                        </div>
                    </div>
                </div>
                <div class="col col-3 with-spacing-4">
                    <div class="spl-ms-widget2 _yellow">
                        <div class="_ico">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-oTickets-icon" width="44px" height="44px" viewBox="0 0 44 44">
                                <defs>
                                    <linearGradient id="svg-oGradientT" x1="10.87" y1="13.19" x2="22.3" y2="24.63" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#ffbe1a" />
                                        <stop offset="1" stop-color="#ffa10d" />
                                    </linearGradient>
                                </defs>
                                <g id="rP-svg-g">
                                    <path class="svg-oTickets-icon-a" d="M14.94,4.22,12.3,7.37a4,4,0,1,1-5.14,6.12L4.52,16.63A3.91,3.91,0,0,0,5,22.13L26.61,40.26a3.9,3.9,0,0,0,5.49-.48l2.64-3.15a4,4,0,1,1,5.14-6.12l2.63-3.14a3.9,3.9,0,0,0-.48-5.5L20.43,3.74A3.9,3.9,0,0,0,14.94,4.22Z" />
                                    <path class="svg-oTickets-icon-b" d="M8.35,11.05,7,14.9a4,4,0,1,1-2.74,7.52l-1.4,3.85a3.9,3.9,0,0,0,2.33,5l26.5,9.65a3.91,3.91,0,0,0,5-2.33L38,34.73a4,4,0,1,1,2.74-7.51l1.4-3.86a3.89,3.89,0,0,0-2.33-5L13.35,8.72A3.9,3.9,0,0,0,8.35,11.05ZM15.4,29.69,14,33.45l-1.88-.69L13.52,29Zm2-5.64-1.36,3.76-1.88-.69,1.36-3.76Zm2.06-5.64-1.37,3.76-1.88-.68,1.37-3.76Zm2-5.64-1.37,3.76-1.88-.68,1.37-3.76Z" />
                                </g>
                            </svg>
                        </div>
                        <div class="_details">
                            <div class="spl-ms-widget2-count">10</div>
                            <div class="spl-ms-widget2-lbl">Tickets</div>
                        </div>
                    </div>
                </div>
                @*<div class="col col-custom-20 with-spacing-4">
                        <div class="spl-ms-widget2 _lightblue">
                            <div class="_ico">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-oATask-icon" width="44px" height="44px" viewBox="0 0 44 44">
                                    <defs>
                                        <linearGradient id="svg-oGradientAT" x1="14.6" y1="10.86" x2="36.98" y2="32.72" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#02c6bc" />
                                            <stop offset="1" stop-color="#04afa2" />
                                        </linearGradient>
                                    </defs>
                                    <path class="svg-oATask-icon-a" d="M31,37H5a2,2,0,0,1-2-2V9A2,2,0,0,1,5,7H31a2,2,0,0,1,2,2V35A2,2,0,0,1,31,37Z" />
                                    <path class="svg-oATask-icon-b" d="M35,39H9a2,2,0,0,1-2-2V7A2,2,0,0,1,9,5H35a2,2,0,0,1,2,2V37A2,2,0,0,1,35,39Z" />
                                    <path class="svg-oATask-icon-c" d="M39,42H13a2,2,0,0,1-2-2V4a2,2,0,0,1,2-2H39a2,2,0,0,1,2,2V40A2,2,0,0,1,39,42Z" />
                                    <path class="svg-oATask-icon-d" d="M37,12H25V10H37Zm0,2H25v2H37Zm0,7H25v2H37Zm0,4H25v2H37Zm0,7H25v2H37Zm0,4H25v2H37ZM23,16V10a1,1,0,0,0-1-1H16a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6A1,1,0,0,0,23,16Zm0,11V21a1,1,0,0,0-1-1H16a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6A1,1,0,0,0,23,27Zm0,11V32a1,1,0,0,0-1-1H16a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h6A1,1,0,0,0,23,38ZM33,5V2H19V5a1,1,0,0,0,1,1H32A1,1,0,0,0,33,5Z" />
                                </svg>
                            </div>
                            <div class="_details">
                                <div class="spl-ms-widget2-count">3</div>
                                <div class="spl-ms-widget2-lbl">Accomplished Task</div>
                            </div>
                        </div>
                    </div>*@
            </div>

            <!-- Row Container: Recently Menuitem-->
            <div class="spl-ms-row-leg margin-y-10">Recently Accessed Menuitem</div>
            <div class="row _spl-row-recent">
                <div class="col col-5 col-parent child-centered v-align-mid">
                    <img src="../../materials/media/images/noah-recent-left-vector-400x200x200px.png" class="spl-noah-left-img" alt="Noah Business Applications">
                </div>
                <div class="col col-7 col-parent">
                    <div class="row">
                        <div class="col col-6 _spl-recent with-spacing-4">
                            <div class="spl-ms-menuitem-c">
                                <div class="spl-menuitem-c">
                                    <div class="spl-menuitem-wrapper">
                                        <div class="spl-menuitem-icon"></div>
                                        <div class="spl-ms-details">
                                            <div class="spl-ms-mName">E0101 Daily Accomplishment Report</div>
                                            <div class="spl-ms-mName_sub">Menuitem</div>
                                        </div>
                                    </div>
                                    <div class="spl-module-code">
                                        <div class="spl-ms-mcode">Billing and Collection Trade</div>
                                        <div class="spl-btn-icon-cc">View<span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 _spl-recent with-spacing-4">
                            <div class="spl-ms-menuitem-c">
                                <div class="spl-menuitem-c">
                                    <div class="spl-menuitem-wrapper">
                                        <div class="spl-menuitem-icon"></div>
                                        <div class="spl-ms-details">
                                            <div class="spl-ms-mName">E0102 HR Request Form</div>
                                            <div class="spl-ms-mName_sub">Menuitem</div>
                                        </div>
                                    </div>
                                    <div class="spl-module-code">
                                        <div class="spl-ms-mcode">Billing and Collection Trade</div>
                                        <div class="spl-btn-icon-cc">View<span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 _spl-recent with-spacing-4">
                            <div class="spl-ms-menuitem-c">
                                <div class="spl-menuitem-c">
                                    <div class="spl-menuitem-wrapper">
                                        <div class="spl-menuitem-icon"></div>
                                        <div class="spl-ms-details">
                                            <div class="spl-ms-mName">E0103 Leave Application Viewer</div>
                                            <div class="spl-ms-mName_sub">Menuitem</div>
                                        </div>
                                    </div>
                                    <div class="spl-module-code">
                                        <div class="spl-ms-mcode">Accounts Driver and Budgeting</div>
                                        <div class="spl-btn-icon-cc">View<span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 _spl-recent with-spacing-4">
                            <div class="spl-ms-menuitem-c">
                                <div class="spl-menuitem-c">
                                    <div class="spl-menuitem-wrapper">
                                        <div class="spl-menuitem-icon"></div>
                                        <div class="spl-ms-details">
                                            <div class="spl-ms-mName">E0104 DAE Consultant Viewer</div>
                                            <div class="spl-ms-mName_sub">Menuitem</div>
                                        </div>
                                    </div>
                                    <div class="spl-module-code">
                                        <div class="spl-ms-mcode">Accounts Payable</div>
                                        <div class="spl-btn-icon-cc">View<span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-3 col-parent _spl-left padding-5">
            <div class="col col-12 with-spacing-4 _spl-col-left">
                <div class="spl-sys-menu-c">
                    <div class="spl-sys-user-c">
                        <div class="spl-sys-user-profile">
                            <div class="spl-sys-user-inner-photo">
                                <img src="/materials/media/icons/_overview/user-profile-from-freepik-photo.png" />
                            </div>
                        </div>
                        <div id="uInfoName" class="menu-user-name menu-user-name-r" style="text-align: center;"></div>
                        <div id="uInfoType" class="menu-user-type menu-user-type-r" style="text-align: center;">Administrator</div>
                        <div class="spl-sys-user-icon">
                            <div class="spl-icon-user spl-company" title="Company">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" class="svg-company-icon" viewBox="0 0 22 22">
                                    <path d="M20,10.58V20H18V11.44a1,1,0,0,0-.5-.87l-4-2.29a1,1,0,0,0-1,0l-4,2.29a1,1,0,0,0-.5.87V20H6V10.58a1,1,0,0,1,.5-.87L9,8.29V5.11L4.52,7.6A1,1,0,0,0,4,8.48V20H2V7.59a1,1,0,0,1,.52-.88L9,3.11l.51-.28A1,1,0,0,1,11,3.7V7.14l1.51-.86a1,1,0,0,1,1,0l6,3.43A1,1,0,0,1,20,10.58ZM16,13H10v2h6Zm0,3H10v2h6Z"></path>
                                </svg>
                            </div>
                            <div class="spl-icon-user spl-help" title="Help">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" class="svg-help-icon" viewBox="0 0 22 22">
                                    <path d="M14,20H8V18h6Zm4-10a7,7,0,1,1-7-7A7,7,0,0,1,18,10Zm-2,0a5,5,0,1,0-5,5A5,5,0,0,0,16,10Z" />
                                </svg>
                            </div>
                            <div class="spl-icon-user spl-settings" title="Settings">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" class="svg-setting-icon" viewBox="0 0 22 22">
                                    <path d="M18,5.8,12,2.34a2,2,0,0,0-2,0L4,5.8A2,2,0,0,0,3,7.54v6.92A2,2,0,0,0,4,16.2l6,3.46a2,2,0,0,0,2,0l6-3.46a2,2,0,0,0,1-1.74V7.54A2,2,0,0,0,18,5.8Zm-.73,7.91a1.6,1.6,0,0,1-.78,1.37l-4.7,2.71a1.59,1.59,0,0,1-1.58,0l-4.7-2.71a1.6,1.6,0,0,1-.78-1.37V8.29a1.6,1.6,0,0,1,.78-1.37l4.7-2.71a1.59,1.59,0,0,1,1.58,0l4.7,2.71a1.6,1.6,0,0,1,.78,1.37ZM11,7.5A3.5,3.5,0,1,0,14.5,11,3.5,3.5,0,0,0,11,7.5ZM11,13a2,2,0,1,1,2-2A2,2,0,0,1,11,13Z"></path>
                                </svg>
                            </div>
                        </div>

                        <div class="spl-sys-btn-c">
                            <div class="spl-sys-btn fav-btn" data-content="favorites">Favorites</div>
                            <div class="spl-sys-btn recebt-btn" data-content="recent">Recent</div>
                        </div>

                        <div class="spl-sys-content">
                            <div class="spl-sys-container show" id="favorites">
                                <div class="spl-sys-container-r">
                                    <div class="spl-sys-r-c">
                                        <div class="spl-sys-r-icon"></div>
                                        <div class="spl-sys-r-text">
                                            <div class="spl-sys-r-title">E0101 Daily Accomplishment Report</div>
                                            <div class="spl-sys-r-subtitle">Menuitem</div>
                                        </div>
                                        <div class="spl-sys-r-btn favorites-btn"></div>
                                    </div>

                                    <div class="spl-sys-r-banner">
                                        <div class="spl-sys-r-wrapper favorites">
                                            <div class="spl-sys-banner-icon"></div>
                                            <div class="spl-sys-banner-text">No Favorites Yet</div>
                                            <div class="spl-sys-banner-subtext">You have currently no favorites.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="spl-sys-container" id="recent">
                                <div class="spl-sys-container-r">
                                    @*<div class="spl-sys-r-c">
                                            <div class="spl-sys-r-icon recent"></div>
                                            <div class="spl-sys-r-text">
                                                <div class="spl-sys-r-title">E0101 Daily Accomplishment Report</div>
                                                <div class="spl-sys-r-subtitle">Menuitem</div>
                                            </div>
                                            <div class="spl-sys-r-btn recent-btn"></div>
                                        </div>*@

                                    <div class="spl-sys-r-banner">
                                        <div class="spl-sys-r-wrapper recent">
                                            <div class="spl-sys-banner-icon"></div>
                                            <div class="spl-sys-banner-text">Sorry, no menuitem found</div>
                                            <div class="spl-sys-banner-subtext">Any open menuitem will appear here!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>