.tablecontainter table tr th:nth-child(4),
        .tablecontainter table tr td:nth-child(4),
        .tablecontainter table tr th:nth-child(5),
        .tablecontainter table tr td:nth-child(5)
        {
        	    display:none;
        }
        .history-container {
	        width: 632px;
	        max-width: 632px;
	        min-width: 632px;
}

.hist-div {
        margin-left: 150px;
}

#btnHistory {
    margin-right: 20px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to bottom, #dcdcdc -10%, #2d2a26 100%);
}

.nwCuz-001 {

width:150px;

}

.nwCuz-002 {

width:380px !important;

}

.nwCuz-003 {

width:150px;

}

.nwCuz-004 {

width:380px !important;

}

.nwCuz-005 {

width:380px; display:none;

}

.nwCuz-006 {

width:111px;

}

.nwCuz-007 {

width :110px; font-size :12px ;display:none;

}

.nwCuz-008 {

width:36px;

}

.nwCuz-009 {

width: 346px;

}

.nwCuz-010 {

background:#DEDEDE;

}

.nwCuz-011 {

width :145px; font-size :12px;

}

.nwCuz-012 {

width :120px; font-size :12px;

}

.nwCuz-013 {

width :110px; font-size :12px;

}

.nwCuz-014 {

min-width:500px;min-height:500px;

}

.nwCuz-014 {

font-weight:bold;

}




