@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Reservation Entry";
    Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/SB/DocumentEntry/SBReservationEntry/SBReservationEntry.js"></script>

    <script src="~/SB/DocumentEntry/SBReservationEntry/jquery-ui-timepicker-addon.js"></script>
    <script src="~/SB/DocumentEntry/SBReservationEntry/jquery-ui-sliderAccess.js"></script>

    <link href="~/SB/DocumentEntry/SBReservationEntry/SBReservationEntry.css" rel="stylesheet" />
    <link href="~/SB/DocumentEntry/SBReservationEntry/jquery-ui-timepicker-addon.css" rel="stylesheet" />

    <script src="~/SB/DocumentEntry/SBReservationEntry/lib/inputmask.js"></script>
    <script src="~/SB/DocumentEntry/SBReservationEntry/lib/inputmask.numeric.extensions.js"></script>
    <script src="~/SB/DocumentEntry/SBReservationEntry/lib/jquery.inputmask.js"></script>



    <style>
        .hasData {
            background: linear-gradient(#04E20B, #08A206) !important;
        }

            .hasData:hover {
                color: white;
            }


        #tbl_total table td {
            border: 1px solid black;
        }

        .noah-webui-containerRow > .noah-webui-containerRowItem:nth-child(1) {
            padding-left: 12px;
        }


        .nwSelect {
            margin: 0;
            border: none;
            width: 120px;
            border-radius: 3px;
            overflow: hidden;
            background-color: #fff;
            background: #fff;
        }

            .nwSelect select {
                padding: 5px 8px;
                width: 130%;
                border: none;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

                .nwSelect select:focus {
                    outline: none;
                }

        .nwSelect2 {
            margin: 0;
            border: 1px solid skyblue;
            width: 400px;
            line-height: 100%;
            border-radius: 3px;
            overflow: hidden;
            background-color: #fff;
            background: #fff;
            min-height: 23px;
            max-height: 23px;
        }

            .nwSelect2 select {
                width: 130%;
                border: 1px solid skyblue;
                box-shadow: none;
                background-color: transparent;
                line-height: 100%;
                background-image: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                height: 30px;
            }

                .nwSelect2 select:focus {
                    outline: none;
                }



        .drop-select {
            margin: 0;
            max-width: 100%;
            overflow: hidden;
            background: #fff no-repeat 90% 50%;
            background-color: #FFFFFF;
            border: 1px solid skyblue;
            padding: 2px;
            border-radius: 2px;
            font-size: 12px;
        }

        #hdr_container {
            max-height: 367px !important;
        }

        #nwFooterContainer {
            min-height: 250px !important;
        }

        .drop-select select:focus {
            outline: none;
        }

        .isinvisible {
            display: none;
        }

        body .ui-tabs .ui-tabs-active.ui-state-active .ui-tabs-anchor {
            background-color: #1674c1;
        }

        .ui-tabs .ui-tabs-nav li a {
            padding: 0.7em .3em;
            width: 180px;
            text-align: center;
            font-family: 'Century Gothic';
        }

        #nwGridPaymentTermDetailsCon .nwgrid_Insert {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #nwGridPaymentTermDetailsCon .nwgrid_Delete {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #nwGridPaymentTermDetailsCon .nwgridButtons {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        .select {
            font-family: "Century Gothic";
        }

        #nwGridUnitDetails select {
            font-family: "Century Gothic";
        }

        #nwGridPaymentTermDetailsCon select {
            font-family: "Century Gothic";
        }

        #nwGridDiscount .nwgrid_Insert {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #nwGridDiscount .nwgrid_Delete {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #nwGridAddOnCon .nwgrid_Insert {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #nwGridAddOnCon .nwgrid_Delete {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #nwGridCoBuyer .nwgrid_Delete {
            font-family: "Century Gothic";
            min-height: 25px !important;
        }

        #btnPaymentTermGroup {
            color: white;
            font-family: Century Gothic;
        }

        #btnLoadCoBuyerDetails {
            color: white;
            font-family: Century Gothic;
        }
    </style>
    <script type="text/javascript">
        function ExportToExcel() {
            try {
                window.open('ExporttoExcel.aspx', '_self', false);
            } catch (err) {

                window.open('../../../ExportToExcel.aspx', '_self', false);
            }
        }
    </script>


</head>

@*ToolBox*@
<div id="noah-webui-Toolbox" class="nk-toolbar-c">
    <div id="noah-webui-default-New" class="btn-tb-action btn-tb-new">
        <div class="_icon"></div>
        <div class="_lbl">New</div>
    </div>
    <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-save">
        <div class="_icon"></div>
        <div class="_lbl">Save</div>
    </div>
    <div id="noah-webui-default-Delete" class="btn-tb-action btn-tb-delete">
        <div class="_icon"></div>
        <div class="_lbl">Delete</div>
    </div>
    <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
        <div class="_icon"></div>
        <div class="_lbl">Refresh</div>
    </div>
    <div id="noah-webui-default-Inquire" class="btn-tb-action btn-tb-inquire">
        <div class="_icon"></div>
        <div class="_lbl">Inquire</div>
    </div>
    <div id="noah-webui-default-Process" class="btn-tb-action btn-tb-process">
        <div class="_icon"></div>
        <div class="_lbl">Process</div>
    </div>
</div>


 @*==========Hidden !Important*==========*@
 <div class="nwHide">
    <input id="txtVatrate" type="text" class="isNumber numC" />
    <input id="ddInventoryGroup_temp" type="text" />
    <input id="ddProductType_temp" type="text''  />
    <input id="ddPhaseTower_temp" type="text" />
    <input id="ddModel_temp" type="text" />
    <input id="ddInventoryType_temp" type="text" />
    <input id="ddInventoryClass_temp" type="text" />
    <input id="txtUnitCode" type="text" />
    <input id="txtItemGroupType" type="text" />
    <input id="txtUnitType" type="text" />
    <input id="txtUnitClass" type="text" />
    <input id="txtSpotCashDiscount_Combo" type="text" />

    <input id="txtDPRate" type="text" />
    <input id="txtReservationAmount" type="text" />
    <input id="txtMiscellaneousAmount" type="text" " />
    <input id="txtMiscellaneousRate" type="text" />

    <input type="text" id="txtPhase_Combo" />
    <input type="text" id="txtUnitType_Combo" />
    <input type="text" id="txtUnitClass_Combo" />
    <input type="text" id="txtNoOfUnits_Combo" />
    <input type="text" id="txtIsVatable" />
    <input id="txtDocumentStatusCode" class="textbox_hdr1_pt4 alwaysdisabled" type="text" />
    <input id="txtrsnforDisapprovalCode" class="alwaysdisabled" type="text" />
    <input id="Agency" type="text" />
    <input id="txtsalesdirector" type="text" />
    <input id="txtsalesmanager" type="text" />
    <input id="txtShortDesc" type="text" />

     <select id="ddInventoryGroup" class="nwSelect2"></select>
     <select id="ddPhaseTower" class="nwSelect2"></select>
     <select id="ddInventoryType" class="nwSelect2"></select>
     <select id="ddProductType" class="nwSelect2"></select>
     <select id="ddModel" class="nwSelect2"></select>
     <select id="ddInventoryClass" class="nwSelect2"></select>
     <div id="nwGridUnitDetails"> </div>
</div>



@**==========Main*==========*@
<div class="container-flex">
    <div class="row row-parent">

        <div class="row">
            <div class="col col-12">
                <label class="lbltxt">Note: Click PROCESS to submit the transaction for approval.</label>
            </div>
        </div>


        <div class="col col-4 col-parent">
            <div class="container-flex  customContainer">

                <div class="row with-label-lookup">
                    <div class="col col-4">
                        <label class="lbltxt">Location</label>
                    </div>
                    <div id="lugLocWithAccntblForms" class="col col-8 col-parent adisabled">
                        <div class="col col-4">
                            <input id="idvallugLocWithAccntblForms" type="text" name="" class="txtbox idval">
                        </div>
                        <div class="col col-8">
                            <input id="descvallugLocWithAccntblForms" type="text" name="" class="txtbox txtdesc">
                            <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                        </div>
                    </div>
                </div>


                <div class="row with-label-lookup">
                    <div class="col col-4">
                        <label class="lbltxt">Customer</label>
                    </div>
                    <div id="lugClient" class="col col-8 col-parent adisabled">
                        <div class="col col-4">
                            <input id="idvallugClient" type="text" name="" class="txtbox idval alwaysdisabled">
                        </div>
                        <div class="col col-8">
                            <input id="descvallugClient" type="text" name="" class="txtbox txtdesc alwaysdisabled">
                            <div class="btn btn-sm-default btn-sm-default-lookup alwaysdisabled"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt"> Cross Reference Code</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox alwaysdisabled " id="txtCrossRefCode">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-8 col-parent">
                        <div class="col col-2 custom_nwcuz0001 ">
                            <label class="lbltxt"> Birth Date</label>
                        </div>
                        <div class="col col-8 custom_nwcuz0002">
                              
                            <input id="txtBirthdate" class="alwaysdisabled hasDatepicker" type="text" disabled="" autocomplete="off">
                        </div>
                    </div>
                    <div class="col col-4 col-parent">
                        <div class="col col-4">
                            <label class="lbltxt">Age</label>
                        </div>
                        <div class="col col-5 custom_nwcuz0003">
             
                            <input id="txtAge" class="alwaysdisabled" type="text" disabled="" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="row with-label-lookup">
                    <div class="col col-4">
                        <label class="lbltxt">Project</label>
                    </div>
                    <div id="lugBranchProject" class="col col-8 col-parent adisabled">
                        <div class="col col-4">
                            <input id="idvallugBranchProject" type="text" name="" class="txtbox idval">
                        </div>
                        <div class="col col-8">
                            <input id="descvallugBranchProject" type="text" name="" class="txtbox txtdesc">
                         
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt"> Property Type</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtPropertyType">
                    </div>
                </div>

                <div class="row with-label-lookup">
                    <div class="col col-4">
                        <label class="lbltxt">Financing Type</label>
                    </div>
                    <div id="lugFinancingType" class="col col-8 col-parent adisabled">
                        <div class="col col-4">
                            <input id="idvallugFinancingType" type="text" name="" class="txtbox idval alwaysdisabled">
                        </div>
                        <div class="col col-8">
                            <input id="descvallugFinancingType" type="text" name="" class="txtbox txtdesc alwaysdisabled">
                            <div class="btn btn-sm-default btn-sm-default-lookup alwaysdisabled"></div>
                        </div>
                    </div>
                </div>

            </div>

 
        </div>

        
        <div class="col col-4 col-parent">
            <div class="container-flex  customContainer">

                <div class="row with-label-lookup">
                    <div class="col col-4">
                        <label class="lbltxt">Source of Sale</label>
                    </div>
                    <div id="lugSourceOfSale" class="col col-8 col-parent adisabled">
                        <div class="col col-4">
                            <input id="idvallugSourceOfSale" type="text" name="" class="txtbox idval">
                        </div>
                        <div class="col col-8">
                            <input id="descvallugSourceOfSale" type="text" name="" class="txtbox txtdesc">
                            <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                        </div>
                    </div>
                </div>


                <div class="row with-label-lookup">
                    <div class="col col-4">
                        <label class="lbltxt">Financing Type</label>
                    </div>
                    <div id="lugAgent" class="col col-8 col-parent adisabled">
                        <div class="col col-4">
                            <input id="idvallugAgent" type="text" name="" class="txtbox idval">
                        </div>
                        <div class="col col-8">
                            <input id="descvallugAgent" type="text" name="" class="txtbox txtdesc">
                            <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt"> Seller Type</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox alwaysdisabled " id="txtAgentType">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Reservation Control No.</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox alwaysdisabled" id="txtReservationControlNo">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Reservation Date</label>
                    </div>
                    <div class="col col-8">
       
                        <input id="txtReservationDate" type="text" disabled>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Reservation Expiration Date</label>
                    </div>
                    <div class="col col-8">
   
                        <input id="txtExpirationDate" type="text" />
     
                    </div>
                </div>
    

            </div>

    
        </div>

        <div class="col col-4 col-parent ">
            <div class="container-flex customContainer">

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Record Status</label>
                    </div>
                    <div class="col col-8">
                
                        <input type="text" name="" class="txtbox alwaysdisabled" id="txtDocumentStatus">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Reason for Return</label>
                    </div>
                    <div class="col col-8">
                      
                        <textarea id="txtrsnforDisapprovalDesc" class="txtarea autoresize alwaysdisabled" rows="3"></textarea>
                    </div>
                </div>
  
                <div class="row ">
                    <div class="col col-4">
                        <label class="lbltxt">Remarks for Return</label>
                    </div>
                    <div class="col col-8">

                        <textarea id="txtDisapprovalRemarks" class="txtarea autoresize nwcuz_0001 alwaysdisabled" rows="3"></textarea>
                    </div>
                </div>
  
            </div>

        </div>

    </div>

    <div class="row row-parent">
        <div class="col col-4 col-parent">
            <div class="container-flex customContainer">

    
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Lot Price</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtLotPrice">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Housing Price</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtHousePrice">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Selling Price</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtSellingPrice">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">VAT Amount</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtVatAmount">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Gross Selling Price</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtGrossSellingPrice">
                    </div>
                </div>
           
            </div>


        </div>

        <div class="col col-4 col-parent">
            <div class="container-flex customContainer">


                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt"> Miscellaneous</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtMisc">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt"> Total Contract Price</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtTCP">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Sales Discount Amount</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtSalesDiscountAmount">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">DP Amount</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtDPDiscount">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <label class="lbltxt">Net Contract Price</label>
                    </div>
                    <div class="col col-8">
                        <input type="text" name="" class="txtbox" id="txtNTCP">
                    </div>
                </div>


            </div>


        </div>

        <div class="col col-4 col-parent ">
            <div class="container-flex customContainer">
        
                <br />
                <br />
                <div class="row">
                    <div class="col col-11">
                        <div id="btnReqCompliance" class="btn btn-default fullwidth">Requirement Compliance</div>
                    </div>

                </div>
          
                <br />
                <br />
                <div class="row">
                    <div class="col col-11">
                        <div id="btnGenerate" class="btn btn-default fullwidth nwcuz_0001">GENERATE AMORTIZATION SCHEDULE</div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="row row-parent">
        <div class="col col-12 col-parent">
            <div class="container-flex settingstabsBut ">

                <div class="container-flex ">

                    <div class="col col-12 col-parent padding-x-15">
                        <div id="settingstabsBut-1" class="btn btn-default btnCustom_0001">UNIT DETAILS</div>
                        <div id="settingstabsBut-2" class="btn btn-default btnCustom_0001">PAYMENT TERM</div>
                        <div id="settingstabsBut-3" class="btn btn-default btnCustom_0001">DISCOUNT</div>
                        <div id="settingstabsBut-4" class="btn btn-default btnCustom_0001">ADD-ON</div>
                        <div id="settingstabsBut-5" class="btn btn-default btnCustom_0001">CO-BUYER</div>
                    </div>
                </div>


                <br />

                @*======== Unit Details ======== U*@
                <div id="settingstabs-1" class="detailsTab">


                    <div class="row">
                        <div class="col col-1">
                            <label class="lbltxt">Unit Code</label>
                        </div>
                        <div class="col col-2">
                            <input type="text" name="" class="txtbox" id="new_txtUniCode">
                        </div>
                        <div class="col col-1">
                            <label class="lbltxt">Lot Area</label>
                        </div>
                        <div class="col col-2 ">
                            <input type="text" name="" class="txtbox" id="new_txtLotArea">
                        </div>
                        <div class="col col-2">
                            <label class="lbltxt">Reference Based Unit/Add On</label>
                        </div>
                        <div class="col col-2">
                            <div id="RefAddOn" class="btn btn-default">...</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-1">
                            <label class="lbltxt">Unit Description</label>
                        </div>
                        <div class="col col-2">

                            <textarea id="new_txtUniDesc" class="txtarea autoresize" rows="3"></textarea>
                        </div>
                        <div class="col col-1">
                            <label class="lbltxt">Floor Area</label>
                        </div>
                        <div class="col col-2 ">
                            <input type="text" name="" class="txtbox" id="new_txtFloorArea">
                        </div>


                        <div class="col col-2">

                        </div>
                        <div class="col col-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-1">
                            <label class="lbltxt">Inventory Type</label>
                        </div>
                        <div class="col col-2">
                            <input type="text" name="" class="txtbox" id="new_txtInventoryTypeDesc">
                        </div>
                        <div class="col col-1">
                            <label class="lbltxt">Unit of Measure</label>
                        </div>
                        <div class="col col-2 ">
                            <input type="text" name="" class="txtbox" id="new_txtUnitofMeasure">
                        </div>


                        <div class="col col-2">

                        </div>
                        <div class="col col-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-1">
                            <label class="lbltxt">Inventory Class</label>
                        </div>
                        <div class="col col-2">
                            <input type="text" name="" class="txtbox" id="new_txtInventoryClassDesc">
                        </div>
                        <div class="col col-1">
                            <label class="lbltxt">Ref Holding No.</label>
                        </div>
                        <div class="col col-2 ">
                            <input type="text" name="" class="txtbox" id="new_txtRefHoldingNo">
                        </div>


                        <div class="col col-2">

                        </div>
                        <div class="col col-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-1">
                            <label class="lbltxt">Inventory Group</label>
                        </div>
                        <div class="col col-2">
                            <input type="text" name="" class="txtbox" id="new_txtInventoryGroupDesc">
                        </div>
                        <div class="col col-1">

                        </div>
                        <div class="col col-2 ">

                        </div>


                        <div class="col col-2">

                        </div>
                        <div class="col col-2">

                        </div>
                    </div>

                </div>


                @*======== Payment Term Details ======== U*@
                <div id="settingstabs-2" class="detailsTab">

                    <div class="row">
                        <div class="col col-2">
                            <div class="chk-wrapper child-centered">
                                <input id="chkLumpSum" type="checkbox" name="chkCoowner" class="chk" ">
                                <label class="lbl-chk" for="chkLumpSum">Override Term </label>
                            </div>
                        </div>

                        <div class="col col-3">
                            <div class="row">
                                <div class="col col-4">
                                    <label class="lbltxt">Monthly DP</label>
                                </div>
                                <div class="col col-6">
                                    <input for="lblmonthlyDPPaymentTermDtls" type="text" name="" class="txtbox" id="txtMonthlyDP">
                                </div>
                            </div>
                        </div>

                        <div class="col col-3">
                            <div class="row">
                                <div class="col col-4">
                                    <label class="lbltxt">DP Start Date</label>
                                </div>
                                <div class="col col-6">
                                    <input id="txtDPStartDate" type="date" name="" class="txtbox txtbox-date">

                                </div>
                            </div>
                        </div>


                        <div class="col col-3">
                            <div class="row">
                                <div class="col col-5">
                                    <label class="lbltxt">Spot Cash Discount</label>
                                </div>
                                <div class="col col-5">

                                    <select class="cmb fullwidth" id="ddSpotCashDiscount"></select>

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col col-2">

                        </div>

                        <div class="col col-3">
                            <div class="row">
                                <div class="col col-4">
                                    <label class="lbltxt">Monthly Amortization</label>
                                </div>
                                <div class="col col-6">
                                    <input type="text" name="" class="txtbox" id="txtMonthlyAmortization">
                                </div>
                            </div>
                        </div>

                        <div class="col col-3">
                            <div class="row">
                                <div class="col col-4">
                                    <label class="lbltxt">Balance Start Date</label>
                                </div>
                                <div class="col col-6">
                                    <input id="txtBalStartDate" type="text">

                                </div>
                            </div>
                        </div>


                        <div class="col col-3">
                            <div class="row">
                                <div class="col col-5">
                                    <label class="lbltxt">Spot Cash Amount</label>
                                </div>
                                <div class="col col-5">

                                    <input type="text" name="" class="txtbox" id="txtCashAmount">

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div id="nwGridPaymentTermDetails"></div>
                    </div>

                </div>


                @*======== Discount Details ======== U*@
                <div id="settingstabs-3" class="detailsTab">
                    <div class="row">
                        <div id="nwGridDiscountCon"></div>
                    </div>
                </div>

                @*======== Add Ons Details ======== U*@
                <div id="settingstabs-4" class="detailsTab">
                    <div class="row">
                        <div id="nwGridAddOnCon"></div>
                    </div>
                </div>

                @*======== Co Buyer Details ======== U*@
                <div id="settingstabs-5" class="detailsTab">
                    <div class="row">
                        <div id="nwGridCoBuyerCon"></div>
                    </div>
                </div>



            </div>


        </div>



    </div>

    <div class="row row-parent padding-10">
        <div class="col col-12" id="conUnitDtlsGrid" ></div>
    </div>
    

</div>

@*Footer*@
<div class="nk-footer-c">
    <div class="nk-footer-info">
        <div class="nk-footer-create">
            <div class="nkf nk-f-createBy">
                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" class="svg-docFooter-icon" data-name="Layer 1" viewBox="0 0 22 22">
                    <path class="svg-docFooter-icon-a" d="M13,2H5A3,3,0,0,0,2,5V17a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V5A3,3,0,0,0,13,2Zm2,15a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3h8a2,2,0,0,1,2,2Zm2.5,0h0a.5.5,0,0,1-.5-.5V5.5a.5.5,0,0,1,.5-.5h0a.5.5,0,0,1,.5.5v11A.5.5,0,0,1,17.5,17Zm2-1h0a.5.5,0,0,1-.5-.5v-9a.5.5,0,0,1,.5-.5h0a.5.5,0,0,1,.5.5v9A.5.5,0,0,1,19.5,16ZM13,8H5V7h8Zm-2,3H5V10h6ZM9,14H5V13H9Z">
                    </path>
                </svg>
                <div id="nwlbl_RecUser" class="nkf-txt">Created By:</div>
            </div>
            <div id="nwtxt_RecUser" class="nkf nk-f-createName"></div>
            <div id="nwlbl_RecDate" class="nkf nk-footer-x"></div>
            <div id="nwtxt_RecDate" class="nkf nk-f-createDate" value=""></div>
        </div>
        <div class="nk-footer-x"></div>
        <div class="nk-footer-modified">
            <div class="nkf nk-f-modifiedBy">
                <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" class="svg-docFooter-icon" data-name="Layer 1" viewBox="0 0 22 22">
                    <path class="svg-docFooter-icon-a" d="M13,2H5A3,3,0,0,0,2,5V17a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V5A3,3,0,0,0,13,2Zm2,15a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3h8a2,2,0,0,1,2,2Zm2.5,0h0a.5.5,0,0,1-.5-.5V5.5a.5.5,0,0,1,.5-.5h0a.5.5,0,0,1,.5.5v11A.5.5,0,0,1,17.5,17Zm2-1h0a.5.5,0,0,1-.5-.5v-9a.5.5,0,0,1,.5-.5h0a.5.5,0,0,1,.5.5v9A.5.5,0,0,1,19.5,16ZM13,8H5V7h8Zm-2,3H5V10h6ZM9,14H5V13H9Z">
                    </path>
                </svg>
                <div id="nwlbl_ModUser" class="nkf-txt">Modified By:</div>
            </div>
            <div id="nwtxt_ModUser" class="nkf nk-f-modifiedName"></div>
            <div id="nwlbl_ModDate" class="nkf nk-footer-x"></div>
            <div id="nwtxt_ModDate" class="nkf nk-f-modifiedDate" value=""></div>
        </div>
    </div>
</div>


@RenderPage("~/SB/DocumentEntry/SBReservationEntry/Popups/SBReservationEntry_RefBaseAddOn.cshtml")
@RenderPage("~/SB/DocumentEntry/SBReservationEntry/Popups/SBReservationEntry_Amortization.cshtml")
@RenderPage("~/SB/DocumentEntry/SBReservationEntry/Popups/SBReservationEntry_MiscellaneousDetails.cshtml")