body[ver="2"][theme="dark"] {
    background: #0070c0 !important;
    background: linear-gradient(to bottom right, #1896e0, #0061a7) !important;
}

body[ver="2"][theme="dark"] .main-c {
    background-color: transparent;
}

body[ver="2"][theme="dark"] #img_default {
    display: none;
}

body[ver="2"][theme="dark"] #img_secondary {
    display: inline-block;
}

body[ver="2"][theme="dark"] .login-text-c,
body[ver="2"][theme="dark"] .login-text-welcome > span:nth-of-type(2) {
    color: #ffc20a;
}

body[ver="2"][theme="dark"] .login-text-welcome,
body[ver="2"][theme="dark"] .login-text-welcome > span:nth-of-type(1) {
    color: #ffffff;
}

body[ver="2"][theme="dark"] .login-ft-lbl {
    color: rgb(255 255 255 / 88%);
    font-weight: 600;
}
body[ver="2"][theme="dark"] .login-ft:nth-of-type(2) .login-ft-img {
    background-image: url('../../../images/login_menu_icon4.png');
}

body[ver="2"][theme="dark"] .login-account-text-hdr {
    background: linear-gradient(to right, #003399, #ffa500 130%);
    color: #ffffff;
    margin: 0;
    border-radius: 0;
}

body[ver="2"][theme="dark"] .center-box {
    border: none;
}

@media only screen and (max-width: 800px) {
    body[ver="2"][theme="dark"] {
        background: #0070c0 !important;
        background: linear-gradient(to bottom right, #1896e0, #0061a7) !important;
    }
}