@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "News";
     Layout =NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/PMO/ReportsAndInquiry/News/News.js"></script>
    <link href="~/PMO/ReportsAndInquiry/News/News.css" rel="stylesheet" />
    <link href="~/materials/fonts/new/fonts.css" rel="stylesheet" />
</head>

<div class="container-flex padding-10">
    <div class="row">
        <div class="row child-centered margin-bottom-10">
            <div class="col col-12">
                <div class="nk-li collapse">
                    <div class="nk-li-title">News (Coming Soon)</div>
                </div>
            </div>
        </div>
    </div>
</div>