
.toolBar-Color-GrayBlue,
#headerMenu {
	color: white;
	background: -webkit-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -moz-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: /*#2f7d1c*/ linear-gradient(to right, #166f63 0%, #1f6b0d 100%);

}
#main_menuSystem,
#main_menuModule,
#main_menuWindows,
#main_menuHelp {
    color: #ffffff;
}
#main_menuSystem:hover,
#main_menuModule:hover,
#main_menuWindows:hover,
#main_menuHelp:hover {
    color: #ffffff;
}
.ui-widget-header:before {
    background: /*#eaeaea*/ #dfdfdf;
}
.noah-webui-dialog-header {
	cursor: default;
	background: -moz-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -ms-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -webkit-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -o-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	color: #FFFFFF;
	border-bottom: 1px solid #1f6b0e;
}
div.noah-webui-dialog {
    min-width: 320px;
    min-height: 80px;
    position: fixed;
    margin: 0 auto;
    z-index: 400;
    border: 1px solid #1f6b0e !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    display: none;
    overflow: hidden;
    padding-bottom: 20px;
}
body .ui-tabs .ui-tabs-active.ui-state-active .ui-tabs-anchor {

}
.box-spliter {
    background: #297517 !important;
}

#explorerMenuItems {
    background: #eaeaea !important;
}

#footerMenu {
    background: -webkit-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: -moz-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: -ms-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: -o-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    border-top-color: transparent;
}
#footerMenu div {
    background-color: #093e22;
    border: none;
    margin-top: 1px !important;
    color: #dddddd;
    border-radius: 2px;
    padding-bottom: 3px;
}
#activeformsList,
#favformsList,
#recformsList {
    background: #2f7d1c;
}

.afcontainer {
	background: -moz-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -ms-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -webkit-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: -o-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
	background: linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
}


/*---*/

#activeformsHeaderButton,
#favformsHeaderButton,
#recformsHeaderButton {
    background-color: #297517;
}
div.toolBar-menu-buttonsActive {
    background: none !important;
    background-color: #1c500f !important;
}
#tabGeneralSettings div:nth-child(2),
#tabGeneralSettings div:nth-child(4) {
	color: #efefef;
}
.emi-Selected {
    background-color: #2d9e80 !important;
}

#explorerMenuItems{
	background-color: #314550;
}

body .ui-tabs .ui-tabs-anchor:before {
    background-color: #398e81 !important;
}

div.emi-title{
}

.afcontainer{
    /*background: -webkit-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: -moz-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: -ms-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: -o-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
    background: linear-gradient(to right, #166f63 0%, #1f6b0d 100%);*/
    background: #dfdfdf;
}

#FormsContainer,
#explorerContainer {
    background: #dfdfdf;
}

.formList
{
	/*background: -webkit-linear-gradient(to bottom, #cedcca 19%, #8dbb82 101%);
	background: -moz-linear-gradient(to bottom, #cedcca 19%, #8dbb82 101%);
	background: -ms-linear-gradient(to bottom, #cedcca 19%, #8dbb82 101%);
	background: -o-linear-gradient(to bottom, #cedcca 19%, #8dbb82 101%);
	background: linear-gradient(to bottom, #cedcca 19%, #8dbb82 101%);*/
	background: #eaeaea;
	color: #dddddd;
	box-shadow: none !important;
}

.emi-activeRow.nwSelected {
    /*background: #176f62 !important;*/
    background: -webkit-linear-gradient(to bottom, #176f62 0%, #10675a 100%) !important;
    background: -moz-linear-gradient(to bottom, #176f62 0%, #10675a 100%) !important;
    background: linear-gradient(to bottom, #176f62 0%, #10675a 100%) !important;
    color: #ffffff !important;
    transition: none;
    /*border-left: 2px solid #2f7d1c;*/
}
.emi-activeRow.nwSelected:hover{
    background: #176f62 !important;
}
.emi-activeRow.nwSelected:before{
/*  content: '';
  position: absolute;
  background-color: #176f62;
  bottom: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  transition: bottom .2s ease-out;*/
}
.emi-activeRow.nwSelected:hover:before{
  /*bottom: 0;*/
}
.emi-activeRow {
	background: #ffffff;
    color: #333333 !important;
    /* border-left: 2px solid #2f7d1c; */
    /* border-radius: 0; */
    z-index: 1;
    position: relative;
    border-radius: 2px;
}
.toolBar-menu-icons-actives {
    color: #efefef;
}
.emi-activeRow:before
/*.toolBar-menu-icons-actives:before*/{
/*  content: '';
  position: absolute;
  background-color: #c0e6dc;
  bottom: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  transition: bottom .2s ease-out;*/
}
.emi-activeRow:hover:before
/*.toolBar-menu-icons-actives:hover:before*/{
	/*bottom: 0;*/
}
/*.toolBar-menu-icons-actives:hover,*/
.emi-activeRow:hover
{
	width: 97% !important;
	/*box-shadow: 0px 0.8px 1.2px #10675a !important;*/
	/*color: #ffffff;*/
	/*1a8c85*/
}


#activeformsHeaderButton:hover,
#favformsHeaderButton:hover,
#recformsHeaderButton:hover{
	background-color: #1c500f !important;
}

div.toolBar-menu-buttonsActive {
    background-color: #1c500f !important;
}


div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(1),
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(2),
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(3) {
    background-color: #1c500f !important;
}
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(1):hover,
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(2):hover,
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(3):hover {
    background-color: #1c500f !important;
}
.toolBar-menu-icons-actives{
	background-color: #bbbbbb !important;
}
.toolBar-menu-buttons:hover,
.toolBar-menu-icons-actives:hover,
#button-hideexplorer:hover{
    background-color: rgba(0,0,0,.16) !important;
    color: #ffffff !important;
}
#main_menuFormNavicator {
	background: rgba(0,0,0,.16);
}

/*---*/

.toolBar-menu-buttons:hover ,
.toolBar-menu-icons-actives:hover,
#activeformsHeaderButton:hover,
#favformsHeaderButton:hover,
#recformsHeaderButton:hover,
.emi-activeRow:hover
{
}

.toolBar-menu-sub {
	background-color: #145b3f;
	border: 1px solid transparent !important;
}
/**/

.toolBar-menu-buttons div.toolBar-menu-sub-label {
    color: #dfdfdf;
}
.toolBar-menu-icons-actives:hover,
.toolBar-menu-sub-row:hover{
    background: #114832;
}
#activeformsContainer,
#activeformsList,
#favformsList,
#recformsList {
	background: #297517;
	border-color: transparent;
}

#activeformsHeaderButton, #favformsHeaderButton, #recformsHeaderButton 
{
	border: 1px solid transparent;
	/*background-color:rgba(235,235,235,0.3);*/
}

#activeformsInfo {
	background: #093e22;
    color: #dddddd;
    font-weight: normal;
    font-family: 'Century Gothic';
    font-size: 11px;
    line-height: 1.5;
}



#explorerContainer {
	background-color: #eaeaea;
	/*background-image: -moz-linear-gradient(left, rgba(0, 50, 0, 0.6), rgba(0, 50, 0, 0.1), rgba(0, 50, 0, 0.3));
	background-image: -ms-linear-gradient(left, rgba(0, 50, 0, 0.6), rgba(0, 50, 0, 0.1),  rgba(0, 50, 0, 0.3));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(0, 50, 0, 0.9)), to( rgba(0, 50, 0, 0.3)));
	background-image: -webkit-linear-gradient(left, rgba(0, 50, 0, 0.6), rgba(0, 50, 0, 0.1),  rgba(0, 50, 0, 0.3));
	background-image: -o-linear-gradient(left, rgba(0, 50, 0, 0.6), rgba(0, 50, 0, 0.1),  rgba(0, 50, 0, 0.3));
	background-image: linear-gradient(left,rgba(0, 50, 0, 0.6),rgba(0, 50, 0, 0.1), rgba(0, 50, 0, 0.3));*/
	color: #333333;
}
#explorerMenuItems {
	background:rgba(0, 0, 0, 0.0);
	box-shadow:none;
}
.toolBar-menu-buttons:hover
{
	color:#212121;
}
.toolBar-menu-sub-label
{
	color: Black;
}
input#menuLoadtxt{
	background: /*#1c500f*/ #efefef !important;
	border-color: transparent;
	border-radius: 2px;
}

div.noah-webui-dialog {
    box-shadow: 0px 0px 5px #555555;
}


/*
.toolBar-menu-label:hover
{
	color:Black;
}

div.noah-webui-dialog {
border: 2px solid #00427a;
box-shadow: 0px 0px 5px #009bf8;
}
*/

#mainContainerContent
{
	background-image:url(../../system_images/noah_logo_mirror.png);
	background-position:95% 90%;
	background-repeat:no-repeat;
}

#explorerMenuItemsHeaderButton{
	border: 1px solid transparent;
}

#explorerMenuItemsHeaderButton {
    background: #297517 !important;
}

.ui-resizable-e {
    background-color: #297517;
}

.formList
{
	/*background:rgba(255,255,255,0.1);*/
}

.noah-webui-dialog-content {
    background-color: #fafafa;
    color: #2f2f2f;
}

.ui-tabs 
{
	background:none;
}


#mainContainer
{
	background: rgb(10, 46, 1);
	background-image: -moz-linear-gradient(left, rgb(217, 236, 217),#2D4B32);
	background-image: -ms-linear-gradient(left, rgb(217, 236, 217), #2D4B32);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from ( rgb(217, 236, 217)), to(#2D4B32));
	background-image: -webkit-linear-gradient(left,rgb(217, 236, 217),#2D4B32);
	background-image: -o-linear-gradient(left, rgb(217, 236, 217),#2D4B32);
	background-image: linear-gradient(left,rgb(217, 236, 217),#2D4B32);
	background-repeat: repeat-x;

	background-image: -webkit-linear-gradient(top,rgb(217, 236, 217), #2D4B32);
	background-image: -o-linear-gradient(top, green,#00420B);
}

#nwTheme_Con
{
	margin:0 auto;
	overflow:auto;
	height:350px;
	padding-bottom:30px;
	border:1px solid #AEAEAE;
	margin-top:4px;
}

.nwTheme_Item
{
	display:inline-block;
	min-width:200px;
	max-width:200px;
	min-height:150px;
	max-height:150px;
	margin-top:20px;
	margin-left:16px;
	cursor:pointer;
	background-color:#AEAEAE;
	overflow:hidden;

	border: 3px solid #bbbbbb;
	border-radius: 4px;
	z-index: 1;
	position: relative;
	transition: .3s ease-in-out all;
}

.nwTheme_Item:before{
	/*content: 'DEFAULT';
	text-align: center;
	position: absolute;
	background-color: #777777 !important;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0px;
	z-index: 2;*/
	/*box-shadow: 0 -1.5px 15px rgba(0,0,0, .3);*/
	/*transition: height .3s ease;*/
}

.nwTheme_Item:hover:before{
	/*height: 30px;*/
}

.nwTheme_Item:hover{
	border:  3px solid #777777;
	box-shadow: 0px 7px 12px rgba(0,0,0, .3);
}

#tabGeneralSettings div:nth-child(2), #tabGeneralSettings div:nth-child(4){
	border-color: #6faba2 !important;
    background: #6faba2 !important;
}

#emlb1,
#smsb1,
#btn_apply {
	background-color: #166f61;
}

#emlb1:before,
#smsb1:before,
#btn_apply:before{
	background-color: #0f4e44 !important;
}
body .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin: 11px 0px 0 0px;
}
.ui-tabs .ui-tabs-nav li {
	margin: 14px 0px 0 0px;
}
body .ui-tabs .ui-tabs-active.ui-state-active .ui-tabs-anchor{    
	background: #176f62 !important;
	border: 1px solid #176f62;
	color: #efefef;
	font-weight: normal;
	font-size: 12px !important;
}
body .ui-tabs .ui-tabs-anchor {
    background-color: #248274 !important;
    border: 1px solid #248274;
	color: #efefef;
	font-weight: normal;
	font-size: 11px !important;
}

#menuCreatorContainerHolder , .dimMessageBoxHeader {
	background: -webkit-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
	background: -moz-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
	background: -ms-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
	background: -o-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
	background: linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
}
.toolBar-menu-sub-row-seperator {
    border-top: 1px solid #093a27;
}
.ui-widget-header {
    border-bottom: 1px solid /*#6d7a7f*/ #176f62;
}
/*---11-19-2018---*/
.nwButton {
    border: 2px solid #136a5d !important;
    color: #136a5d !important;
}
.nwSave {
    background-color: #136a5d !important;
    color: #fafafa !important;
}
/*---12-03-2018---*/
.emi-activeRow:hover {
    border: 1px solid #bbbbbb !important;
}
.emi-activeRow.nwSelected:hover {
    border: 1px solid transparent !important;
}








/*------*/
@media only screen and (max-width: 800px){
	#headerMenu {
	    background: #1c6c26;
	    -webkit-background: linear-gradient(to top right, #1f6b0d, #166f63);
	    -moz-background: linear-gradient(to top right, #1f6b0d, #166f63);
	    -ms-background: linear-gradient(to top right, #1f6b0d, #166f63);
	    background: linear-gradient(to top right, #1f6b0d, #166f63);
	}
	div#menuLoad {
	    background: #1c6c26;
	    -webkit-background: linear-gradient(to bottom left, #1f6b0d, #166f63);
	    -moz-background: linear-gradient(to bottom left, #1f6b0d, #166f63);
	    -ms-background: linear-gradient(to bottom left, #1f6b0d, #166f63);
	    background: linear-gradient(to bottom left, #1f6b0d, #166f63);
	    border-bottom: 1px solid transparent;
	}
	div#headerMenu .toolBar-menu-buttons {
    	background: #0e4a15;
	}
	.toolBar-menu-sub-row {
	     background: #145b3f; 
	}
	div#headerMenu .toolBar-menu-buttons:not(#_hamburger):hover {
    	background-color: #14380c !important;
	}
	#_hamburger{
		background-color: /*#2f7d1c*/ transparent !important;
	}
	#activeformsContainer,
	#activeformsList,
	#favformsList,
	#recformsList {
	    background: #eaeaea;
	    border-top: 1px solid #1c500f; 
	}
	#explorerMenuItems {
	    border-bottom: 1px solid #afb5b7;
	}
	.toolBar-menu-icons-actives:hover/*,
	.toolBar-menu-sub-row:hover*/ {
	    background-color: rgba(0,0,0,.26) !important;
	}
	div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(1):hover,
	div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(2):hover,
	div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(3):hover {
	    background-color: rgba(0,0,0,.26) !important;
	}
        #mainContainerContent{
            background: #dfdfdf !important;
        }
        #toolBar-maxi-Buttons{
            background: -webkit-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
            background: -moz-linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
            background: linear-gradient(to right, #166f63 0%, #1f6b0d 100%);
		    box-shadow: inset 0 2px 3px rgba(0,0,0,.26);
		}
        #footerMenu{
            height: 151px;
		    background: -webkit-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
		    background: -moz-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
		    background: -ms-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
		    background: -o-linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
		    background: linear-gradient(to bottom right, #166f63 0%, #1f6b0d 100%);
		    border-top-color: /*#1c500f*/ transparent;
        }
        #footerMenu div{
            width: 99% !important;
            margin: 0 !important;
            margin-top: 4px !important;
            border-radius: 2px;
            padding-bottom: 2px;
            border: 1px solid transparent;
            box-shadow: none;
        }
        .emi-activeRow, .toolBar-menu-icons-actives{
        	border-color: #bbbbbb;
        }
        #footerMenu div:first-child{
            margin-top: 5px !important;
        }
        #_expandFooter {
            background: #607d8b;
        }
        .toolBar-menu-buttonsActive {
		    border-top-left-radius: 0px;
		    border-top-right-radius: 0px;
		}
		#toolBar-maxi-Buttons div {
		    border-color: transparent;
		}
		div.toolBar-menu-sub-show {
		    background: rgba(0,0,0,.66);
		}
		div#nwHeaderTitle {
		    left: 0px;
		    color: /*#eaeaea*/ #fafafa;
		    font-weight: normal !important;
		}
		#settingstabs .ui-widget-header:before {
		    background: #dfdfdf;
		}
	    #smsb1,
	    #emlb1 {
	        margin: -2.4px 10px 0 -8px !important;
	    }
	    #btn_apply {
	        margin: 0.4px 10px 0 -8px !important;
	    }
		.nwTheme_Item {
		    margin: 20px auto;
		    display: block;
		}
		#nwTheme_Con {
		    height: 82%;
		}
}