
.toolBar-Color-GrayBlue {
background-color: #005F97;
background-repeat: repeat-x;
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
background-color: rgba(255, 153, 209, 1);
background-image: -moz-linear-gradient(top, rgba(201, 0, 18, 1),rgba(118, 6, 6, 1));
background-image: -ms-linear-gradient(top, rgba(251, 152, 206, 1),rgba(255, 96, 185, 1));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(201, 0, 18, 1)), to(rgba(118, 6, 6, 1)));
background-image: -webkit-linear-gradient(top,rgba(201, 0, 18, 1),rgba(118, 6, 6, 1));
background-image: -o-linear-gradient(top, rgba(201, 0, 18, 1),rgba(118, 6, 6, 1));
background-image: linear-gradient(top, rgba(201, 0, 18, 1),rgba(118, 6, 6, 1));
background-repeat: repeat-x;
color: white;
}

.noah-webui-dialog-header {
cursor: default;
box-shadow: inset 0px 0x 4px #FFFFFF;
background-color: #0C44C3;
background-image: -moz-linear-gradient(left, #200C0C, #420000, #FF0000);
background-image: -ms-linear-gradient(left,#200C0C, #420000, #FF0000);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#200C0C), to(#FF0000));
background-image: -webkit-linear-gradient(left, #200C0C, #420000, #FF0000);
background-image: -o-linear-gradient(left,#200C0C, #420000, #FF0000);
background-image: linear-gradient(left,#200C0C, #420000, #FF0000);
background-repeat: repeat-x;
color: #FFFFFF;
}

div.noah-webui-dialog {
border: 2px solid #FFFFFF;
border-radius: 10px;
overflow: hidden;
box-shadow: 0px 0px 1px #313131;
}



.toolBar-menu-buttons:hover , .toolBar-menu-icons-actives:hover
,.toolBar-menu-sub-row:hover
,#activeformsHeaderButton:hover , #favformsHeaderButton:hover , #recformsHeaderButton:hover
,.emi-activeRow:hover
{
	color:Black;
}

.toolBar-menu-sub {
background-color: #FFFFFF;
border: 1px solid #EEEEEE;

}/**/

#activeformsContainer ,
#activeformsList, #favformsList, #recformsList{
background: #590000;

}

#activeformsHeaderButton, #favformsHeaderButton, #recformsHeaderButton 
{
	border: 1px solid rgba(235,235,235,0.5);
	background-color:rgba(235,235,235,0.3);
}

#activeformsInfo {
background: #FF1111;
color: rgb(233, 233, 233);
}

#explorerContainer {
background-color: #860000;

}
.toolBar-menu-buttons:hover
{
	color:#212121;
}
.toolBar-menu-sub-label
{
	color: Black;
}


#mainContainerContent
{
	background-image:url(../../system_images/noah_logo_mirror.png);
	background-position:95% 90%;
	background-repeat:no-repeat;
	
	background-size: 9%;
}

#mainContainer
{
	background: rgb(10, 46, 1);
	background-image: -moz-linear-gradient(top,#FFFBFF,#A58989);
	background-image: -ms-linear-gradient(top,  #FFFBFF,#A58989);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (  #FFFBFF), to(#A58989));
	background-image: -webkit-linear-gradient(top, #FFFBFF,#A58989);
	background-image: -o-linear-gradient(top, #FFFBFF,#A58989);
	background-image: linear-gradient(top, #FFFBFF,#A58989);
	background-repeat: repeat-x;
}


#explorerMenuItemsHeaderButton
{border: 1px solid #FFFFFF;
}

.formlist
{
	background-color: #F4F4F4;
	background-image: -moz-linear-gradient(bottom,rgba(200, 10, 10, 0.58),rgba(255, 255, 255, 1));
background-image: -ms-linear-gradient(bottom,rgba(200, 10, 10, 0.58), rgba(255, 255, 255, 1));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(200, 10, 10, 0.58)), to(rgba(255, 255, 255, 1)));
background-image: -webkit-linear-gradient(bottom,rgba(200, 10, 10, 0.58), rgba(255, 255, 255, 1));
background-image: -o-linear-gradient(bottom,rgba(200, 10, 10, 0.58),rgba(255, 255, 255, 1));
background-image: linear-gradient(bottom,rgba(200, 10, 10, 0.58), rgba(255, 255, 255, 1));
background-repeat: repeat-x;
	
}
#gen_NotiCollect
{
	background-color: rgba(0, 0, 0, 0.4);
}
	

#explorerMenuItems {
background: #FFFFFF;
}



body .ui-tabs .ui-tabs-active.ui-state-active, .ui-tabs .ui-
tabs-active.ui-state-active
{

background-color: #F896E8;
	background-image: -moz-linear-gradient(bottom, #FF0909, #C52C2C);
background-image: -ms-linear-gradient(bottom, #FF0909, #C52C2C);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#FF0909), to(#C52C2C));
background-image: -webkit-linear-gradient(bottom,#FF0909, #C52C2C);
background-image: -o-linear-gradient(bottom, #F896E8,#C52C2C);
background-image: linear-gradient(bottom, #FF0909, #C52C2C);
background-repeat: repeat-x;
}
/*
.ui-widget-header{
	background-color: #EFA2FF;
	background-image: -moz-linear-gradient(bottom, #EFA2FF,#FDFDFD);
background-image: -ms-linear-gradient(bottom, #EFA2FF, #FDFDFD);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#EFA2FF), to(#FDFDFD));
background-image: -webkit-linear-gradient(bottom,#EFA2FF, #FDFDFD);
background-image: -o-linear-gradient(bottom, #EFA2FF,#FDFDFD);
background-image: linear-gradient(bottom, #EFA2FF, #FDFDFD);
background-repeat: repeat-x;
}

#gen_NotiCollect{
background-color: rgba(255, 161, 240, 0.5);
}


body .ui-tabs
{ border: 1 solid #FA72FF; }


.ui-widget-header{
border: 1px solid rgba(247, 171, 171, 0.5);
}
*/



#activeformsInfo,
#main_menuSystem ,#main_menuModule ,#main_menuWindows ,#main_menuHelp ,
#footerMenu,
#activeformsHeaderButton, #favformsHeaderButton, #recformsHeaderButton
 {
	text-shadow: 1px 1px 1px #212121;
}

#activeformsInfo:hover,
#main_menuSystem:hover ,#main_menuModule:hover ,#main_menuWindows:hover ,#main_menuHelp:hover ,
#main_menuSystem div.toolBar-menu-sub
,#main_menuModule div.toolBar-menu-sub
,#main_menuWindows div.toolBar-menu-sub 
,#main_menuHelp div.toolBar-menu-sub,
#activeformsHeaderButton:hover, #favformsHeaderButton:hover, #recformsHeaderButton:hover,
#activeformsHeaderButton.toolBar-menu-buttonsActive, #favformsHeaderButton.toolBar-menu-buttonsActive, #recformsHeaderButton.toolBar-menu-buttonsActive
{
	text-shadow:  1px 1px 1px #DEDEDE;
}






















/*---09-04-2018---*/
/*---Modified by Alvin Bndct---*/
#activeformsInfo:hover, #main_menuSystem:hover, #main_menuModule:hover, #main_menuWindows:hover, #main_menuHelp:hover, #main_menuSystem div.toolBar-menu-sub, #main_menuModule div.toolBar-menu-sub, #main_menuWindows div.toolBar-menu-sub, #main_menuHelp div.toolBar-menu-sub, #activeformsHeaderButton:hover, #favformsHeaderButton:hover, #recformsHeaderButton:hover, #activeformsHeaderButton.toolBar-menu-buttonsActive, #favformsHeaderButton.toolBar-menu-buttonsActive, #recformsHeaderButton.toolBar-menu-buttonsActive {
    text-shadow: none;
}
#headerMenu {
    background: #cb2d3e;
    background: -webkit-linear-gradient(to bottom right, #cb2d3e, #bd0000);  /* Chrome 10-25, Safari 5.1-6 */
    background: -moz-linear-gradient(to bottom right, #cb2d3e, #bd0000);
    background: linear-gradient(to bottom right, #cb2d3e, #bd0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main_menuSystem,
#main_menuModule,
#main_menuWindows,
#main_menuHelp {
    position: relative;
    margin-left: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    color: #ffffff;
}
#main_menuSystem:hover,
#main_menuModule:hover,
#main_menuWindows:hover,
#main_menuHelp:hover {
    cursor: pointer;
    background: #a70607;
    text-shadow: none;
    color: #efefef !important;
}
input#menuLoadtxt {
    border: 1px solid /*#6d7a7f*/ #c82432;
    padding: 2px;
    font-size: 11px;
    min-width: 200px;
    padding: 5px 8px 5px 8px;
    background: #ffffff;
    /* border: none; */
    border-radius: 3px !important;
    height: 27px;
    margin-top: -2px !important;
    width: 220px;
    font-weight: bold;
    font-family: 'Century Gothic';
    margin-left: 5px;
    outline: none;
    color: #ffffff;
    transition: .5s ease all;
}
input#menuLoadtxt:focus {
    border: 1px solid transparent;
}
input#menuLoadtxt::placeholder {
    font-style: normal;
    font-weight: normal;
    color: #777777;
}
.toolBar-menu-sub-row:hover {
    background-color: #ffd9dd;
    border-radius: 0px;
}
div.toolBar-menu-sub-show {
    display: block;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top: 1px dashed #ca2b3b;
    border-bottom: 1px dashed #ca2b3b;
}
#explorerMenuItemsHeaderButton {
    background: #ca2b3b !important;
}
#explorerMenuItemsHeaderButton {
    border: 1px solid #ca2b3b;
}
#button-hideexplorer {
    padding-right: 4px !important;
}
.ui-resizable-e {
    background-color: #ca2b3b;
}
.box-spliter {
    background-color: #ca2b3b !important;
    background-image: none;
}
.formlist {
    background-color: #efefef;
    background-image: none;
    border-left: 1px solid #efefef;
}
#activeformsContainer,
#activeformsList,
#favformsList,
#recformsList {
    background: #ca2b3b;
}
#activeformsHeaderButton,
#favformsHeaderButton,
#recformsHeaderButton {
    background: #ca2b3b;
    border-color: /*#ca2b3b*/ transparent;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    border-left: 1px dashed #efefef;
    border-right: 1px dashed #efefef;
}
#activeformsHeaderButton:hover,
#favformsHeaderButton:hover,
#recformsHeaderButton:hover {
    color: #ffffff;
    background: -webkit-linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    background: -moz-linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    background: linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    border-left: 1px dashed #efefef !important;
    border-right: 1px dashed #efefef !important;
}
div.toolBar-menu-buttonsActive {
    background-color: #6cab4d;
    background: -webkit-linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    background: -moz-linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    background: linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6) !important;
    border-left: 1px dashed #efefef !important;
    border-right: 1px dashed #efefef !important;
}
.emi-activeRow {
    border-radius: 3px;
}
.emi-activeRow.nwSelected {
    background: -webkit-linear-gradient(to bottom, #cb2d3e, #bd0000);
    background: -moz-linear-gradient(to bottom, #cb2d3e, #bd0000);
    background: linear-gradient(to bottom, #cb2d3e, #bd0000);
    border: none;
    border-radius: 3px;
    color: #ffffff !important;
}
.emi-activeRow.nwSelected:hover {
    color: #ffffff !important;
}
#activeformsInfo {
    background: #5b5b5b;
    color: #efefef;
    text-shadow: none !important;
/*  background: -webkit-linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    background: -moz-linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    background: linear-gradient(to bottom, #6cab4d, #598e3f) !important;
    border-color: #69a64b;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    letter-spacing: .3px;*/
}
#footerMenu {
    text-shadow: none;
    background-color: #444444;
    background-image: none;
    border-top: 1px dashed #efefef;
}
#footerMenu div {
    border-radius: 2px;
    border-color: transparent;
    background-color: #444444;
    color: #ffffff;
    /*font-weight: bold;*/
}
#toolBar-maxi-Buttons div {
    background-color: transparent !important;
}
#toolBar-maxi-Buttons > div:nth-of-type(1) {
    margin-right: 3px;
}
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(1):hover,
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(2):hover,
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(3):hover {
    background-color: rgba(0,0,0,.12) !important;
}
#toolBar-maxi-Buttons div {
    margin-top: 2px;
}
div#nwHeaderTitle {
    font-family: 'Open Sans';
    /* text-transform: uppercase; */
    font-size: 12px;
    /* font-weight: bold; */
    margin-top: 2px;
    padding: 0 8px;
    position: relative;
}
div#nwHeaderTitle:before {
    content: '';
    position: absolute;
    width: 105%;
    height: 3px;
    background-color: rgba(0,0,0,.24);
    bottom: -8px;
    left: -2.5%;
    z-index: -1;
}
/*---Message Box---*/
div.noah-webui-dialog {
    border: 1px solid #cb2d3e !important;
    border-radius: 7px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.noah-webui-dialog-header {
    background: #cb2d3e;
    border-radius: 0;
    border-bottom: 1px dashed /*#efefef*/ transparent;
}
.ui-widget-header:before {
    background: #cb2d3e;
}
body .ui-tabs .ui-tabs-active.ui-state-active .ui-tabs-anchor {
    color: #2f2f2f;
}
#emlb1,
#smsb1,
#btn_apply {
    background: /*#5d8492*/ #cb2d3e;
}
/*------*/
/*---11-19-2018---*/
.nwButton {
    border: 2px solid #598e3f !important;
    color: #598e3f !important;
}
.nwSave {
    background-color: #598e3f !important;
    color: #fafafa !important;
}



















/*---Media Screen---*/
@media only screen and (max-width: 800px){
        input#menuLoadtxt::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #cecece /*#aaaaaa*/ !important;
        font-style: normal;
    }
    input#menuLoadtxt::-ms-input-placeholder { /* IE 10+ */
        color: #cecece /*#aaaaaa*/ !important;
        font-style: normal;
    }
    input#menuLoadtxt::-moz-placeholder { /* Firefox 18- */
        color: #cecece /*#aaaaaa*/ !important;
        font-style: normal;
    }
    /* - Internet Explorer 10–11
       - Internet Explorer Mobile 10-11 */
    input#menuLoadtxt::-ms-input-placeholder {
        color: #cecece /*#aaaaaa*/;
        font-weight: 400 !important;
    }

    /* Edge (also supports ::-webkit-input-placeholder) */
    input#menuLoadtxt::-ms-input-placeholder {
        color: #cecece /*#aaaaaa*/ !important;
        font-weight: 400;
    }

    /* CSS Pseudo-Elements Level 4 Editor's Draft */
    input#menuLoadtxt::placeholder {
        color: #cecece /*#aaaaaa*/ !important;
        font-weight: 400;
    }
    #headerMenu {
        background: -webkit-linear-gradient(to right, #bd0000, #cb2d3e);
        background: -moz-linear-gradient(to right, #bd0000, #cb2d3e);
        background: linear-gradient(to right, #bd0000, #cb2d3e);
    }
    div#menuLoad {
        background: -webkit-linear-gradient(to right, #bd0000, #cb2d3e);
        background: -moz-linear-gradient(to right, #bd0000, #cb2d3e);
        background: linear-gradient(to right, #bd0000, #cb2d3e);
        border-bottom-color: transparent;
    }
    #activeformsContainer,
    #activeformsList,
    #favformsList,
    #recformsList {
        background: #dfdfdf;
        border-top: 1px dashed #ca2b3b;
    }
    #activeformsHeaderButton,
    #favformsHeaderButton,
    #recformsHeaderButton {

    }
    div.toolBar-menu-buttonsActive {
        border-top-color: #69a74b !important;
    }
    #activeformsHeaderButton,
    #favformsHeaderButton,
    #recformsHeaderButton {
        border-color: transparent !important; 
    }
    #activeformsHeaderButton:hover,
    #favformsHeaderButton:hover,
    #recformsHeaderButton:hover {
        border-color: transparent !important; 
    }
    #activeformsList, #favformsList, #recformsList {
        margin-top: 0;
    }
    #_showModName > img,
    #_expandMenuLoad > img,
    #_hamburger_icon > span {
        filter: none;
    }
    #toolBar-maxi-Buttons {
        background: /*#444444*/ #cb2d3e;
    }
    div#nwHeaderTitle {
        font-weight: normal;
        color: #ececec;
        text-shadow: none; 
    }
    .ui-widget-header:before {
        background: #dfdfdf;
    }
    div#headerMenu .toolBar-menu-buttons {
        background: #3f3f3f;
    }
    div#headerMenu .toolBar-menu-buttons:hover {
        background: #4f4f4f;
    }
    #footerMenu {
        text-shadow: none;
        /*background-color: #cb2d3e;*/
        background-image: none;
        border-top: 2px dashed #ffffff;
        /* color: #444444; */
    }
    #footerMenu div {
        border-radius: 2px;
        border-color: transparent;
        /*background-color: #cb2d3e;*/
        color: #efefef;
        font-weight: bold;
        box-shadow: none;
        border-bottom: 1px dashed rgba(0,0,0,.24);
    }
    div#nwHeaderTitle:before {
        content: '';
        background-image: url(../../icons/icon-menu-items-16.png);
        background-position: center center;
        background-size: 100%;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 6px;
        top: 2px;
        z-index: 1;
    }
    #settingstabs .ui-widget-header:before {
        background: #cb2d3e;
    }
}
