.idval {
        
            margin-right: 0px !important;
        
        }

        
        .history-container {
	            width: 632px;
	            max-width: 632px;
	            min-width: 632px;
        }

        .hist-div {
            margin-left: 150px;
        }

        #btnHistory {
        margin-right: 20px;
        min-width: 120px;
        max-width: 120px;
        border-radius: 5px;
        color: white;
        background: linear-gradient(to bottom, #dcdcdc -10%, #2d2a26 100%);
        }


.nwCuz-001 {

    background:#EFEFEF;

}

.nwCuz-002 {

    padding-bottom:15px;

}

.nwCuz-003 {

    width:150px;

}

.nwCuz-004 {

    min-width: 450px;

}

.nwCuz-005 {

    width:150px; float:right; display:none;

}


.nwCuz-006 {

    min-width: 450px;

}

.nwCuz-007 {

    width:152px;

}

.nwCuz-008 {

    width: 150px;

}

.nwCuz-009 {

    background:#DEDEDE; padding-bottom:20px !important;

}

.nwCuz-010 {

    width :140px; font-size :12px;

}

.nwCuz-011 {

    width :180px; font-size :12px;

}

.nwCuz-012 {

    width:100%;
    /*height:80%;*/
}

.nwCuz-013 {

    background-color:White; min-width:570px; min-height:190px;

}

.nwCuz-014 {

    width:115px;

}

.nwCuz-015 {

    width:60px; font-size:11px;

}

.nwCuz-016 {

    width:330px; font-size:11px;

}

.nwCuz-017 {

    width: 190px !important; margin-left: 30px;

}

/*.nwCuz-017 {

    min-width:550px;max-width:550px;min-height:130px;

}*/

.nwCuz-018 {

    width:377px;

}

.nwCuz-019 {

    width:100px;

}
