@{
    Layout = null;
}
<!DOCTYPE html>

@using Microsoft.AspNet.Identity
@{
    //Session["noahwebUserID"] += "";
    //string x_struser = Session["noahwebUserID"].ToString();

    string x_struser = User.Identity.GetUserName();
    if (Request.IsAuthenticated && x_struser != "")
    {
        Response.Redirect("\\home\\" + Request.Url.Query);
    }
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Welcome to @NoahWebLib.nwSystem.GetAppSettings("AppTitle")</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#184688" />

    <link rel="shortcut icon" href="~/Main/PortalMaterials/system_images/ThemeImage/logo40x40.png" />
    <script src="~/materials/jslib/fpti.js"></script>
    <script src="~/materials/jslib/fptiextra.js"></script>
    <script src="~/materials/jslib/fptistyle.js"></script>
    <script src="~/materials/jslib/noahwebAAGlib.js"></script>

    <link href="~/materials/css/login.css" rel="stylesheet" />

    <link href="~/Main/PortalMaterials/css/newERA/font/font-style/font-style.css" rel="stylesheet" />
    <link href="~/Main/PortalMaterials/css/noah_web-ui-ver2.css' rel='stylesheet" />
    <link href="~/Main/PortalMaterials/css/newERA/login.css" rel="stylesheet" />
    <link href="~/Main/PortalMaterials/css/newERA/login_v3.css" rel="stylesheet" />
    <link href="~/Main/PortalMaterials/css/newERA/theme/login_v3_dark.css" rel="stylesheet" />

    <style>

    .lgn-aSlider {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .lgn-sliderCon {
        position: relative;
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }

    .lgn-slider-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        transition: 1s ease-in-out;
        overflow: hidden;
    }

    .lgn-slider-img img {
        width: 100%;
        height: 100%;
    }
    </style>

    @*<script type="text/javascript" src="~/Main/PortalMaterials/js/newERA/login.js"></script>*@
   

    <script type="text/javascript" src="~/materials_main/js/login.js" nonce="@NoahWebLib.NonceHelper.ScriptNonce()"></script>
    <script type="text/javascript" src="~/Main/PortalMaterials/js/newERA/fx_login.js"></script>

</head>
<body ver="3" theme="">

        <div id="bodyBG"></div>

        <div class="new-c">
            <div class="new-hdr">
                <div class="new-hdr_l">
                    <img src="~/Main/PortalMaterials/images/NOAH-with-Advancing-the-role-of-ERP-03.png" />
                </div>
                <div class="new-hdr_r">
                    <div class="Login-version"></div>
                </div>
            </div>
            <div class="new-mid">
                <div class="new-mid_l">
                    <div class="new-upper-text">
                        <div>Welcome to</div>
                        <div id="compname">@NoahWebLib.nwSystem.GetAppSettings("AppTitle")</div>
                        <div>@NoahWebLib.nwSystem.GetAppSettings("AppType")</div>
                    </div>
                    <div class="new-login-account-text" style="display: none;">Login to your account</div>
                    <div class="new-field-c">
                        <div class="new-comp-c new-comp-user-c">
                            <div class="new-txtlbl">Username</div>
                            <div class="new-comp-icon"></div>
                            <input type="text" name="username" autocomplete="off" checked="" class="textLogin new-txtinput" id="txtUsername" runat="server" ontextchanged="txtUsername_TextChanged" autopostback="True" placeholder="" />
                        </div>
                        <div class="new-comp-c new-comp-pass-c">
                            <div class="new-txtlbl">Password</div>
                            <div class="new-comp-icon"></div>
                            <input type="password" name="password" autocomplete="off" checked="" class="new-txtinput" id="txtPassword" runat="server" ontextchanged="txtUsername_TextChanged" autopostback="True" placeholder="" />
                        </div>

                        <div id="conPow" class="txt-cont2 hide2">
                            <label for="poweruser">Power User</label>
                            <select class="login-sel" id="poweruser">
                                <option>Test</option>
                                <option>Test</option>
                                <option>Test</option>
                            </select>
                        </div>
                        <div id="conCompany" class="txt-cont2 hide2">
                            <label for="dpCombo">Company</label>
                            <select class="login-sel" id="dpCombo">
                                <option>Test</option>
                                <option>Test</option>
                                <option>Test</option>
                            </select>
                        </div>

                        <div id="conCapcha" class="captcha-main-cont hide2">
                            <div id="captcha-cont" class="">
                                <span>Please enter the text from the image</span>
                                <span>
                                    <img src="" id="captcha-img" />
                                </span>
                                <input type="text" name="" autocomplete="off" checked="" class="textLogin" id="txtCaptcha" runat="server" ontextchanged="" autopostback="True" placeholder="Enter text" />
                            </div>
                        </div>

                        <div id="conMessage">
                            <div class="nwRed">
                                <span id="errrormess"></span>
                            </div>
                        </div>

                        <button id="Button1" class="">Login</button>
                        <a id="forgotpass" href="ForgotPassword.aspx">Forgot your password?</a>

    

                    </div>
                </div>

                <div class="new-mid_r">
                    @*<div class="new-big-img">
                        <img id="img_primary" src="~/PortalMaterials/images/MALE.png" alt="Aboitiz Land, Inc.s • Big Male Image" />
                        <img id="img_secondary" src="~/PortalMaterials/images/FEMALE.png" alt="Aboitiz Land, Inc.s • Big Female Image" />
                    </div>*@

                    <div class="lgn-aSlider">
                        <div class="lgn-sliderCon" nwData-autoplay="true">
                            <div class="lgn-slider-img">
                                <img src="~/Main/PortalMaterials/images/sample-image-one.jpg">
                            </div>
                            <div class="lgn-slider-img">
                                <img id="img_primary" src="~/Main/PortalMaterials/images/sample-img-six.jpg" >
                            </div>
                            <div class="lgn-slider-img">
                                <img src="~/Main/PortalMaterials/images/sample-img-three.jpg">
                            </div>
                            <div class="lgn-slider-img">
                                <img id="img_primary" src="~/Main/PortalMaterials/images/sample-img-five.jpg">
                            </div>
                        </div>
                    </div>
                  
                    @*<div id="typeWriterFx1" class="new-login-text-c"></div>*@
                    <div class="login-title-bVerse">❝ Matthew 6:26 - Obey God's Arrangements ❞</div>
                    <div class="login-desc-bVerse">From this verse, Jesus tells us not to worry about the future. We are created by God. In order to make people survive better on earth, 
                    God created everything that mankind requires in advance. As it is recorded in the Bible that when God commanded Abraham to the land which God promised him, 
                    he didn’t consider his future and left his hometown.</div>
                    @*<div class="new-feat-img-c">
                        <div class="new-feat-img">
                            <div class="new-feat-img-icon"></div>
                            <div class="new-feat-img-lbl">View and manage your account easily</div>
                        </div>
                        <div class="new-feat-img">
                            <div class="new-feat-img-icon"></div>
                            <div class="new-feat-img-lbl">Access your invitations and join events conveniently</div>
                        </div>
                        <div class="new-feat-img">
                            <div class="new-feat-img-icon"></div>
                            <div class="new-feat-img-lbl">Monitor your Purchase Orders, deliveries, and billing statuses readily</div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>


        <div id="annContainer" style="display:none;">
            <div id="announcement-icon">
                <img src="~/Main/PortalMaterials/system_images/login_Announce.png" alt="Announcement" />
            </div>
            <!--<div id="welcometext">Welcome to <span>NOAH</span></div>-->
            <div id="welcometext">Aboitiz Land, Inc.s</div>
            <!--<div id="contenttext">login to access your account</div>-->
            <div id="contenttext">Aboitiz Land, Inc.s can adapt and integrate with current IT infrastructure, data, and resources of a company thereby greatly enhancing business processes.</div>
            <span class="rounded-div" id="rd-big-left1"></span>
            <span class="rounded-div" id="rd-small-left1"></span>
        </div>

        <!-- Button for Announcement (Mobile View) -->
        <div id="btnTopNav">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Popup message notification -->
        <div id="popValidating" class="pop-msg-cont hide">
            <div class="pop-msg-box2">
                <span></span>
                <span></span>
                <span></span>

                <div class="b-box">
                    <span id="b-ball1" class="b-ball"></span>
                    <span id="b-ball2" class="b-ball"></span>
                    <span id="ld-text">NOAH is validating..</span>
                </div>


                <div></div>
            </div>
        </div>
        <div class="pop-msg-cont hide" style="">
            <div class="pop-msg-box">
                <span></span>
                <span class="pop-x">
                    <span></span>
                    <span></span>
                </span>
                <span class="pop-top-label">System Message</span>
                <div></div>
            </div>
        </div>

        <div class="shapes-cont" id="shapes-cont-body">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


</body>
</html>
