.slr-p.new-np.my-space[theme="green"] {
    font-family: 'Raleway', 'Century Gothic', 'Open Sans', 'Segoe UI', 'Comfortaa', 'Montserrat', sans-serif;
}
.slr-p.new-np.my-space[theme="green"] .welcome-remarks,
.slr-p.new-np.my-space[theme="green"] .summary-header {
    background: linear-gradient(to right, #327b37, #368882);
    border-radius: 5px;
}
.slr-p.new-np.my-space[theme="green"] .welcome-remarks-sec.left,
.slr-p.new-np.my-space[theme="green"] .summary-header-sec.left {
    color: #ffffff;
}
.slr-p.new-np.my-space[theme="green"] .welcome-text-c {
    color: #ffffff;
    font-family: 'Raleway', 'Century Gothic', 'Open Sans', 'Segoe UI', 'Comfortaa', 'Montserrat', sans-serif;
}
.slr-p.new-np.my-space[theme="green"] span.welcome-customtext {
    color: #ffffff;
}
.slr-p.new-np.my-space[theme="green"] .hdr-tile,
.slr-p.new-np.my-space[theme="green"] .summary-header .hdr-tile {
    background: linear-gradient(to right, rgba(0,0,0,.16), rgba(0, 0, 0, 0.22));
}
.slr-p.new-np.my-space[theme="green"] .nav-user-img {
    background-color: #e4f7e6;
}
.slr-p.new-np.my-space[theme="green"] .nav-user-dd:hover {
    background-color: #e4f7e6;
}
.nav-user-dd:hover .nav-user-name {
    color: #555555;
}
.slr-p.new-np.my-space[theme="green"] .nav-user-dd:hover:after {
    border-color: #555555;
}
.slr-p.new-np.my-space[theme="green"] .nav-user-ddli {
    border-top: 2px solid #368882;
}
.slr-p.new-np.my-space[theme="green"]  .nav-user-ddli:after {
    border-color: #368882 transparent transparent transparent;
}
.slr-p.new-np.my-space[theme="green"] .lbl-hdr-row label,
.slr-p.new-np.my-space[theme="green"] label.lbl-hdr-text {
    color: #368882;
}
.slr-p.new-np.my-space[theme="green"] .lbl-title-list {
    color: #368882;
    border-left: 4px solid #368882;
}
.slr-p.new-np.my-space[theme="green"] .lbl-title-note-land {
    color: #368882;
}
.slr-p.new-np.my-space[theme="green"] .li-item-name {
    color: #368882;
    font-weight: 700;
}
.slr-p.new-np.my-space[theme="green"] .btn.btnReturn {
    line-height: 30px;
}
.slr-p.new-np.my-space[theme="green"] .nav-li {
    color: #358882 !important;
    background-color: transparent;
    font-family: 'Raleway', 'Century Gothic', 'Open Sans', 'Segoe UI', 'Comfortaa', 'Montserrat', sans-serif;
}
.slr-p.new-np.my-space[theme="green"] .nav-li.active {
    font-weight: 700;
}
.slr-p.new-np.my-space[theme="green"] .nav-user-dd .nav-user-name,
.slr-p.new-np.my-space[theme="green"] .nav-user-dd:hover .nav-user-name {
    color: #555555;
}
.slr-p.new-np.my-space[theme="green"] .nav-user-dd:after,
.slr-p.new-np.my-space[theme="green"] .nav-user-dd:hover:after {
    border-color: #555555;
}
.slr-p.new-np.my-space[theme="green"] .lbl-hdr-row > select,
.slr-p.new-np.my-space[theme="green"] select.lbl-hdr-sel {
    font-family: 'Raleway', 'Century Gothic', 'Open Sans', 'Segoe UI', 'Comfortaa', 'Montserrat', sans-serif;
    outline-color: #358882;
    border-color: #358882;
    color: #358882;
    font-weight: 600;
}
.slr-p.new-np.my-space[theme="green"] .btn.btnReturn:hover {
    background-color: #e4f7e6;
}
.slr-p.new-np.my-space[theme="green"] .lbl-title-list-center {
    background: linear-gradient(to right, transparent, #e4f7e6, transparent);
    color: #358882;
}
.slr-p.new-np.my-space[theme="green"] .leg-note-hdr,
.slr-p.new-np.my-space[theme="green"] .pdlg-title {
    background: linear-gradient(to right, #eefaef, transparent);
    color: #358882;
    font-weight: 700;
}
.slr-p.new-np.my-space[theme="green"] .li-Shortcut.selected {
    border: none;
    box-shadow: 0 0 0 2px #358882;
}
.slr-p.new-np.my-space[theme="green"] .li-Shortcut {
    background: linear-gradient(to bottom, #f7fff8, #caeace);
    color: #358882;
}
.slr-p.new-np.my-space[theme="green"] .btn.btn-type1 {
    background: linear-gradient(to right, #327b37, #368882);
    border: none;
    line-height: 37px;
}
.slr-p.new-np.my-space[theme="green"] .btn.btn-type1:hover {
    background: #368882;
}
.slr-p.new-np.my-space[theme="green"] .preview-info-list-hdr {
    background: linear-gradient(to right, #eefaef, transparent);
    color: #358882;
    border-left: 2px solid #358882;
    padding-top: 5px;
}
.slr-p.new-np.my-space[theme="green"] .preview-info-c > ul > li > div:nth-of-type(2) {
    font-size: 14px;
}
.slr-p.new-np.my-space[theme="green"] .summary-hdr-title,
.slr-p.new-np.my-space[theme="green"] .summary-header .hdr-tile-title,
.slr-p.new-np.my-space[theme="green"] .hdr-tile-count {
    color: #ffffff;
    font-variant: lining-nums;
}
.slr-p.new-np.my-space[theme="green"] .summary-header .hdr-tile {
    background: transparent;
}
.slr-p.new-np.my-space[theme="green"] .summary-header .hdr-tile:not(:last-of-type) {
    border-color: rgba(255, 255, 255, 0.44);
}
.slr-p.new-np.my-space[theme="green"] .iframe_box .pdlg-title {
    background: transparent;
}
.slr-p.new-np.my-space[theme="green"] .nav-mob-ddli {
    border-top: 2px solid #368882;
}
.slr-p.new-np.my-space[theme="green"] .nav-mob-ddli:after {
    border-color: #368882 transparent transparent transparent;
}
.slr-p.new-np.my-space[theme="green"] .rdo:checked + .lblrdo:after,
.slr-p.new-np.my-space[theme="green"] .chk:checked + .lblrdo:after {
    background-color: #368882;
}
.slr-p.new-np.my-space[theme="green"] .rdo:checked + .lblrdo:before,
.slr-p.new-np.my-space[theme="green"] .chk:checked + .lblchk:before,
.slr-p.new-np.my-space[theme="green"] .rdo + .lblrdo:hover:before,
.slr-p.new-np.my-space[theme="green"] .chk + .lblchk:hover:before {
    border-color: #368882;
}
.slr-p.new-np.my-space[theme="green"] .rdo + .lblrdo:hover,
.slr-p.new-np.my-space[theme="green"] .chk + .lblchk:hover {
    background-color: #e0f5f3;
}

@media only screen and (max-width: 800px) {
    .slr-p.new-np.my-space .welcome-remarks .welcome-remarks-sec.left {
       background: linear-gradient(to right, #327b37, #368882) !important;
        /* background: #e5f4f7 !important;*/
    }
    .hdr-tile .hdr-tile-title,.hdr-tile-count
    {
        color: #358882 !important;
    }
    .summary-header-sec.left {
       background: linear-gradient(to right, #327b37, #368882) !important;
    }
    .slr-p.new-np.my-space .welcome-text-c {
        margin-top: 2px;
    }

    .slr-p.new-np.my-space .welcome-remarks-sec.right {
        overflow-x: auto;
        margin-bottom: 10px;
        padding-bottom: 8px;
    }

    .slr-p.new-np.my-space .hdr-tile-count {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        line-height: 21px;
    }

    .slr-p.new-np.my-space .hdr-tile-title {
        font-size: 12px;
    }

    .slr-p.new-np.my-space .hdr-tile:hover {
        border-color: #0696aa;
    }

    .slr-p.new-np.my-space .hdr-tile:last-of-type {
        margin-right: 0;
    }

    .slr-p.new-np.my-space .nav-li {
        font-size: 11px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .slr-p.new-np.my-space #secLanding .lbl-title-list {
        line-height: 27px !important;
    }

    .slr-p.new-np.my-space .btn.btnReturn {
        line-height: 35px !important;
    }
    .nav-li#btnHome.active {
        background-image: url('../media/icons/mobile/icon-home-bluegreen-128x128-300.png');
    }
    .nav-li#btnCust.active {
        background-image: url('../media/icons/mobile/icon-customer-bluegreen-128x128-300.png');
    }
    .nav-li#btnInfo.active {
        background-image: url('../media/icons/mobile/icon-info-bluegreen-128x128-300.png');
    }
    .nav-li#btnTransaction.active {
        background-image: url('../media/icons/mobile/icon-transaction-bluegreen-128x128-300.png');
    }
    .slr-p.new-np.my-space .nav-li#btnMore.active {
        background-image: url('../media/icons/mobile/icon-other-blue-128x128-300.png');
        background-image: url('../media/icons/mobile/icon-reports-bluegreen-128x128-300.png');
    }
    .slr-p.new-np.my-space .nav-li {
        color: #777d87 !important;
    }
    .slr-p.new-np.my-space .nav-li.active {
        font-weight: bold;
        color: #358882 !important;
        background-color: transparent;
    }
    .slr-p.new-np.my-space .pdlg-title {
        background: none;
    }
    .slr-p.new-np.my-space .row-c > .btn-cancel {
        margin-right: 0px !important;
        width: 40px !important;
        text-indent: 50px !important;
        padding: 0 !important;
        margin-left: 12px !important;
        overflow: hidden !important;
    }
    .slr-p.new-np.my-space .row-c > .btn-cancel:before {
       left: 18px !important;
    }
}