.nwCuz-001 {

    background:#EFEFEF;

}

.nwCuz-002 {

    margin-top:1%;

}

.nwCuz-003 {

    padding-bottom:15px;border:0px;

}

.nwCuz-004 {

    padding-left:75px;

}

.nwCuz-005 {

    width:150px;

}

.nwCuz-006 {

    width: 279px;

}

