

.menuitem-title {
    font-size: 20px;
    font-weight: 600;
    color: #3a3a3a;
}

.menuitem-df {
    font-size: 16px;
    font-weight: 600;
    color: #6d6d6d;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nk .lbltxt, .nk label {
    color: #6d6d6d;
}

.nk .txtbox, .nk .txtbox-date, .nk .txtbox-time, .nk .txtarea, .nk input[type="text"], .nk input[type="date"], .nk input[type="time"], .nk textarea {
    border: 1px solid #e0dfE4;
}

.nk .cmb {
    background: transparent;
    border: 1px solid #E0DFE4;
    color: #6d6d6d;
}

.cst-hrd-wrap {
    padding: 8px 30px;
    border: 1px solid #dadada;
    border-radius: 6px 6px 0px 0px;
    font-size: 15px;
    background: #f8f8f8;
    color: #1974d1;
    padding-left: 10px;
}

.cst-hrd {
    display: flex;
    gap: 1px;
    flex-direction: row;
    position: relative;

}

.cst-hrd-wrap.active {
background: #1974d1;
    color: #ffffff;
    border: 1px solid #1974d1;
}


.row.rx {
border: 1px solid #dadada;
    border-radius: 0px 0px 6px 6px;
    padding: 10px;
    margin-top: -3px;
}



.cst-container {
    position: relative;
    width: 100%;
    display: none;
}

.btn.btn-default.btn-default-darkblue.cst:last-child {
    margin-right: 0px;
}

.btn.btn-default.cst-dis {
    background: #727376 !important;
}

.cst-container.active {
    display: block;
}

input[disabled] {
    text-align: right;
    font-weight: 600;
    background: #f6f6f6 !important;
    border: 1px solid #f6f6f6 !important;
}

input#txtResidentName {
    text-align: left !important;
}

input#txtWPUnitNo {
    text-align: left !important;
}

input#txtUnitFloor {
    text-align: left !important;
}

.cst-st-container {
    position: relative;
    width: 100%;
}

.cst-tx {
    font-size: 16px;
    color: #ffffff;
    background: #1974d1;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

    .cst-st-container.selected {
      display: block;
    }

    .cst-st-container {
      display: none;
    }

.cst-title {
    font-size: 13px;
    font-weight: 600;
    color: #1974d1;
}

.formTitleDis {
    color: #D3D3D3 !important;
}

.nk .btn.btn-default, .nk button {
    /*line-height: 36px !important;
    height: 36px !important;*/
    font-family: 'Poppins-Regular', sans-serif !important;
}

.nkListView {
    width: inherit !important;
}

.col.col-7.mob-margin {
    margin-bottom: 5px;
}


@media (max-width: 800px) {

    .col.col-5.col-mob {
        width: 40%;
        flex: 0 0 40%;
    }

    .col.col-7.col-mob {
        width: 60%;
        flex: 0 0 60%;
    }

    .col.col-mob input {
        background: transparent !important;
        border: none !important;
        font-weight: 600 !important;
        line-height: 23px;
        font-size: 12px !important;
    }

    .col.col-mob label {
    font-size: 12px !important;
    font-weight: 100 !important;
    padding: 7px 2px;
    padding-top: 8px;
    }

    .cst-container .row .col {
        border: 0px !important;
    }


    .row.rx {
        padding: 5px;
        padding-top: 0px;
    }

    .cst-container .row .col .row {
        margin: 0px !important;
    }

    .menuitem-title {
        font-size: 16px;
            margin-bottom: 5px;
    }

    .cst-hrd-wrap {
        font-size: 13px;
        padding-left: 6px;
    }

    .nk .btn.btn-default, .nk button {
        line-height: 30px !important;
        height: 30px !important;
        font-family: 'Poppins-Regular', sans-serif !important;
        font-size: 11px;
        font-weight: 500 !important;
        padding: 0 10px;
    }

    div#btnReqCompliance {
        margin-bottom: 5px;
    }

    .cst-tx {
        margin-top: 5px;
    }


}


@media only screen and (max-width: 800px) {

    .col.col-5.mob-opacity {
        display: none;
    }

    .cst-tx {
        font-size: 13px;
    }

.cst-title {
    margin: 5px;
}

#nwGridWorkers {
    height: auto !important;
    width: 100% !important;
    margin: 0px !important;
}

#nwGridMaterials {
    height: auto !important;
    width: 100% !important;
    margin: 0px !important;
}

div#nwGridAddOn {
    margin-top: 10px;
    height: auto !important;
    width: 100% !important;
    margin-bottom: 0px !important;
}

input#natOthersDesc {
    margin-top: 8px;
}

.nkListViewRow {
    margin: 3px 0px;
}

    .nkListViewTitle {
        font-size: 12px;
    }

    .nkListViewValue {
        font-size: 12px;
    }

}