/*﻿input[type="text"], .nk textarea {
    border: 1px solid #dfeeff !important;
}*/

.btn.btn-default.fullwidth._btn-default {
    height: 26px;
    line-height: 23px;
}

.tabs.tabs-lbl-bold._tabs {
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 3px 5px 3px 5px;
    background-color: #f7f7f7;
}

label.tabs-lbl._tab-lbl {
    padding: 7px;
    padding-bottom: 5px;
    border-radius: 5px 3px 5px 3px;
}

.btn.btn-default.fullwidth._btns {
    width: 115px !important;
    height: 23px;
    border-radius: 3px;
    line-height: 23px;
}


.btn.btn-default.fullwidth._btns._clear-btn {
    background: #ffff;
    color: #ff6161;
    border: 1px solid #ffdbdb;
    font-weight: 600;
}

.btn.btn-default.fullwidth._btns._add-btn {
    background: #ffff;
    color: #2575c4;
    border: 1px solid #b3d9ff;
    font-weight: 600;
}

/*.nk .table th .btn-th-sort .btn-th-asc, .nk .table th .btn-th-sort .btn-th-desc {
    left: 9px;

}

.nk .table th {

    width: 58px;
}

.nk .table td, .nk .table th {
    padding: 4px 6px !important;

}*/

.menuitem-container {
    padding-left: 55px;
    padding-top: 20px;
    padding-right: 10px;
}

.container-flex._container-brd {
    border: 1px solid #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nk .table._table td, .nk .table._table th {
    padding: 4px;
    text-align: left;
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
        font-size: 13px;
}

.nk .table._table th:nth-child(1) {
    min-width: 30px !important;
    max-width: 42px !important;
    width: 30px !important;
}



/*SCROLL*/

.nk .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #ffff;
    border: 2px solid #ffffff;
    transition: 3s ease-in-out !important;
}

.nk .table-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    transition: 3s ease-in-out !important;
}

.nk .table-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    transition: 3s ease-in-out !important;
}

label.lbl-chk._lbl {
    font-size: 13px;
    font-weight: 600;
}



/*CSS*/

.btn.btn-default.fullwidth._forms {
    height: 28px;
    line-height: 28px;
    background: linear-gradient(to bottom, #cecece, #5d5c5c) !important;
}

.btn.btn-default.fullwidth._dtls {
    height: 28px;
    line-height: 28px;
    background: linear-gradient(to bottom, #cecece, #5d5c5c) !important;
}

.btn.btn-default.fullwidth._reqc {
    height: 28px;
    line-height: 28px;
        background: linear-gradient(to bottom, #ffef5f, #ff9800) !important;
}

.btn.btn-default.fullwidth._rev {
    height: 28px;
    line-height: 28px;
        background: linear-gradient(to bottom, #28d4ea, #056996) !important;
}



div#dimMessageBox {
    background: #e5f2ff;
    z-index: 100;
    width: 500px !important;
    position: absolute !important;
    padding: 20px;
    border-radius: 5px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    display: none;
}

/*CSS CUSTOM*/

div#dimMessageBox {
    background: #e5f2ff;
    z-index: 100;
    width: 500px !important;
    position: absolute !important;
    padding: 20px;
    border-radius: 5px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    color: #ffff;
    display: none !important;
}

div#nwLoadingContainer {
    display: none;
}



/*updates AAG-10-06-2021*/
.modal-box-s {
    min-height: 570px;
}
div.found-record {
    background-color: #f2f8ff;
    color: #000;
}
div#menuCreatorContainer div.modal-box-s {
    min-width: 60%;
    min-height: 90%;
}

div#nwExportContainerMain div.modal-box-s {
    min-width: 80%;
    min-height: 90%;
}

textarea.P8Spread_TextArea {
    top: -100px;
}