.left-pnl .btn.btn-modules[cabv="S"] {background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}


.nk-icon-delete{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-delete-small{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-delete-medium{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-delete-large{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-delete-xlarge{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-delete30x30 {background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}

.nk-icon-save{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-save-small{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-save-medium{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-save-large{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-save-xlarge{background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}
.nk-icon-save30x30 {background-image: url(../../materials/media/icons/Mobile/settings-settings-30x30.png);}


