/*
    # NOAH THEME
    # Company Owner: Forecasting and Planning Technologies Inc. | NOAH Business Applications | PROMPTUS 8
    # Developer : Ricp P. Buenviaje
    # Designer : Ricp P. Buenviaje
    # Date Created : August 14, 2020
    # Last Date Modified : August 18, 2021 | RPB
    # Date Modified : October 29, 2021 | RPB
*/

/*
    Basic Setting:
    
    Text Color,
    #000000     
    #222222,
    #333333     (Most commonly use and most comfortable for the reader's eye. And also it's the safest web color of #3d3d3d)
    
    Size,
    14px        15px is the standard size for web and mobile browser (For plain websites or webpages), but 14px is more suitable in webapps UI and for 13px buttons

    Note:       Drink coffee. :>
*/

/*.menuitem-container._default-theme .container-flex > .row.row-parent {
    background: yellow !important;
}*/




/*DEFAULT THEME*/ 

.main-c.theme_secondary_default .hdr {
    background-color: #28396f;
}

.main-c.theme_secondary_default .spl-sys-menu-c {
    background: #ffffff;
}

.main-c.theme_secondary_default .btn.btn-modules:before {
    background-color: #28396f;
}

.main-c.theme_secondary_default .btn.btn-modules.selected {
    background-color: #cbd7ff;
    color: #2474cc;
}

.main-c.theme_secondary_default .btn.btn-left-pnl_b.btn-item-favorite.selected {
    background-color: #ffedd0;
    color: #ffa10d;

}



/*PINK THEME */


.main-c.theme_secondary_pink .hdr {
    background-color: #e65d74;
}

.main-c.theme_secondary_pink ._hor-b {
    background-color: #ff4564;
}

.main-c.theme_secondary_pink .pnl_r {
    background-color: #ffffff;
}

.main-c.theme_secondary_pink .left-pnl.expand .btn.btn-left-pnl_b.selected, .left-pnl.docked:hover .btn.btn-left-pnl_b.selected {
    background-color: #ffc9d2;
}

.main-c.theme_secondary_pink .btn.btn-modules.selected {
    background-color: #ffc9d2 !important;
}

.main-c.theme_secondary_pink .btn.btn-modules.selected > .mod-abbr {
    background: #48b7e8;
}

.main-c.theme_secondary_pink .btn.btn-modules:before {
    background-color: #e65d74;
}

.main-c.theme_secondary_pink .menu-grp-lbl.selected {
    background-color: #ffc9d2;
    color: #394651;
}

.main-c.theme_secondary_pink .btn.btn-modules:hover {
    background-color: #ffc9d2;
}

.main-c.theme_secondary_pink .menu-grp-lbl:not(.selected):hover {
    background-color: #ffe1e6;
}

.main-c.theme_secondary_pink .spl-sys-menu-c {
    background: #ffd1d9;
}

/*RED THEME*/
.main-c.theme_secondary_red .hdr {
    background-color: #d72627;
}

.main-c.theme_secondary_red .btn.btn-modules.selected {
    background-color: #ffcdcd !important;
}

.main-c.theme_secondary_red .left-pnl.expand .btn.btn-left-pnl_b.selected, .left-pnl.docked:hover .btn.btn-left-pnl_b.selected {
    background-color: #ffcdcd;
}

.main-c.theme_secondary_red .btn.btn-modules.selected .mod-abbr {
    background: #256dd7;
}

.main-c.theme_secondary_red .menu-grp-lbl.selected {
    background-color: #ffcdcd;
    color: #555555;
}

.main-c.theme_secondary_red ._hor-b {
    height: 1px;
    margin: 6px auto;
    display: block;
    background-color: #ed2a25;
    width: 64%;
}

.main-c.theme_secondary_red .btn.btn-modules:hover {
    background-color: #ffcdcd;
}

.main-c.theme_secondary_red .menu-grp-lbl:not(.selected):hover {
    background-color: #ffcdcd;
}

.main-c.theme_secondary_red .mod-abbr {
    background-color: #aba9e6;
}

.main-c.theme_secondary_red .btn.btn-modules:before {
    background-color: #d72627;
}

.main-c.theme_secondary_red .frm-title-c {
    background-color: #5f5be5;
}

.main-c.theme_secondary_red .spl-sys-menu-c {
    background: #f4b8c2;
}


/*GREEN THEME*/

.main-c.theme_secondary_green .hdr {
    background-color: #008d4c;
}

.main-c.theme_secondary_green .btn.btn-modules:hover {
    background-color: #b6e5c0;
}

.main-c.theme_secondary_green .menu-grp-lbl:not(.selected):hover {
    background-color: #b6e5c0;
}

.main-c.theme_secondary_green .btn.btn-modules:before {
    background-color: #008d4c;
}

.main-c.theme_secondary_green .btn.btn-modules.selected {
    background-color: #b6e5c0;
}

.main-c.theme_secondary_green .left-pnl.expand .btn.btn-left-pnl_b.selected, .left-pnl.docked:hover .btn.btn-left-pnl_b.selected {
    background-color: #b6e5c0;
}

.main-c.theme_secondary_green ._hor-b {
    background-color: #14b535;
}

.main-c.theme_secondary_green .menu-grp-lbl.selected {
    background-color: #b6e5c0;
    color: #555555 !important;
}

.main-c.theme_secondary_green .btn.btn-modules.selected .mod-abbr {
    background: #008d4c;
}

.main-c.theme_secondary_green .spl-sys-menu-c {
    background: #d1ffea;
}



/*PURPLE THEME*/
.main-c.theme_secondary_purple .hdr {
    background-color: #3c38cb;
}

.main-c.theme_secondary_purple ._hor-b {
    background-color: #433fd1;
}

.main-c.theme_secondary_purple .btn.btn-modules.selected {
    background-color: #d9d8ff;
}

.main-c.theme_secondary_purple .left-pnl.expand .btn.btn-left-pnl_b.selected, .left-pnl.docked:hover .btn.btn-left-pnl_b.selected {
    background-color: #d9d8ff;
}

.main-c.theme_secondary_purple .btn.btn-modules:before {
    background-color: #3c38cb;
}

.main-c.theme_secondary_purple .btn.btn-modules.selected .mod-abbr {
    background: #6865e6;
}

.main-c.theme_secondary_purple .spl-sys-menu-c {
    background: #dbdaff;
}



/*DARK Theme*/

.main-c.theme_secondary_dark .hdr {
    background-color: #242526;
}

.main-c.theme_secondary_dark .btn-return-modules {
    color: #b2b2b2;
}

.main-c.theme_secondary_dark .btn-return-modules:after {
    background-color: #b2b2b2;
}

.main-c.theme_secondary_dark .btn-return-modules:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 0 solid #b2b2b2;
    border-width: 2px 2px 0 0;
    transform: rotate( 
-135deg);
    top: 12px;
    left: 13px;
}

.main-c.theme_secondary_dark .btn.btn-modules {
    background-color: #242526;
}

.main-c.theme_secondary_dark .pnl_r {
    background-color: #262a48;
}

.nk .main-c.theme_secondary_dark .spl-ms-col.spl-ms-col_msg {
    background: linear-gradient(45deg, #242526, #26272b);
}

.main-c.theme_secondary_dark .spl-sys-btn {
    background: #3e64ff;
}

.main-c.theme_secondary_dark .left-pnl {
    top: 38px;
}

.main-c.theme_secondary_dark .menu-notif-f {
    background-color: #1e2745;
}

.main-c.theme_secondary_dark .pnl_l {
    background-color: #242526;
    border-right: 1px solid #56669945;
}

.main-c.theme_secondary_dark .menu-notif-hrd {
    border-bottom: 1px solid #1e274545;
}

.main-c.theme_secondary_dark .menu-notif-footer {
    color: #ffffff;
    border-top: 1px solid #56669945;
}

.main-c.theme_secondary_dark .mdl-h {
    background: #242526;
    border-bottom: 1px solid #242526;
}

.main-c.theme_secondary_dark .low-c {
    background: #182039;
}

.main-c.theme_secondary_dark .mdl-c {
    background-color: #1e2745;
}

.main-c.theme_secondary_dark .mdl-b-sec.mdl-b-sec-body {

    background: #18191a;
}

.main-c.theme_secondary_dark .mdl-b-sec.mdl-b-sec-title {
    background-color: #ffffff00;
    color: #ffffff;
}

.main-c.theme_secondary_dark .theme-w {
    background: #2e354f;
}

.main-c.theme_secondary_dark ._theme-sub {
    color: #ffffff;
}

.main-c.theme_secondary_dark .mdl-b_l {
    border-right: 1px solid #242526;
    background: #242526;
}

.main-c.theme_secondary_dark .btn-mdl-l.btn-mdl-l-changepass:hover, .main-c.theme_secondary_dark .btn-mdl-l.btn-mdl-l-changepass.selected {
    background-color: #373f5e;
}

.main-c.theme_secondary_dark .btn.btn-mdl-l.btn-mdl-l-themeapp:hover, .main-c.theme_secondary_dark .btn.btn-mdl-l.btn-mdl-l-themeapp.selected {
    background-color: #d9eafc;
}

.main-c.theme_secondary_dark .container-flex._spl-container-mob {
    background: #18191a;
}

.main-c.theme_secondary_dark .spl-ms-widget2 {
    background: #242526;
}

.main-c.theme_secondary_dark .btn.btn-modules:before {
    background-color: #577ef7;
}

.main-c.theme_secondary_dark .btn.btn-modules.selected {
    background-color: #364786 !important;
    color: #ffffff !important;
    font-weight: 600;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules{
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .btn.btn-modules:hover {
    background-color: #353d58;
    color: #b2b2b2;
    font-weight: 600;
}

.main-c.theme_secondary_dark .spl-ms-widget2-lbl {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .spl-ms-widget2 ._ico {
    background: #ffffff00 !important;
}

.main-c.theme_secondary_dark .menu-grp-lbl {
    color: #ffffff;
}

.main-c.theme_secondary_dark .menu-grp-lbl a {
    color: #b2b2b2;
}

.main-c.theme_secondary_dark .menu-grp-lbl.nested:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 0 solid #666378;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    left: 4px;
    top: 10px;
    transition: .2s ease-out transform;
}

.main-c.theme_secondary_dark .menu-grp-li > .menu-grp-ul:before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #666378;
    left: 6px;
    top: 5px;
    bottom: 5px;
}

.main-c.theme_secondary_dark .left-pnl-title {
    color: #b2b2b2;
}

.main-c.theme_secondary_dark .menu-grp-lbl.selected {
    background-color: #364786 !important;
    color: #ffffff !important;
}

.main-c.theme_secondary_dark .menu-grp-lbl:not(.selected):hover {
    background-color: #b7b7b757;
    color: #b2b2b2;
}

.main-c.theme_secondary_dark .btn.btn-modules.selected .mod-abbr {
    background: #ffffff;
    color: #0072f7 !important;
}

.main-c.theme_secondary_dark .mod-abbr {
    color: #ffffff !important;
    background-color: #1d5398;
}

.main-c.theme_secondary_dark .spl-sys-menu-c {
    background: #242526;
}

.main-c.theme_secondary_dark .menu-user-type {
    color: #ffffff;
    font-weight: 500;
}

.main-c.theme_secondary_dark label.lbltxt {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .spl-sys-r-c {
    background: #18191a;
border-bottom: 1px solid #1e274545;
}

.main-c.theme_secondary_dark .spl-ms-row-leg {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .spl-sys-r-subtitle {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .spl-sys-r-date {
    font-size: 10px;
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .spl-sys-content {
    background: #18191a;
}

.main-c.theme_secondary_dark .menu-user-f {
    background-color: #242526;
}

.main-c.theme_secondary_dark  .menu-user-info > span {
    color: #657688;
    font-weight: 600;
    height: 100%;
    float: right;
    color: #e4e6eb;
    font-weight: 500;
    font-size: 13px;
}

.main-c.theme_secondary_dark .menu-user-info {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark  .menu-user-name {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .menu-user-name.menu-user-name-r, .main-c.theme_secondary_dark .menu-user-type.menu-user-type-r {
    color: #e4e6eb;

}

.main-c.theme_secondary_dark .spl-user-notif {
    background-color: #2e3358;
}

.main-c.theme_secondary_dark .spl-user-msg {
    background-color: #2e3358;
}

.main-c.theme_secondary_dark .spl-msg-user-box {
    background: #3c4c90;
}

.main-c.theme_secondary_dark .nw-svg-msg-ub {
    fill: #3c4c90;
}

.main-c.theme_secondary_dark .spl-msg-title, .main-c.theme_secondary_dark .spl-user-notif-text {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .menu-dashboard-prof {
    background: #3c4c90;
}

.main-c.theme_secondary_dark .menu-dashboard-subpara span {
    color: #01d2af;
}

.main-c.theme_secondary_dark .menu-dashboard-subpara {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .menu-dashboard-min {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .menu-msg-uName span {
    color: #0077ff;

}

.main-c.theme_secondary_dark .menu-msg-uChat {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .menu-msg-uTime {
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .menu-msg-prof {
    background: #3c4c90;
}

.main-c.theme_secondary_dark .spl-msg-fList {
    background: #2e3358;
}

.main-c.theme_secondary_dark .spl-msg-nMessage {
    background: #2e3358;
}

.main-c.theme_secondary_dark .spl-msg-nMessage .msg-chat-dtls {
    background: #2e3358;
}

.main-c.theme_secondary_dark  .msg-user-chat-info:nth-child(odd) .msg-user-chatmsg {
    background: #3c4c90;
    color: #e4e6eb;
}

.main-c.theme_secondary_dark .msg-pName {
    color: #e4e6eb;
    font-weight: 600;
}

.main-c.theme_secondary_dark .spl-hrd-fListInfo {
    background: #2e3358;
}

.main-c.theme_secondary_dark .menu-fList-prof {
    background: #3c4c90;
}

.main-c.theme_secondary_dark .menu-fList-name span {
    color: #0077ff;
    font-weight: 600;
}

.main-c.theme_secondary_dark .spl-menu-fList {
    border: none;
}

.main-c.theme_secondary_dark  .fList-iTitle {
    font-size: 1.50em;
    color: #e4e6eb;
    font-weight: 600;
    margin-top: 4px;
}

.main-c.theme_secondary_dark .spl-msg-info-c::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 2px solid #262a48;
}

.main-c.theme_secondary_dark ::-webkit-scrollbar-track {
    background-color: #18191a;
}



.main-c.theme_secondary_dark ::-webkit-scrollbar-thumb {
    background: #242526;
    border: 2px solid #182039;
}

.main-c.theme_secondary_dark .spl-msg-info-c::-webkit-scrollbar-track {
    background: #262a48;
}

.main-c.theme_secondary_dark path.nw-svg-msg-a {
    fill: #0077ff;
}

.main-c.theme_secondary_dark path.nw-svg-msg-b {
    fill: #8dc6ff;
}

.main-c.theme_secondary_dark path.nw-svg-msg-c {
    fill: #fff;
}

.main-c.theme_secondary_dark .spl-dashboard-notif-c .menu-notif-banner-subtext {
    color: #ffffff;
}

.main-c.theme_secondary_dark .spl-msg-info-c .menu-notif-banner-text {
    color: #0077ff;
}

.main-c.theme_secondary_dark .spl-dashboard-notif-c .menu-notif-banner-text {
    color: #01d2af;
}

.main-c.theme_secondary_dark .spl-msg-info-c .menu-notif-banner-subtext {
    color: #ffffff;
}

.main-c.theme_secondary_dark .menu-infoStatus {
    color: #ffffff;
}

.main-c.theme_secondary_dark .menu-InfoDtls {
    color: #ffffff;
}

.main-c.theme_secondary_dark .btn.btn-left-pnl_b.btn-item-favorite.selected {
    background-color: #ffedd0;
    color: #425569;
}



/*DARK THEMES menuitem*/
/*GLOBAL*/
.main-c.theme_secondary_dark .menuitem-container {
    background: #18191a;
}

.main-c.theme_secondary_dark ~ .mdl .mdl-msg-c {
    background: #1e2745;
}

.main-c.theme_secondary_dark ~ .mdl .mdl-msg-c .mdl-msg-wrapper .mdl-msg-logo._msg-icon .nw-mdl-logout {
    fill: #ffffff;
}

.main-c.theme_secondary_dark ~ .mdl .mdl-msg-c .mdl-msg-wrapper .mdl-msg-title {
    color: #3454d6;
}

.main-c.theme_secondary_dark ~ .mdl .mdl-msg-c .mdl-msg-wrapper .mdl-msg-txt {
    color: #ffffff;
}

.main-c.theme_secondary_dark .cmb {
    background: transparent;
    border: 1px solid #566699d4;
    color: #ededed;
}

.main-c.theme_secondary_dark .txtbox, 
.main-c.theme_secondary_dark .txtbox-date, 
.main-c.theme_secondary_dark .txtbox-time, 
.main-c.theme_secondary_dark .txtarea, 
.main-c.theme_secondary_dark input[type="text"], 
.main-c.theme_secondary_dark input[type="date"], 
.main-c.theme_secondary_dark input[type="time"], 
.main-c.theme_secondary_dark textarea {
    border: 1px solid #566699d4;
    background: transparent;
    color: #ffffff;
}

.main-c.theme_secondary_dark .txtbox:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark .txtbox-date:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark .txtbox-time:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark .txtarea:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark input[type="text"]:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark input[type="date"]:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark input[type="time"]:not([disabled]):not(.disabled):focus, 
.main-c.theme_secondary_dark textarea:not([disabled]):not(.disabled):focus {
    border-color: #3e64ff;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1px #3e64ff;
    -moz-box-shadow: 0 0 0 1px #3e64ff;
    box-shadow: 0 0 0 1px #3e64ff;
}


.main-c.theme_secondary_dark .col .txtbox[disabled], .main-c.theme_secondary_dark  .col .txtbox-date[disabled], 
.main-c.theme_secondary_dark .col .txtbox-time[disabled], .main-c.theme_secondary_dark  .col .txtarea[disabled], 
.main-c.theme_secondary_dark .col .txtbox.disabled, .main-c.theme_secondary_dark  .col .txtbox-date.disabled, 
.main-c.theme_secondary_dark .col .txtbox-time.disabled, .main-c.theme_secondary_dark  .col .txtarea[disabled], 
.main-c.theme_secondary_dark input[type="text"][disabled], .main-c.theme_secondary_dark  input[type="date"][disabled], 
.main-c.theme_secondary_dark input[type="time"][disabled], .main-c.theme_secondary_dark  textarea[disabled], 
.main-c.theme_secondary_dark input[type="text"].disabled, .main-c.theme_secondary_dark  input[type="date"].disabled, 
.main-c.theme_secondary_dark input[type="time"].disabled, .main-c.theme_secondary_dark  textarea[disabled] {
    background-color: transparent !important;
}

.main-c.theme_secondary_dark .cmb option {
    background: #1e2745;
}

.container-flex._spl-container-mob-notif .spl-sys-menu-c {
    padding: 6px;
}

/*GLOBAL*/


/*GRID MOBILE*/

.main-c.theme_secondary_dark .nkListViewTitle {
    color: #ffffff;
}

.main-c.theme_secondary_dark .nkListViewValue {
    color: #ffffff !important;
}

.main-c.theme_secondary_dark .nkListViewRow {
    margin: 3px 0px;
    border: 1px solid #56669987;
}

.main-c.theme_secondary_dark .nkListViewCol:first-child {
    background-color: #373f5e;
}

/*GRID MOBILE*/


/*BASIC INFO*/
.main-c.theme_secondary_dark #lblCustName {
    color: #ffffff;
}

.main-c.theme_secondary_dark label#lblCustAccNo {
    color: #ffffff;
}

.main-c.theme_secondary_dark .nk-accordion[nk-style-accordion="3"] .nk-ul .nk-li .nk-li-title {
    background: #3e64ff;
    margin-bottom: 10px;
    pointer-events: none;
    border-bottom-color: #1e274545;
}

.main-c.theme_secondary_dark .nk-accordion[nk-style-accordion="3"] .nk-li .nk-li-content .nk-li-text {
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 0px 0px, rgba(60, 64, 67, 0.15) 0px 1px 4px 1px;
    background-color: #242526;
    border-radius: 0 0 6px 6px;
    border: 1px solid #1e274545;
}
/*BASIC INFO*/

/*BILLING HISTORY*/
.main-c.theme_secondary_dark .menuitem-df {
    color: #ffffff;
}

.main-c.theme_secondary_dark .menuitem-title {
    color: #ffffff;
}

.main-c.theme_secondary_dark .menuitem-df {
    color: #ffffff;
}

/*BILLING HISTORY*/


.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.pd {
    background: url(../../materials/media/icons/Mobile/profile-details-dark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.nt {
    background: url(../../materials/media/icons/Mobile/notics-dark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.srt {
    background: url(../../materials/media/icons/Mobile/services-request-dark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.se {
    background: url(../../materials/media/icons/Mobile/service-entry-dark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.pyh {
    background: url(../../materials/media/icons/Mobile/payment-historydark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.bl {
    background: url(../../materials/media/icons/Mobile/billings-dark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .spl-ms-widget-icon-wrap.otr {
    background: url(../../materials/media/icons/Mobile/other-request-dark-theme-icons-design-40x40-38obj.png);
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="PH"] {
    content: '';
    background-image: url(../../materials/media/icons/Mobile/payment-history-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="OR"] {
    background-image: url(../../materials/media/icons/Mobile/other-request-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="RE"] {
    background-image: url(../../materials/media/icons/Mobile/service-request-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="SRT"] {
    background-image: url(../../materials/media/icons/Mobile/service-tracker-request-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="NT"] {
    background-image: url(../../materials/media/icons/Mobile/notices-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="N"] {
    background-image: url(../../materials/media/icons/Mobile/news-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="F"] {
    background-image: url(../../materials/media/icons/Mobile/faq-history-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="PP"] {
    background-image: url(../../materials/media/icons/Mobile/pp-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="S"] {
    background-image: url(../../materials/media/icons/Mobile/settings--dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="TC"] {
    background-image: url(../../materials/media/icons/Mobile/tac-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="PD"] {
    background-image: url(../../materials/media/icons/Mobile/pd-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="BL"] {
    background-image: url(../../materials/media/icons/Mobile/billing-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}

.main-c.theme_secondary_dark .left-pnl.expand .btn.btn-modules[cabv="HM"] {
    background-image: url(../../materials/media/icons/Mobile/home-dark-theme-icons-design-30x30-28obj.png);
    background-size: 26px;
}


/*DARK THEMES menuitem FPMC*/


/*MEDIA QUERY THEMES*/

@media (max-width: 767px) {

    .main-c.theme_secondary_red .menu-grp-c {
        border: solid #ffcfd3;
        border-width: 2px 2px 0 2px;
    }

    .main-c.theme_secondary_red .btn.btn-modules.selected {
        color: #f4b8c2 !important;
    }

    .main-c.theme_secondary_red .btn.btn-modules.selected:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border: 0 solid #c82333;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        top: 13px;
        right: 14px;
    }

    .main-c.theme_secondary_pink .btn.btn-modules.selected {
        color: #e63452 !important;
    }

    .main-c.theme_secondary_pink .btn.btn-modules.selected:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border: 0 solid #e63452;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        top: 13px;
        right: 14px;
    }

    .main-c.theme_secondary_pink .menu-grp-lbl.selected {
        background-color: #ffc9d2;
        color: #e63452 !important;
    }

    .main-c.theme_secondary_green .menu-grp-c {
        border: solid #c5ffd1;
        border-width: 2px 2px 0 2px;
    }

    .main-c.theme_secondary_pink .menu-grp-c {
        border: solid #ffdce2;
        border-width: 2px 2px 0 2px;
    }

}





/*TESTING LANG*/
.spl-dashboard-notif-c::-webkit-scrollbar {
    width: 0;
    height: 0;
}

