@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Transfer of Unit";
}
<div id="popup" class="modal-s">
    <div class="modal-box-s" style="min-height: 50% !important; height: 50%; min-width: 85% !important; width: 70% !important;">
        <div class="modal-box-bg"></div>
        <div class="modal-hdr">
            <div class="btn btn-modal-back" nk-fx-click="press" title="Back"><span></span></div>
            <div class="modal-hdr-title">Request for Extension Entry</div>
            <div class="btn btn-modal-rescale-s" nk-fx-click="press" title="Rescale"></div>
        </div>

        <div class="nk-modal-body">

            @*ToolBox*@
            <div id="noah-webui-Toolbox" class="nk-toolbar-c">

                @*<div id="noah-webui-default-Save" class="noah-webui-Toolbox-Item">
                    <div class="noah-webui-Toolbox-Item-Icon"></div>
                    <div class="noah-webui-Toolbox-Item-Title">Save</div>
                </div>

                <div id="noah-webui-default-Delete" class="noah-webui-Toolbox-Item">
                    <div class="noah-webui-Toolbox-Item-Icon"></div>
                    <div class="noah-webui-Toolbox-Item-Title">Delete</div>
                </div>

                <div id="popup-default-Refresh" class="Item">
                    <div class="Icon"></div>
                    <div class="Title">Refresh</div>
                </div>

                <div id="noah-webui-default-Process" class="noah-webui-Toolbox-Item">
                    <div class="noah-webui-Toolbox-Item-Icon"></div>
                    <div class="noah-webui-Toolbox-Item-Title">Process</div>
                </div>*@

                <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-save">
                    <div class="_icon"></div>
                    <div class="_lbl">Save</div>
                </div>
                <div id="noah-webui-default-Delete" class="btn-tb-action btn-tb-delete">
                    <div class="_icon"></div>
                    <div class="_lbl">Delete</div>
                </div>
                <div id="popup-default-Refresh" class="btn-tb-action btn-tb-refresh">
                    <div class="_icon"></div>
                    <div class="_lbl">Refresh</div>
                </div>
                <div id="noah-webui-default-Process" class="btn-tb-action btn-tb-process">
                    <div class="_icon"></div>
                    <div class="_lbl">Process</div>
                </div>



            </div>
            @*ToolBox*@

            <br />

            <div class="row row-parent padding-10">
                <div class="col col-12 col-parent">

                    <div class="col col-6 col-parent">

                        <div class="row with-label-lookup">
                            <div class="col col-5">
                                <label class="lbltxt">Location with Accountable Forms<span class="nwCuzRequiredField"> *</span></label>
                            </div>
                            @*<div class="col col-1"></div>*@
                            <div id="lugLocAccForms" class="col col-6 col-parent lookups">
                                <div class="col col-4">
                                    <input type="text" name="" class="txtbox idval">
                                </div>
                                <div class="col col-8">
                                    <input type="text" name="" class="txtbox descval">
                                    @*<div class="btn btn-sm-default btn-sm-default-lookup"></div>*@
                                </div>
                            </div>
                            <div class="col col-1"></div>
                        </div>

                        <div class="row with-label-lookup">
                            <div class="col col-4">
                                <label class="lbltxt">Reason for Transfer of Unit<span class="nwCuzRequiredField"> *</span></label>
                            </div>
                            <div class="col col-1"></div>
                            <div id="lugReTranUnit" class="col col-6 col-parent lookups">
                                <div class="col col-4">
                                    <input type="text" name="" class="txtbox idval">
                                </div>
                                <div class="col col-8">
                                    <input type="text" name="" class="txtbox descval">
                                    <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                                </div>
                            </div>
                            <div class="col col-1"></div>
                        </div>

                        <div class="row with-label-lookup">
                            <div class="col col-4">
                                <label class="lbltxt">New Unit<span class="nwCuzRequiredField"> *</span></label>
                            </div>
                            <div class="col col-1"></div>
                            <div id="lugNewUnit" class="col col-6 col-parent lookups">
                                <div class="col col-4">
                                    <input type="text" name="" class="txtbox idval">
                                </div>
                                <div class="col col-8">
                                    <input type="text" name="" class="txtbox descval">
                                    <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                                </div>
                            </div>
                            <div class="col col-1"></div>
                        </div>

                        <div class="row with-label-lookup">
                            <div class="col col-4">
                                <label class="lbltxt">Reference Holding Transaction</label>
                            </div>
                            <div class="col col-1"></div>
                            <div id="lugRefHoldTrans" class="col col-6 col-parent lookups">
                                @*<div class="col col-4">
                                    <input type="hidden" name="" class="txtbox idval">
                                </div>*@
                                <div class="col col-12">
                                    <input type="text" name="" class="txtbox descval">
                                    @*<div class="btn btn-sm-default btn-sm-default-lookup"></div>*@
                                </div>
                            </div>
                            <div class="col col-1"></div>
                        </div>

                        <div class="row">
                            <div class="col col-4">
                                <label class="lbltxt">Remarks</label>
                            </div>
                            <div class="col col-1"></div>
                            <div class="col col-6">
                                <textarea id="txtRemarks" class="txtarea nwCuzNoResize" rows="3"></textarea>
                            </div>
                            <div class="col col-1"></div>
                        </div>

                    </div>

                    <div class="col col-6 col-parent">

                        <div class="row">
                            <div class="col col-4">
                                <label class="lbltxt">Document No.</label>
                            </div>
                            <div class="col col-6">
                                <input id="txtDocNo" type="text" name="" disabled="">
                            </div>
                            <div class="col col-2"></div>
                        </div>

                        <div class="row">
                            <div class="col col-4">
                                <label class="lbltxt">Document Date</label>
                            </div>
                            <div class="col col-6">
                                <input id="txtDocDate" type="text" name="" disabled="">
                            </div>
                            <div class="col col-2"></div>
                        </div>

                        <div class="row">
                            <div class="col col-4">
                                <label class="lbltxt">Document Status</label>
                            </div>
                            <div class="col col-6">
                                <input id="txtDocStatus" type="text" name="" disabled="">
                            </div>
                            <div class="col col-2"></div>
                        </div>

                        <div class="row">
                            <div class="col col-4">
                                <label class="lbltxt">Reason for Disapproval</label>
                            </div>
                            <div class="col col-6">
                                <input id="txtReasDis" type="text" name="" disabled="">
                            </div>
                            <div class="col col-2"></div>
                        </div>

                        <div class="row">
                            <div class="col col-4">
                                <label class="lbltxt">Remarks for Disapproval</label>
                            </div>
                            <div class="col col-6">
                                <input id="txtRemDis" type="text" name="" disabled="">
                            </div>
                            <div class="col col-2"></div>
                        </div>

                        <div class="row">
                            <div class="col col-4"></div>
                            <div class="col col-6">
                                <button type="button" class="btnOrange btnMedium nwCuzInputs fullwidth" id="btnReqCompliance" disabled="disabled" style="margin-right:0px !important;">Requirements Compliance</button>
                            </div>
                            <div class="col col-2"></div>
                        </div>

                    </div>
                </div>
            </div>

            @*Hidden Fields*@
            <div class="nwHide">
                <input type="text" style="display: none;" id="txtIsReq" disabled="" />
                <input type="text" style="display: none;" id="txtRefDocno" disabled="" />
                <input id="txtServerlink" style="display: none;" />
                <input id="txtStatusCode" style="display: none;" />
            </div>
        </div>

    </div>
</div>

