body #menuCreatorContainerHolder
{
	display:none !important;
}

body #nwOrganizer
{
	margin-left:auto;
	margin-right:auto;
	margin-top: 35px;
}


.ContainerContent
{
	margin-top: 0px !important;

}

#ContainerContentBody
{
	width:70%;
	min-width: 100px;
	max-width: 66%;
	min-height: 400px;
}

#ScreenCollection
{
	width:30%;
	min-width: 200px; 
	max-width: 30%;
	min-height: 400px;
}
