@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Registration";
    Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>

    <script src="~/PMO/DataSetup/PMORegistration/PMORegistration.js"></script>
    <script src="~/PMO/DataSetup/PMORegistration/UploadCustom.js"></script>
    <script src="~/materials/jslib/uploading.js"></script>
    <link href="~/PMO/DataSetup/PMORegistration/PMORegistration.css" rel="stylesheet" />
</head>



<div class="rgf-selection fx-container">

    <div class="rgf-selection-wrapper">

        <div class="selection-wrap">
            <div class="selection-btn" id="btnNewUser" data-content="conUser">
                <div class="selection-icon newUser"></div>
                <div class="selection-txt">New User</div>
            </div>

            <div class="selection-btn" id="btnEnroll" data-content="conEnroll">
                <div class="selection-icon newEnroll"></div>
                <div class="selection-txt">New Property</div>
            </div>
        </div>

        <div class="selection-container">

            <div class="selection-con-wrapper" id="conUser">

                <div class="row">
                    <div class="col col-12">
                        <div class="row">
                            <div class="col col-12">
                                <div class="btn btn-default fullwidth darkblue btnFX" id="btnRegister">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="selection-con-wrapper" id="conEnroll">

                <div class="row">
                    <div class="col col-12">
                        <div class="row">
                            <div class="col col-12">
                                <label class="lbltxt">Existing Login Email<span class="nwRequiredField">*</span></label>
                            </div>
                            <div class="col col-12">
                                <input type="text" id="txtExistingEmail" class="txtbox rgf-upper">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-12">
                                <label class="lbltxt">Password<span class="nwRequiredField">*</span></label>
                            </div>
                            <div class="col col-12">
                                <input type="Password" id="txtPassword" class="txtbox rgf-upper">
                            </div>
                        </div>

                        <div class="rgf-error margin-y-5 fullwidth rgf-invi" id="EnrollErrMessage">Error message here</div>

                        <div class="row margin-top-10">
                            <div class="col col-12">
                                <div class="btn btn-default fullwidth darkblue" id="btnVerify">Verify</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="rgf-error margin-y-5 fullwidth rgf-invi">Error Here</div>
        </div>

    </div>

</div>

<div class="rgf-container fx-container">


    <div class="stepper">
        <div class="rgf-step fr">
            <div class="rgf-circle fr active"></div>
            <div class="rgf-txs">Property Info</div>
        </div>


        <div class="rgf-step tw">
            <div class="rgf-circle tw"></div>
            <div class="rgf-txs">User Info</div>
        </div>

        <div class="rgf-step fh">
            <div class="rgf-circle fh"></div>
            <div class="rgf-txs">Attach Files</div>
        </div>

        <div class="rgf-step tr">
            <div class="rgf-circle tr"></div>
            <div class="rgf-txs">Data Privacy</div>
        </div>

    </div>


    <div class="rgf-box">

        <div class="rgf pi active">
            <div class="rgf-img">
                <img src="materials/media/icons/Mobile/registration-icon-60x60iobg.png" alt="">
            </div>

            <div class="rgf-dt">
                <div class="rgf-tx">Property Information</div>
                <div class="rgf-stx">Please enter the details provided to property admin.</div>
                <input type="text" id="txtRegType" class="nwHide" disabled="">
            </div>

            <div class="row row-parent">
                <div class="col col-12">
                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Account Number<span class="nwRequiredField">*</span></label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtAccNo" class="txtbox rgf-upper">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Property<span class="nwRequiredField">*</span></label>
                        </div>
                        <div class="col col-12">
                            <select class="cmb fullwidth" id="cmbProperty"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Customer Type<span class="nwRequiredField">*</span></label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtCustomerType" disabled="" class="txtbox rgf-upper">
                            <input type="text" id="txtCustomerCode" disabled="" class="txtbox nwHide">
                        </div>
                    </div>

                    <div class="rgf-error margin-y-5 fullwidth rgf-invi" id="PropErrMessage">Error message here</div>

                    <div class="row"">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth cst-dis btnNxt" id="btnPropInfo">Next</div>
                        </div>
                    </div>
                    <div class="row margin-top-5">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth transparent btnBck" id="rfg-back-pi">Back</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="rgf ui">
            <div class="rgf-img">
                <img src="materials/media/icons/Mobile/registration-icon-60x60iobg.png" alt="">
            </div>

            <div class="rgf-dt">
                <div class="rgf-tx">User Information</div>
                <div class="rgf-stx">Please enter the details provided to property admin.</div>
            </div>

            <div class="row row-parent">
                <div class="col col-12">
                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Name<span class="nwRequiredField">*</span></label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtAccName" class="txtbox" disabled="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Email Address<span class="nwRequiredField">*</span></label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtAccEmail" class="txtbox">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Mobile Number<span class="nwRequiredField">*</span></label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtAccMobile" class="txtbox isNumber numberLeft" maxlength="11">
                        </div>
                    </div>

                    <div class="rgf-error margin-y-5 fullwidth rgf-invi" id="UserErrMessage">Error Here</div>

                    <div class="row margin-top-10"">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth cst-dis btnNxt" id="btnAccInfo">Next</div>
                        </div>
                    </div>

                    <div class="row margin-top-5">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth transparent btnBck">Back</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rgf af">
            <div class="rgf-img">
                <img src="materials/media/icons/Mobile/registration-icon-60x60iobg.png" alt="">
            </div>

            <div class="rgf-dt">
                <div class="rgf-tx">Attach Files</div>
                <div class="rgf-stx">Please enter the details provided to property admin.</div>
            </div>

            <div class="row">
                <div class="col col-12">
                    <div class="row">
                        <div class="col col-12">
                            <input type="text" id="txtServerPath" class="txtbox nwHide" disabled="">
                            <label class="lbltxt">Attach Proof of Identification</label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtIDProof" class="txtbox" placeholder="Select file to upload" disabled="">
                            <input type="text" id="txtIDFullPath" class="txtbox nwHide" disabled="">
                            <div class="rgf-btn-upload" id="ProofID">Upload</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <label class="lbltxt">Take a Selfie holding your valid ID</label>
                        </div>
                        <div class="col col-12">
                            <input type="text" id="txtSelfieProof" class="txtbox" placeholder="Select file to upload" disabled="">
                            <input type="text" id="txtSelfieFullPath" class="txtbox nwHide" disabled="">
                            <div class="rgf-btn-upload" id="ProofSelfie">Upload</div>
                        </div>
                    </div>

                    <div class="rgf-error margin-y-5 fullwidth rgf-invi" id="UploadErrMessage">Error Here</div>

                    <div class="row margin-top-10">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth cst-dis btnNxt" id="btnFileUpload">Next</div>
                        </div>
                    </div>
                    <div class="row margin-top-5">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth transparent btnBck">Back</div>
                        </div>
                    </div>
                </div>

            </div>
            @RenderPage("~/Views/Form_Standards/Uploading.cshtml", "PMORegistration")
        </div>

        <div class="rgf dp dpp">

            <div class="rgf-dt">
                <div class="rgf-tx">Data Privacy Policy</div>
                <input type="text" id="txtDPP" class="txtbox nwHide" disabled="">
                @*<div class="rgf-stx">FORECASTING AND PLANNING TECHNOLOGIES INC., PRIVACY STATEMENT</div>*@
            </div>

            <div class="row">
                <div class="col col-12">
                    <div class="row">
                        <div class="rgf-info tac-scroll" id="DivTAC">
                        </div>
                    </div>

                    <div class="row margin-top-10"">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth darkblue cst-dis btnFx" id="rfg-accept" disabled>I Accept</div>
                        </div>
                    </div>
                    <div class="row margin-top-5">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth transparent btnBck" id="rgf-back-dpp">I Do Not Accept</div>
                        </div>
                    </div>
                </div>

                @*<div class="rgf-btn">
                    <button type="button" id="rfg-accept">I accept</button>
                    <button type="button" class="rfg-back" id="rgf-back-dpp">Back</button>
                </div>*@
            </div>
        </div>





    </div>

</div>


<div class="otp-container fx-container">


    <div class="otp-box">


        <div class="otp-wrapper">
            <div class="otp-img">
                <img src="materials/media/icons/Mobile/email-OTP-details-60x60px.png" alt="">
            </div>

            <div class="otp-dt">
                <div class="otp-tx">OTP Verification</div>
                <div class="otp-stx">
                    Enter verification code sent your
                    number
                </div>
            </div>

            <div class="row row-parent">
                <div class="col col-12">
                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <div class="otp-wrap">
                                <input type="text" maxlength="6" id="txtOTPCode" class="txtbox fullwidth isNumber" placeholder="" >
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <div class="btn btn-default fullwidth darkblue btnFX" id="btnSubmitOTP">Submit</div>
                        </div>
                    </div>

                    <div class="row child-centered">
                        <div class="col col-12">
                            <div class="otp-code-notif">Didn’t Receive Code?<br /><span id="lblResendOtp">Resend new code</span></div>
                        </div>
                    </div>

                    <div class="rgf-error margin-y-5 fullwidth rgf-invi" id="OTPErrMessage">Error Here</div>

                    <div class="row child-centered">
                        <div class="col col-12">
                            <div class="otp-code-notif" id="lblReturnToLogin"><span>Return to Login</span></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="msg-container fx-container">

    <div class="msg-container-flex">
        <div class="msg-wrapper">

            <div class="msg-img">
                <img src="materials/media/icons/Mobile/success-reg-design-280obj.png" alt="">
            </div>

            <div class="msg-txt-ref">Reference No.</div>

            <div class="msg-txt-no" id="txtRef">MOBREG-2023-00000000001</div>

            <div class="msg-txt-sub">We are currently validating your details</div>

            <div class="msg-txt-sub">We will send you an email within 24-48 hrs once your account is ready to use</div>

            <div class="row margin-bottom-10 msg-cz">
                <div class="col col-12">
                    <a href="login" class="no-urderline fullwidth">
                        <div class="btn btn-default fullwidth darkblue">Return to Login</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>