@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "Inventory Availability Summary";
     Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/RE/ReportsandInquiry/REInvAvailabilitySummary/REInvAvailabilitySummary.js"></script>
    <link href="~/RE/ReportsandInquiry/REInvAvailabilitySummary/REInvAvailabilitySummary.css" rel="stylesheet" />
</head>

<div id="noah-webui-Toolbox" class="nk-toolbar-c">
            <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
        <div class="_icon"></div>
        <div class="_lbl">Refresh</div>
    </div>

            <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
                <div class="_icon"></div>
                <div class="_lbl">Export</div>
            </div>
</div>

<div class="container-flex">
    

    <!--  -->
    <!--  -->
    <div class="row row-parent">

        <div class="col col-10">
            <div class="heading">
                <div class="heading-title">Inventory Availability Summary</div>
            </div>
        </div>

        <div class="col col-2"></div>

            <!-- FILTER BY -->
            <div class="row row-parent">
                <div class="row row-6">
                    <div class="col col-6">
                        <div class="tabs tabs-lbl-bold col-12 fullwidth">
                            <div id="settingstabs" class="tabs-content">
                            </div>
                        </div>
                    </div>
                    <div class="col col-6">
                    </div>
                </div>
                <div class="row row-6"></div>
            </div>
            <!-- FILTER BY -->

            <input class="lugProject" type="hidden" />

        <div id="nwGridCon"></div>

    </div>
</div>

