#main-container
{
	top:-2px; left:0; right:0; bottom:0;position: fixed;
	top: 0px;
}


#btnupload {margin-bottom:5px;margin-top:5px;}
#btnupload,#btnclear,#btnupdate
{
    width:190px;
    padding:3px; background-color:#DEDEDE;
    box-shadow:1px 1px 3px #323232;
    border:1px solid white;
    text-align:center; cursor:default;
    margin-top:3px;
}
#btnupload:hover , #btnclear:hover,#btnupdate:hover
{
	background-color:orange; 
}
#btnupload:active , #btnclear:active,#btnupdate:active
{
	background-color:darkorange; color:White;
}
form { display: block; margin: 10px auto; background: #eee; border-radius: 10px;overflow: hidden; padding: 15px }

.progress { margin-top:2px; position:relative; width: 100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #0FC20F; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; text-shadow: 0px 0px 3px #DEDEDE }
input[type="file"] {background:#CACACA; color:White; min-width:100px; width:100%; max-width:500px;}
input[type="submit"]{margin-top:8px;background:green; border:2px solid #FEFEFE; width:100%; box-shadow:1px 1px 2px #434343; color:#212121; padding:5px; border-radius:4px; min-width:100px; max-width:150px;}
input[type="submit"]:hover{background:orange;} 

td *
{
	min-height:100%;
	height: 100%;
}

.tblGridBody td textarea
{
	width: 100%;
    border: 0;
    min-height: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: inherit;
    
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    text-decoration:inherit;
    color:inherit;
    background:none;
    word-break: break-word;
    resize: none;
    color:#212121;
}