body
{
}
.PagerNum.nwSelecte
{
color: orange;
}

.nwQuestion  div .nwQuestiontitleAdd
{
	position:absolute; margin:0 auto; background-color:rgba(0,0,0,0.1);
	width: 800px;
	height: 100%;
	display:none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
color: #02467C;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight
{
background-color: #11435F !important;
background-image: none !important;
color: #FFFFFF;
}
.ui-datepicker .ui-datepicker-title
{
color: #0064B3;
}
.PagerNum.nwSelected
{
color: orange;
}

div.Version
{
background: rgb(255, 227, 116);
font-weight: bold;
}
