/*
    # NOAH UI KIT: Media Screen Selection
    # Company Owner: Forecasting and Planning Technologies Inc. | NOAH Business Applications | PROMPTUS 8
    # Developer : Rico P. Buenviaje | Alvin Diaz Benedicto
    # Designer : Rico P. Buenviaje  | Alvin Diaz Benedicto
    # Date Created : July 10, 2020
    # Date Modified : March 12, 2022 | RPB
*/

/*
    Settings for different screen types
*/



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .nk [class*="col-"]:not(.col-dev) {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
        flex: 0 0 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
        flex: 0 0 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
        flex: 0 0 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 100%;
        flex: 0 0 100%;
    }

    .modal-box {
        width: 100%;
        height: 100%;
    }

    .modal-box-s {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .modal-box.modal-box-right {
        width: 100%;
        height: 100%;
    }

    .btn.btn-modal-rescale {
        display: none;
    }

    .dot-container {
        width: 285px;
        height: 20px;
    }

    .dot-c {
       width: 18px;
       height: 18px;
       animation: mob-loading 3.5s infinite ease-in-out;
    }

    .loading-text {
        font-size: 16px !important;
    }

    .loading-text span {
        font-size: 20px;
        top: 100%;
    }

    .loading::after {
        top: 240%;
        width: 55px;
        font-size: 16px;
    }

    .spinner-cc {
        animation: hide 1s ease 18s;
        animation-fill-mode: forwards;
}

    .text-fade._fade-one {
        top: 55%;
        left: 50%;
        text-align: center;
        animation: show 1s 5s, text-down .33s 10s;
        animation-fill-mode: forwards;
        width: 262px;
}

    .text-fade._fade-two {
        top: 55%;
        left: 50%;
        text-align: center;
        animation: show 1s 10.5s, text-down .33s 18s;
        animation-fill-mode: forwards;
}

    @keyframes text-down {
        0% {
         top: 55%;
         opacity: 1;
       }
        100% {
         top: 55%;
         opacity: 0;
     }
    }
}

/* Small devices (portrait phones, 576px and up) */
@media (min-width: 577px) and (max-width: 768px) and (orientation: portrait) {
    .nk .col .lbltxt {
        text-indent: 2px;
        margin: 1px 0;
    }
    .nk .col .txtbox,
    .nk .col .txtbox-date,
    .nk .col .txtbox-time {
        margin-bottom: 1px;
    }
    .nk [class*="col-"]:not(.col-dev) {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
        flex: 0 0 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
        flex: 0 0 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
        flex: 0 0 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-col-default > .row {
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {

    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
        flex: 0 0 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
        flex: 0 0 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
        flex: 0 0 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-col-default > .row {
        display: block;
    }

    .gridFolder {
        grid-template-columns: [rowFirst-folder] calc(33.33% - 10px) [rowSecond-folder] calc(33.33% - 10px) [rowThird-folder] 33.33% [rowEnd] !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 992px) {
    .nk .col.col-tab-4,
    .nk .col.col-mob-4 {
        width: 33.3333333333%;
    }
    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 82%;
    }
    .nk .row.row-parent.row-col-default > .row {
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
    .nk .container {
        max-width: 992px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    .nk .container {
         width: 94%;
         max-width: 1330px;
    }
}

/* NOAH Standard Screen Breakpoint */
@media (max-width: 800px) {

    .padding-right-10 {
        padding-right: 0px !important;
    }

    .padding-left-10 {
        padding-left: 0px !important;
    }

    .nk .table thead th, .nk .table thead tr {
        display: none;
    }

    .modal-box {
        /*width: 96%;
        height: 70%;*/
        width: 100%;
        height: 100%;
    }

    .attachment-cc {
        justify-content: flex-end;
    }

    .table-tabs-actions-right, 
    .table-header-actions-c {
        float: initial;
        text-align: initial;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .table-tabs-actions {
    padding: 0px;
    
     }

    .dropdown {
        width: 100%;
    }

    .menu-c {
    width: 100%;
    }

    .dropdown._with-txtbox .dropdown-content {
        min-width: 220px;
        width: 100%;
    }

    .table-search-wrapper {
        width: 89%;
    }
 
    
    .nk .table .tbl-row-num, .nk .table td {
        /*display: table;*/
        display: flex;
        align-items: center;
        width: 100% !important;
        max-width: 100% !important;
        padding-right: 4px !important;
        padding-left: 4px !important;
        position: relative;
        text-align: left !important;
        /* min-height: 28px; */
        height: 100%;
        padding: 2px;
        justify-content: space-between;
    }
    .nk .table .tbl-row-num {
        text-align: right !important;
        display: block;
    }
    
    .nk .table tr {
        border: 1px solid #cfd5da !important;
        border-radius: 3px;
        display: block;
        margin-bottom: 6px;
        padding: 2px;
    }
  

    
    .nk .table tr:last-of-type {
        margin-bottom: 0;
    }
    .nk .table .tbl-row-num:before,
    .nk .table td:before {
        content: attr(row-th);
        font-weight: bold;
        color: #000000;
        text-align: left;
        width: 40%;
        padding-right: 6px;
        padding-left: 4px;
        padding-top: 2px;
        overflow: hidden;
        height: 100%;
        vertical-align: top;
        line-height: 20px;
        max-width: 180px;
        display: table-cell;
    }
    .nk .table .tbl-row-num:before {
        color: #2ca5b1;
    }

    .nk .table .tbl-row-selector:before {
        line-height: 26px;
    }

    .nk td.tbl-row-selector .chk-without-text .chk + .lbl-chk {
        margin-left: -10px;
    }

    .nk .table .tbl-row-selector {
        padding-top: 0;
        padding-bottom: 0;
    }
    .nk .table td .chk-wrapper.chk-without-text {
        display: inline-block;
        text-align: left;
    }    
    .nk .table td .wrap-td,
    .nk .table th .wrap-td {
        vertical-align: top;
        padding-left: 4px;
        padding-right: 4px;
        width: 60%;
        line-height: 20px;
        white-space: normal;
        height: 100%;
        display: table-cell;
        padding-top: 2px;
        /*text-align: right;*/
    }
    .nk .table td.tb-align-right {
        text-align: right !important;
    }
     .nk .table  {
        width:100% !important;
    }
    .nk .table td.tb-align-center {
        text-align: center !important;
    }
    td:nth-child(even) {
    background: #edf6ff;
}
    .nk .table tr.selected {
        border-color: #2575c4 !important;
    }
    .nk .table tr.selected .tbl-row-num {
        color: #222222;
    }

    .nk .table-wrapper {

        max-height: initial;
        min-height: initial;
        overflow: hidden !important;
        padding: 7px;
    }
    
    .nkf {
        font-size: 10px !important;
    }

    .nk-footer-info {
        gap: 10px;
    }

    .nk-footer-modified {
        gap: 10px;
    }
    
    .nk-footer-create {
        gap: 10px;
    }

    .nk #grid-sticky th:nth-child(3), .nk #grid-sticky tr td:nth-child(3), 
    .nk #grid-sticky th:nth-child(2), .nk #grid-sticky tr td:nth-child(2), 
    .nk #grid-sticky th:nth-child(1), .nk #grid-sticky tr td:nth-child(1) {
        position: initial;
        padding: 2px !important;
    }

    .nk #grid-sticky th:nth-child(1), .nk #grid-sticky tr td:nth-child(1) {
        background: #ffffff;
    }

    .nk #grid-sticky th:nth-child(2), .nk #grid-sticky tr td:nth-child(2) {
        background: #edf6ff;
    }

    .nk #grid-sticky th:nth-child(3), .nk #grid-sticky tr td:nth-child(3) {
        background: #ffffff;
    }

    .main-c.theme_secondary_dark td:nth-child(even) {
        background: #222644;
    }

    .main-c.theme_secondary_dark .table .tbl-row-num:before, .main-c.theme_secondary_dark .table td:before {
        color: #ffffff;
    }

    .img-rdo {
        width: 100% !important;
    }

    .img-rdo[check-with-image="3"] {
        width: 100% !important;
    }
    
}

/* iPhone 5,6,7,8 Plus size screen devices (landscape phones, 320px to 736px) */
@media (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
.nk [class*="col-1"]:not(.col-dev):not(.col-12):not(.col-11):not(.col-10) {
    width: 16.6666666666%;
    flex: 0 0 16.6666666666%;
}

.nk [class*="col-2"]:not(.col-dev) {
    width: 33.3333333334%;
    flex: 0 0 33.3333333334%;
}

.nk [class*="col-3"]:not(.col-dev) {
    width: 50%;
    flex: 0 0 50%;
}

.nk [class*="col-4"]:not(.col-dev) {
    width: 66.6666666666%;
    flex: 0 0 66.6666666666%;
}

.nk [class*="col-5"]:not(.col-dev) {
    width: 83.3333333334%;
    flex: 0 0 83.3333333334%;
}

.nk [class*="col-6"]:not(.col-dev), 
.nk [class*="col-7"]:not(.col-dev), 
.nk [class*="col-8"]:not(.col-dev), 
.nk [class*="col-9"]:not(.col-dev),
.nk [class*="col-10"]:not(.col-dev), 
.nk [class*="col-11"]:not(.col-dev), 
.nk [class*="col-12"]:not(.col-dev) {
    width: 100%;
    flex: 0 0 100%;
}

/*Centering Div*/
.nk .row.row-parent.row-parent-mob > [class*="col-"] {
    margin: initial;
}

.nk .row.row-parent.row-parent-mob {
    margin:initial;
    justify-content: center;
    margin-bottom: 20px;
}

.row.row-parent-mob > [class*="col-"] {
    margin: initial;
}

/*radio buttons and check buttons*/
.row.row-parent-mob .col-parent > [class*="col-"] {
    margin: initial;
}
/*form lookup with col-parent class in lookups*/
.nk .row.row-parent-mob .col-parent > [class*="col-"]:not(.col-dev) {
    width: 100%;
    flex: 0 0 100%;
}
/*use this form lookups and landscape view*/
.row.row-parent.row-parent-mob [class*="col-"] > .row > [class*="col-"] {
    margin: initial;
}

.row.row-parent-mob [class*="col-"] > .row > [class*="col-"] {
    margin: initial;
}

    .gridFolder {
        grid-template-columns: [rowFirst-folder] calc(33.33% - 10px) [rowSecond-folder] calc(33.33% - 10px) [rowThird-folder] 33.33% [rowEnd] !important;
    }

/*.nk .col-1 {
    width: 16.6666666666%;
    flex: 0 0 16.6666666666%;
}*/
    /*.nk .row.row-parent.row-default-mob {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-col-default > .row {
        display: block;
    }*/
}
/* iPhone 5,6,7,8 Plus size screen devices (landscape phones, 320px to 736px) */
@media (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {
    .gridFolder {
        grid-template-columns: [rowFirst-folder] calc(50% - 10px) [rowSecond-folder] 50% [rowEnd] !important;
    }

    .nk-footer-info .nk-footer-create > div#nwlbl_RecDate {
        display: none;
    }

    .nk-footer-info .nk-footer-create > div#nwtxt_RecDate {
        display: none;
    }

    .nk-footer-info .nk-footer-modified > div#nwlbl_ModDate {
        display: none;
    }

    .nk-footer-info .nk-footer-modified > div#nwtxt_ModDate {
        display: none;
    }
}

















@media (max-width: 768px)  {
    .nk-toolbar-c .btn-tb-action {
        padding-left: 0px;
        padding: 5px 10px;
        margin-right: 3px;
        border-radius: 3px;
        height: auto;
        display: inline-block;
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }

    .nk-toolbar-c .btn-tb-action ._icon {
        margin-right: 0px;
        margin: 0 auto;
    }

    ._lbl {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .table-header-actions-c {
        position: absolute;
        left: 0;
        width: 70%;
        height: 100%;
        background: white;
        top: 0;
        z-index: 13;
        align-items: initial;
        justify-content: initial;
        flex-direction: column;
        gap: 6px;
        padding: 10px;
        margin: 0px;
        box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
        display: none;
    }

    .hrd-action-cc {
        width: 100%;
        /* height: 30px; */
        background-color: transparent;
        border-radius: 6px;
        transition: .50s ease background-color;
        cursor: pointer;
        display: flex;
        align-items: initial;
        justify-content: initial;
        border: 1px solid #e9e9e9;
        gap: 10px;
        align-items: center;
        padding: 3px;
        margin-bottom: 5px;

    }

    .table-header-actions-c ._ver-c {
        display: none;
    }

    .table-tabs-actions-right {
        display: flex;
        gap: 10px;
    }

    .table-search-wrapper {
        width: calc(100% - 40px);
    }
    .table-hrd-text {
        display: inherit;
    }

    .table-header-actions-c.show {
        display: block;
    }

    .table-header-mob {
        display: inherit;
    }
        .hrd-filters {
            display: inherit;
        }
    .table-header-mob {
        width: 22px;
        height: 22px;
        background-image: url(../media/icons/grid-icon-design/grid-btn-icon-for-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
    }

    .table-tabs-actions {
        padding: 0px 15px;
    }

.hrd-closed-sb::after {
    content: '';
    width: 2px;
    height: 16px;
    background: #2777c6;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 6px;
    transform: rotate(45deg);
}
.hrd-closed-sb::before {
    content: '';
    width: 2px;
    height: 16px;
    background: #2777c6;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 6px;
    transform: rotate(135deg);
}
.hrd-closed-sb {
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    cursor: pointer;
    top: 5px;
}
.hrd-filters {
    margin-bottom: 10px;
    text-align: center;
}
.hrd-title {
    font-size: 18px !important;
    font-weight: 600;
    color: #2776c5;
}
}


@media (max-width: 360px) {
    .nk-toolbar-c {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
    }

    .nk-toolbar-c::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width: 320px) {

    .nk-toolbar-c .btn-tb-action {
        padding: 5px 8px;
    }

}
