@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Demo-Icon";
    Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/DemoModule/DocumentEntry/DemoIcon/Demo.js"></script>
    <link href="~/DemoModule/DocumentEntry/DemoIcon/Demo.css" rel="stylesheet" />
</head>

<div class="container-flex">
    <!-- NEW -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-new"></div>
                        <div class="card-label">nk-icon-new</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-new-small"></div>
                        <div class="card-label">nk-icon-new-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-new-medium"></div>
                        <div class="card-label">
                            nk-icon-new-medium
                        </div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-new-large"></div>
                        <div class="card-label">nk-icon-new-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-new-xlarge"></div>
                        <div class="card-label">nk-icon-new-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-new30x30"></div>
                        <div class="card-label">nk-icon-new30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- SAVE -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-save"></div>
                        <div class="card-label">nk-icon-save</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-save-small"></div>
                        <div class="card-label">nk-icon-save-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-save medium"></div>
                        <div class="card-label">nk-icon-save-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-save-large"></div>
                        <div class="card-label">nk-icon-save-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-save-xlarge"></div>
                        <div class="card-label">nk-icon-save-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-save30x30"></div>
                        <div class="card-label">nk-icon-save30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- UPDATE -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-update"></div>
                        <div class="card-label">nk-icon-update</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-update-small"></div>
                        <div class="card-label">nk-icon-update-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-update-medium"></div>
                        <div class="card-label">nk-icon-update-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-update-large"></div>
                        <div class="card-label">nk-icon-update-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-update-xlarge"></div>
                        <div class="card-label">nk-icon-update-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-update30x30"></div>
                        <div class="card-label">nk-icon-update30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- DELETE -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-delete"></div>
                        <div class="card-label">nk-icon-delete</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-delete-small"></div>
                        <div class="card-label">nk-icon-delete-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-delete-medium"></div>
                        <div class="card-label">nk-icon-delete-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-delete-large"></div>
                        <div class="card-label">nk-icon-delete-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-delete-xlarge"></div>
                        <div class="card-label">nk-icon-delete-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-delete30x30"></div>
                        <div class="card-label">nk-icon-delete30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- REFRESH -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-refresh"></div>
                        <div class="card-label">nk-icon-refresh</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-refresh-small"></div>
                        <div class="card-label">nk-icon-refresh-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-refresh-medium"></div>
                        <div class="card-label">nk-icon-refresh-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-refresh-large"></div>
                        <div class="card-label">nk-icon-refresh-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-refresh-xlarge"></div>
                        <div class="card-label">nk-icon-refresh-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-refresh30x30"></div>
                        <div class="card-label">nk-icon-refresh30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- INQUIRE -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-inquire"></div>
                        <div class="card-label">nk-icon-inquire</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-inquire-small"></div>
                        <div class="card-label">nk-icon-inquire-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-inquire-medium"></div>
                        <div class="card-label">nk-icon-inquire-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-inquire-large"></div>
                        <div class="card-label">nk-icon-inquire-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-inquire-xlarge"></div>
                        <div class="card-label">nk-icon-inquire-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-inquire30x30"></div>
                        <div class="card-label">nk-icon-inquire30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- PROCESS -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-process"></div>
                        <div class="card-label">nk-icon-process</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-process-small"></div>
                        <div class="card-label">nk-icon-process-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-process-medium"></div>
                        <div class="card-label">nk-icon-process-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-process-large"></div>
                        <div class="card-label">nk-icon-process-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-process-xlarge"></div>
                        <div class="card-label">nk-icon-process-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-process30x30"></div>
                        <div class="card-label">nk-icon-process30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- EXPORT -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-export"></div>
                        <div class="card-label">nk-icon-export</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-export-small"></div>
                        <div class="card-label">nk-icon-export-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-export-medium"></div>
                        <div class="card-label">nk-icon-export-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-export-large"></div>
                        <div class="card-label">nk-icon-export-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-export-xlarge"></div>
                        <div class="card-label">nk-icon-export-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-export30x30"></div>
                        <div class="card-label">nk-icon-export30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- IMPORT -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-import"></div>
                        <div class="card-label">nk-icon-import</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-import-small"></div>
                        <div class="card-label">nk-icon-import-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-import-medium"></div>
                        <div class="card-label">nk-icon-import-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-import-large"></div>
                        <div class="card-label">nk-icon-import-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-import-xlarge"></div>
                        <div class="card-label">nk-icon-import-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-import30x30"></div>
                        <div class="card-label">nk-icon-import30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- PRINT -->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-print"></div>
                        <div class="card-label">nk-icon-print</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-print-small"></div>
                        <div class="card-label">nk-icon-print-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-print-medium"></div>
                        <div class="card-label">nk-icon-print-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-print-large"></div>
                        <div class="card-label">nk-icon-print-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-print-xlarge"></div>
                        <div class="card-label">nk-icon-print-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-print30x30"></div>
                        <div class="card-label">nk-icon-print30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Load from historical template-->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-loadhistory"></div>
                        <div class="card-label">nk-icon-loadhistory</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-loadhistory-small"></div>
                        <div class="card-label">nk-icon-loadhistory-small</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-loadhistory-medium"></div>
                        <div class="card-label">nk-icon-loadhistory-medium</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-loadhistory-large"></div>
                        <div class="card-label">nk-icon-loadhistory-large</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-loadhistory-xlarge"></div>
                        <div class="card-label">nk-icon-loadhistory-xlarge</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c nk-icon-loadhistory30x30"></div>
                        <div class="card-label">nk-icon-loadhistory30x30</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="AOV"></div>
                        <div class="card-label">cabv="AOV"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="AOV-small"></div>
                        <div class="card-label">cabv="AOV-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="AOV-medium"></div>
                        <div class="card-label">cabv="AOV-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="AOV-large"></div>
                        <div class="card-label">cabv="AOV-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="AOV-xlarge"></div>
                        <div class="card-label">cabv="AOV-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="AOV30x30"></div>
                        <div class="card-label">cabv="AOV30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBR"></div>
                        <div class="card-label">cabv="OBR"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBR-small"></div>
                        <div class="card-label">cabv="OBR-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBR-medium"></div>
                        <div class="card-label">cabv="OBR-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBR-large"></div>
                        <div class="card-label">cabv="OBR-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBR-xlarge"></div>
                        <div class="card-label">cabv="OBR-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBR30x30"></div>
                        <div class="card-label">cabv="OBR30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBU"></div>
                        <div class="card-label">cabv="OBU"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBU-small"></div>
                        <div class="card-label">cabv="OBU-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBU-medium"></div>
                        <div class="card-label">cabv="OBU-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBU-large"></div>
                        <div class="card-label">cabv="OBU-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBU-xlarge"></div>
                        <div class="card-label">cabv="OBU-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="OBU30x30"></div>
                        <div class="card-label">cabv="OBU30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="ST"></div>
                        <div class="card-label">cabv="ST"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="ST-small"></div>
                        <div class="card-label">cabv="ST-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="ST-medium"></div>
                        <div class="card-label">cabv="ST-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="ST-large"></div>
                        <div class="card-label">cabv="ST-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="ST-xlarge"></div>
                        <div class="card-label">cabv="ST-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="ST30x30"></div>
                        <div class="card-label">cabv="ST30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="T"></div>
                        <div class="card-label">cabv="T"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="T-small"></div>
                        <div class="card-label">cabv="T-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="T-medium"></div>
                        <div class="card-label">cabv="T-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="T-large"></div>
                        <div class="card-label">cabv="T-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="T-xlarge"></div>
                        <div class="card-label">cabv="T-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="T30x30"></div>
                        <div class="card-label">cabv="T30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="TB"></div>
                        <div class="card-label">cabv="TB"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="TB-small"></div>
                        <div class="card-label">cabv="TB-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="TB-medium"></div>
                        <div class="card-label">cabv="TB-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="TB-large"></div>
                        <div class="card-label">cabv="TB-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="TB-xlarge"></div>
                        <div class="card-label">cabv="TB-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="TB30x30"></div>
                        <div class="card-label">cabv="TB30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMU"></div>
                        <div class="card-label">cabv="EMU"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMU-small"></div>
                        <div class="card-label">cabv="EMU-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMU-medium"></div>
                        <div class="card-label">cabv="EMU-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMU-large"></div>
                        <div class="card-label">cabv="EMU-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMU-xlarge"></div>
                        <div class="card-label">cabv="EMU-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMU30x30"></div>
                        <div class="card-label">cabv="EMU30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMR"></div>
                        <div class="card-label">cabv="EMR"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMR-small"></div>
                        <div class="card-label">cabv="EMR-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMR-medium"></div>
                        <div class="card-label">cabv="EMR-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMR-large"></div>
                        <div class="card-label">cabv="EMR-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMR-xlarge"></div>
                        <div class="card-label">cabv="EMR-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="EMR30x30"></div>
                        <div class="card-label">cabv="EMR30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CPXB"></div>
                        <div class="card-label">cabv="CPXB"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CPXB-small"></div>
                        <div class="card-label">cabv="CPXB-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CPXB-medium"></div>
                        <div class="card-label">cabv="CPXB-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CPXB-large"></div>
                        <div class="card-label">cabv="CPXB-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CPXB-xlarge"></div>
                        <div class="card-label">cabv="CPXB-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CPXB30x30"></div>
                        <div class="card-label">cabv="CPXB30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CBR"></div>
                        <div class="card-label">cabv="CBR"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CBR-small"></div>
                        <div class="card-label">cabv="CBR-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CBR-medium"></div>
                        <div class="card-label">cabv="CBR-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CBR-large"></div>
                        <div class="card-label">cabv="CBR-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CBR-xlarge"></div>
                        <div class="card-label">cabv="CBR-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CBR30x30"></div>
                        <div class="card-label">cabv="CBR30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CB"></div>
                        <div class="card-label">cabv="CB"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CB-small"></div>
                        <div class="card-label">cabv="CB-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CB-medium"></div>
                        <div class="card-label">cabv="CB-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CB-large"></div>
                        <div class="card-label">cabv="CB-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CB-xlarge"></div>
                        <div class="card-label">cabv="CB-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="CB30x30"></div>
                        <div class="card-label">cabv="CB30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
    <div class="row row-parent">
        <div class="col col-12 col-parent child-centered">
            <div class="row child-centered">

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="H"></div>
                        <div class="card-label">cabv="H"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="H-small"></div>
                        <div class="card-label">cabv="H-small"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="H-medium"></div>
                        <div class="card-label">cabv="H-medium"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="H-large"></div>
                        <div class="card-label">cabv="H-large"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="H-xlarge"></div>
                        <div class="card-label">cabv="H-xlarge"</div>
                    </div>
                </div>

                <div class="col col-2">
                    <div class="card" card-style="13">
                        <div class="card-image-c" cabv="H30x30"></div>
                        <div class="card-label">cabv="H30x30"</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---->
</div>
