<div id="" class="row">
    <div class="col col-5 dynaField lblName">
        <label id="lblField{fieldID}" class="lbltxt">{fieldName}<span class="{classReq}">{isReq}</span></label>
    </div>
    <div class="col col-7 dynaField luStyle">
        <input id="txtField{fieldID}" type="text" name="{wfTag}" class="txtbox isNumber numC nwCuz009" maxlength="{maxLength}" nwdp="2" />
    </div>
</div>

<div id="" class="row">
    <div class="col col-5 dynaField lblName">
        <label id="lblField{fieldID}" class="lbltxt">{fieldName}<span class="{classReq}">{isReq}</span></label>
    </div>
    <div id="lugField{fieldID}" class="col col-7 dynaField luStyle lookups">
        <div class="col col-4 conval">
            <input id="idvallugField{fieldID}" type="text" name="" class="txtbox idval nwCuz006" disabled />
        </div>
        <div class="col col-8 conval">
            <input id="descvallugField{fieldID}" type="text" name="" class="txtbox descval nwCuz007" disabled />
        </div>
    </div>
</div>

<div id="" class="row">
    <div class="col col-5 dynaField lblName">
        <label id="lblField{fieldID}" class="lbltxt">{fieldName}<span class="{classReq}">{isReq}</span></label>
    </div>
    <div class="col col-7 dynaField luStyle">
        <textarea id="txtField{fieldID}" class="txtarea autoresize nwCuz008" maxlength="{maxLength}" rows="3"></textarea>
    </div>
</div>

<div id="" class="row">
    <div class="col col-5 dynaField lblName">
        <label id="lblField{fieldID}" class="lbltxt">{fieldName}<span class="{classReq}">{isReq}</span></label>
    </div>
    <div id="lugField{fieldID}" class="col col-7 col-parent adisabled dynaField luStyle lookups">
        <div class="col col-4 conval">
            <input id="idvallugField{fieldID}" type="text" name="{wfTag}" class="txtbox idval nwCuz014" />
        </div>
        <div class="col col-8 conval">
            <input id="descvallugField{fieldID}" type="text" name="" class="txtbox txtdesc descval nwCuz013" value="" disabled />
            <div class="btn btn-sm-default btn-sm-default-lookup LookUp"></div>
        </div>
    </div>
</div>
=========================================================================================================================

<div class="row">
    <div class="col col-5 dynaField lblName">
        <label id="lblField{fieldID}" class="lbltxt">{fieldName}<span class="{classReq}">{isReq}</span></label>
    </div>
    <div class="col col-7 col-parent">
        <div class="col col-6">
            <div class="rdo-wrapper">
                <input id="rdo1 rb_yes" type="radio" name="yes_no" class="rdo" value="yes">
                <label class="lbl-rdo" for="rdo1">Yes</label>
            </div>
        </div>
        <div class="col col-6">
            <div class="rdo-wrapper">
                <input id="rdo2 rb_no" type="radio" name="yes_no" class="rdo" value="no">
                <label class="lbl-rdo" for="rdo2">No</label>
            </div>
        </div>
    </div>
</div>

<div class="dynaField">
    <div class="lblName">
        <label id="lblField{fieldID}">{fieldName}</label><span class="{classReq}">{isReq}</span>
    </div>
    <input id="rb_yes" type="radio" name="yes_no" value="yes"><label for="rb_yes" style="padding-right: 200px">Yes</label>
    <input id="rb_no" type="radio" name="yes_no" value="no"><label for="rb_no">No</label>
</div>


    <div class="dynaField"><div class="lblName"><label id="lblField{fieldID}">{fieldName}</label><span class="{classReq}">{isReq}</span></div><input id="rb_yes" type="radio" name="yes_no" value="yes"><label for="rb_yes" style="padding-right: 200px">Yes</label><input id="rb_no" type="radio" name="yes_no" value="no"><label for="rb_no">No</label>