@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "Customer Ledger";
     Layout =NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/PMO/DataSetup/PMOCustomerLedger/PMOCustomerLedger.js"></script>
    <link href="~/PMO/DataSetup/PMOCustomerLedger/PMOCustomerLedger.css" rel="stylesheet" />
</head>

<div id="noah-webui-Toolbox" class="nk-toolbar-c">
    <div id="noah-webui-default-New" class="btn-tb-action btn-tb-new">
        <div class="_icon"></div>
        <div class="_lbl">New</div>
    </div>
    <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
        <div class="_icon"></div>
        <div class="_lbl">Refresh</div>
    </div>
    <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
        <div class="_icon"></div>
        <div class="_lbl">Export</div>
    </div>
</div>

<div class="container-flex">
    <div class="row row-parent padding-10">
        <!-- Date Filter -->
        <fieldset class="fieldset" nk-fieldset-style="6">
            <div class="col col-12 col-parent">
                <div class="col col-6">
                    <!-- Account No. -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Account No.</label>
                        </div>
                        <div id="lugAccountNo" class="col col-7 lookups adisabled">
                            <div class="col col-12 conval">
                                <input type="text" name="" class="txtbox txtcode idval" autocomplete="off">
                                <div class="btn btn-sm-default btn-sm-default-lookup LookUp"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Customer -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Customer</label>
                        </div>
                        <div id="lugCustomer" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz001" autocomplete="off" disabled>
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Customer Class -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Customer Class</label>
                        </div>
                        <div id="lugCustomerClass" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz001" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Unit Owner -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Unit Owner</label>
                        </div>
                        <div id="lugUnitOwner" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz001" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Address</label>
                        </div>
                        <div class="col col-7">
                            <div class="col col-12">
                                <textarea id="txtAddress" class="txtarea autoresize txtcode" rows="3" autocomplete="off" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Details -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Contact Details</label>
                        </div>
                        <div class="col col-7">
                            <div class="col col-12">
                                <input id="txtContactDetails" type="text" name="" class="txtbox txtcode" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- TIN -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">TIN</label>
                        </div>
                        <div class="col col-7">
                            <div class="col col-12">
                                <input id="txtTIN" type="text" name="" class="txtbox txtcode" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-6">
                    <!-- Unit Code -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Unit Code</label>
                        </div>
                        <div class="col col-7">
                            <div class="col col-12 conval">
                                <input id="txtUnitCode" type="text" name="" class="txtbox txtcode" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Inventory Type -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Inventory Type</label>
                        </div>
                        <div id="lugInventoryType" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz002" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval nwCuz002" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Inventory Class -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Inventory Class</label>
                        </div>
                        <div id="lugInventoryClass" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz002" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval nwCuz002" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Level 1 -->
                    <div class="row">
                        <div class="col col-5">
                            <label id="level1" class="lbltxt">Level 1</label>
                        </div>
                        <div id="luglevel1" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz002" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval nwCuz002" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Level 2 -->
                    <div class="row">
                        <div class="col col-5">
                            <label id="level2" class="lbltxt">Level 2</label>
                        </div>
                        <div id="luglevel2" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz002" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval nwCuz002" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Level 3 -->
                    <div class="row">
                        <div class="col col-5">
                            <label id="level3" class="lbltxt">Level 3</label>
                        </div>
                        <div id="luglevel3" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz002" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval nwCuz002" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Level 4 -->
                    <div class="row">
                        <div class="col col-5">
                            <label id="level4" class="lbltxt">Level 4</label>
                        </div>
                        <div id="luglevel4" class="col col-7 lookups">
                            <div class="col col-5 conval">
                                <input type="text" name="" class="txtbox txtcode idval nwCuz002" autocomplete="off">
                            </div>
                            <div class="col col-7 conval">
                                <input type="text" name="" class="txtbox txtdesc txtlookup descval nwCuz002" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- Account Status -->
                    <div class="row">
                        <div class="col col-5">
                            <label class="lbltxt">Account Status</label>
                        </div>
                        <div class="col col-7">
                            <div class="col col-12">
                                <input id="txtAccountStatus" type="text" name="" class="txtbox txtcode" autocomplete="off" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row row-parent child-centered">
    <div class="col col-12">
        <div class="tabs tabs-lbl-bold" nk-tabs-style="3">
            <div id="settingstabs1" class="tabs-content">
                <input id="nkTabs_e_1 settingstabsBut1-1" type="radio" class="tabs-rdb" checked="" name="tabs-e">
                <label for="nkTabs_e_1 settingstabsBut1-1" class="tabs-lbl">Billing Statement</label>
                <div id="settingstabs1-1" class="tabs-text">
                    <div class="row row-parent padding-x-10">
                        <div id="nwGridBillingStatementCon" class="col col-12">
                        </div>
                    </div>
                </div>
                <!--  -->
                <input id="nkTabs_e_2 settingstabsBut1-2" type="radio" class="tabs-rdb" name="tabs-e">
                <label for="nkTabs_e_2 settingstabsBut1-2" class="tabs-lbl">Customer Ledger</label>
                <div id="settingstabs1-2" class="tabs-text">
                    <div class="row row-parent padding-x-10">
                        <div id="nwGridCustomerLedgerCon" class="col col-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-flex">
    <div class="col col-12">
        @*<div id="nwPopupDetails" class="row row-parent padding-10" title="Billing Statement Details">
            <div class="row">
                <div id="nwGridPopupDetails" class="col col-12">
                </div>
            </div>
        </div>*@
        <div id="number1_popup" class="modal">
            <div class="modal-box col col-11">
                <div class="modal-box-bg"></div>
                <div class="modal-hdr">
                    <div class="btn btn-modal-back" nk-fx-click="press" title="Back"><span></span></div>
                    <!-- <div class="modal-hdr-icon"></div> -->
                    <div class="modal-hdr-title">Details</div>
                    <div class="btn btn-modal-rescale" nk-fx-click="press" title="Rescale"></div>
                </div>
                <div class="nk-modal-body">
                    <div class="row">
                        <div class="col col-12 col-parent child-centered">
                            <div class="row">
                                <div id="nwGridPopupDetails" class="col col-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

