@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "My Transaction Summary";
     Layout =NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/RE/ReportsAndInquiry/REMyTransactionsSummary/REMyTransactionsSummary.js"></script>
    <link href="~/RE/ReportsAndInquiry/REMyTransactionsSummary/REMyTransactionsSummary.css" rel="stylesheet" />
</head>
<body class="">
    <form id="form1" runat="server">
        <div id="noah-webui-Toolbox" class="nk-toolbar-c">
            <div id="noah-webui-default-New" class="btn-tb-action btn-tb-new">
                <div class="_icon"></div>
                <div class="_lbl">New</div>
            </div>
            <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-save">
                <div class="_icon"></div>
                <div class="_lbl">Save</div>
            </div>

            <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-delete">
                <div class="_icon"></div>
                <div class="_lbl">Delete</div>
            </div>
            <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
                <div class="_icon"></div>
                <div class="_lbl">Refresh</div>
            </div>
            <div id="noah-webui-default-Inquire" class="btn-tb-action btn-tb-inquire">
                <div class="_icon"></div>
                <div class="_lbl">Inquire</div>
            </div>
            <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
                <div class="_icon"></div>
                <div class="_lbl">Export</div>
            </div>
        </div>
        <div class="container-flex">
            <div class="col col-12 col-parent">
           
                <div class="row row-parent padding-10">
                    <div class="col col-4 col-parent">
                        <fieldset class="fieldset fullwidth">
                            <legend>Data Filter</legend>
                            <div class="row">
                               <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input type="radio" name="datefilter" id="radioMonthly" class="rdo" checked />

                                        <label for="radioMonthly" class="lbl-rdo">Monthly</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                    <select class="cmb fullwidth" id="cmbMonth"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input id="radioAnnual" type="radio" name="datefilter" class="rdo" checked />
                                        <label for="radioAnnual" class="lbl-rdo">Annual</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                    <select class="cmb fullwidth drop-select" id="cboAnnual"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input name="datefilter" type="radio" id="radioQuarter" class="rdo" checked />
                                        <label for="radioQuarter" class="lbl-rdo">Quarterly</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                    <select class="cmb fullwidth" id="cmbQuarter"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input name="datefilter" type="radio" id="radioDate" class="rdo" checked />
                                        <label for="radioDate" class="lbl-rdo">Date Covered</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-1"></div>
                                <div class="col col-3">
                                    <label for="">From</label>
                                </div>
                                <div class="col col-8">
                                    <input type="date" id="txtDateFrom" class="txtbox txtbox-date isNumber">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-1"></div>
                                <div class="col col-3">
                                    <label for="">To</label>
                                </div>
                                <div class="col col-8">
                                    <input type="date" id="txtDateTo" class="txtbox txtbox-date isNumber">
                                    @*<input type="text" class="" id="filterx" />*@
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- right side filter by-->
                    <div class="col col-8 col-parent">
                        <div class="tabs tabs-lbl-bold fullwidth" nk-tabs-style="4">
                            <div class="tabs-title">Filter By</div>

                            <div class="tabs-content">
                                <!-- tabs-->
                                <input id="nkTabs_f_1" type="radio" class="tabs-rdb" name="tabs-e">
                                <label for="nkTabs_f_1" class="tabs-lbl">Transaction Type</label>
                                <div class="tabs-text">
                                    <div class="row">
                                        <div class="col col-12 col-parent">
                                            <div class="row">
                                                <div class="col col-12">
                                                    
                                                        <div class="btn-action-tab btn-add-list">
                                                            @*<button id="atl_Trantype" nwtype="lugTrantype" class="btnGetlookup" onclick="return false;">*@
                                                                <div class="_btn-icon"></div>
                                                                <div id="atl_Trantype" nwtype="lugTrantype" class="_lbl-txt btnGetlookup">Add to list</div>
                                                            @*</button>*@
                                                        </div>
                                                    
                                                    <div class="btn-action-tab btn-del-list">
                                                        <div class="_btn-icon"></div>
                                                        <div  id="atl_clearTrantype" nwtype="lugTrantype" class="btnClearList lbl-txt">Clear list</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="nkTab-container _tab-container" nwtype="lugTrantype"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs-->
                                <input id="nkTabs_f_2" type="radio" class="tabs-rdb" name="tabs-e">
                                <label for="nkTabs_f_2" class="tabs-lbl">Project</label>
                                <div class="tabs-text">
                                    <div class="row">
                                        <div class="col col-12 col-parent">
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="btn-action-tab btn-add-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_Project" nwtype="lugProject" class="btnGetlookup _lbl-txt">Add to list</div>
                                                    </div>
                                                    <div class="btn-action-tab btn-del-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_clearProject" nwtype="lugProject" class="btnClearList _lbl-txt">Clear list</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="nkTab-container _tab-container" nwtype="lugProject"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs-->
                                <input id="nkTabs_f_3" type="radio" class="tabs-rdb" name="tabs-e">
                                <label for="nkTabs_f_3" class="tabs-lbl">Unit</label>
                                <div class="tabs-text">
                                    <div class="row">
                                        <div class="col col-12 col-parent">
                                            <div class="row">
                                                <div class="col col-12">
                                                    @*<button id="atl_UnitCode" nwtype="lugUnitCode" class="btnGetlookup" onclick="return false;"><i class="fas fa-plus-circle"></i>&nbsp;Add to List</button>
                                                    <button id="atl_clearUnitCode" nwtype="lugUnitCode" class="btnClearList" onclick="return false;"><i class="fas fa-minus-circle"></i>&nbsp;Clear List</button>*@
                                                    <div class="btn-action-tab btn-add-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_UnitCode" nwtype="lugUnitCode" class="_lbl-txt btnGetlookup">Add to list</div>
                                                    </div>
                                                    <div class="btn-action-tab btn-del-list">
                                                        <div class="_btn-icon"></div>
                                                        <div  id="atl_clearUnitCode" nwtype="lugUnitCode" class="_lbl-txt btnClearList">Clear list</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="nkTab-container _tab-container" nwtype="lugUnitCode"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs-->
                                <input id="nkTabs_f_4" type="radio" class="tabs-rdb" name="tabs-e">
                                <label for="nkTabs_f_4" class="tabs-lbl">Customer</label>
                                <div class="tabs-text">
                                    <div class="row">
                                        <div class="col col-12 col-parent">
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="btn-action-tab btn-add-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_CustomerCode" nwtype="lugCustomerCode" class="btnGetlookup _lbl-txt">Add to list</div>
                                                    </div>
                                                    <div class="btn-action-tab btn-del-list">
                                                        <div class="_btn-icon"></div>
                                                        <div  id="atl_clearCustomerCode" nwtype="lugCustomerCode" class="_lbl-txt btnClearList">Clear list</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="nkTab-container _tab-container" nwtype="lugCustomerCode"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- tabs-->

                                <input id="nkTabs_f_5" type="radio" class="tabs-rdb" name="tabs-e">
                                <label for="nkTabs_f_5" class="tabs-lbl">Customer Classification</label>

                                <div class="tabs-text">
                                    <div class="row">
                                        <div class="col col-12 col-parent">
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="btn-action-tab btn-add-list">
                                                        <div class="_btn-icon"></div>
                                                        <div  id="atl_CustomerClass" nwtype="lugCustomerClass" class="btnGetlookup _lbl-txt">Add to list</div>
                                                    </div>
                                                    <div class="btn-action-tab btn-del-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_clearCustomerClass" nwtype="lugCustomerClass" class="btnClearList _lbl-txt">Clear list</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="nkTab-container _tab-container" nwtype="lugCustomerClass"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs-->
                                <input id="nkTabs_f_6" type="radio" class="tabs-rdb" name="tabs-e">
                                <label for="nkTabs_f_6" class="tabs-lbl">Source of Sale</label>
                                <div class="tabs-text">
                                    <div class="row">
                                        <div class="col col-12 col-parent">
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="btn-action-tab btn-add-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_SourceofSale" nwtype="lugSourceofSale" class="btnGetlookup _lbl-txt">Add to list</div>
                                                    </div>
                                                    <div class="btn-action-tab btn-del-list">
                                                        <div class="_btn-icon"></div>
                                                        <div id="atl_clearSourceofSale" nwtype="lugSourceofSale btnClearList" class="_lbl-txt">Clear list</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-12">
                                                    <div class="nkTab-container _tab-container" nwtype="lugSourceofSale"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="container-flex">
            <div class="row row-parent padding-10">
                    <div class="col col-12 col-parent" id="nwGridMainCon">
                        <div id="nwGrid2MainCon"></div>

                    </div>
            </div>
        </div>

</body>
