/*
    # NOAH UI KIT
    # Company Owner: Forecasting and Planning Technologies Inc. | NOAH Business Applications | PROMPTUS 8
    # Developer : Rico P. Buenviaje 
    # Designer : Rico P. Buenviaje 
    # Date Created : September 20, 2022
    # Date Modified : September 20, 2022 | RPB
*/


* {
    font-family: 'Poppins-Regular', sans-serif !important;
}

.nk .registration-form-c {
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    column-gap: 20px;
}

.nk .registration-form-wrapper {
    /*position: absolute;.banner-img img
    left: 50%;
    top: 50%;*/
    width: 500px;
    /*height: 500px;*/
    /*transform: translate(-50%, -50%);*/
    border-radius: 14px;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
}

.nk .registration-welcome-c {
    width: 700px;
    min-width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        /*border-radius: 14px 0px 0px 14px;
    overflow: hidden;*/
}

.nk .registration-form {
    font-size: 23px;
    font-weight: 600;
    position: relative;
    color: #253062;
}

.nk .subtext-form {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
        color: #505050;
}


.nk .registration-form-wrapper .row .col input {
background: white;
    height: 32px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    font-weight: 600;
    padding-left: 36px;
    color: #303030 !important;
}

.nk .registration-form-wrapper .row .col label {
    display: none;
}

.nk .lbl-chk.fullwidth.chkTermsandCondition {
    display: inherit !important;
}

.nk .registration-form-wrapper .row .col input::placeholder {
    font-size: 13px;
    color: #dbdbdb;
    font-weight:500;
}

.nk .registration-icon {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nk .registration-icon::after {
    content: '';
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background: url(../RegistrationForm/form-registration-icon/box-icon-30x30-v2.png); 
    display: block;
}

.nk .registration-icon.fname::after,.nk .registration-icon.lname::after, .nk .registration-icon.mname::after {
    background: url(../RegistrationForm/form-registration-icon/username-30x30-v2.png); 
}

.nk .registration-icon.email::after {
    background: url(../RegistrationForm/form-registration-icon/emailaddress-30x30-v3.png); 
}

.nk .registration-icon.cpassword::after {
    background: url(../RegistrationForm/form-registration-icon/confirmpassword-icon-30x30-v2.png); 
}

.nk .registration-icon.giveaway::after {
    background: url(../RegistrationForm/form-registration-icon/giveaway-30x30-v3.png); 
}

.nk .registration-icon.contactnumber::after {
    background: url(../RegistrationForm/form-registration-icon/mobile-number30x30-v2.png); 
}

.nk .registration-icon.companyaddress::after {
    background: url(../RegistrationForm/form-registration-icon/company-address-icon30x30-v2.png); 
}

.nk .registration-icon.companyname::after {
    background: url(../RegistrationForm/form-registration-icon/company-icon30x30-v2.png); 
}

.nk .registration-icon.prodserprovided::after {
    background: url(../RegistrationForm/form-registration-icon/box-icon-30x30-v2.png); 
}

.nk .registration-icon.subcategory::after {
    background: url(../RegistrationForm/form-registration-icon/category-icon-30x30-v2.png); 
}

.nk .registration-icon.demoschedule::after {
    background: url(../RegistrationForm/form-registration-icon/demo-icon-30x30-v2.png); 
}

.nk .registration-icon.designation::after {
    background: url(../RegistrationForm/form-registration-icon/designation-icon30x30.png); 
}


.nk .rgt-welcome-text {
    font-size: 23px;
    font-weight: 600;
    position: relative;
    color: #253062;
}

.nk .rgt-subtext {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
        color: #505050;
}
.nk .registration-form-wrapper .row .col input:hover {
    border-color: #0659ab !important;
}
.nk .rgt-alreadytext {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}

.nk .banner-img {
    width: 100%;
    height: 160px;
    bottom: 20px;
}

.nk .banner-img img {
    width: 100%;
    height: 100%;
}


.bg-bottom-misc {
    height: 300px;
    background: url(../RegistrationForm/form-registration-icon/test-bg-v2.png); 
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*MOBILE RESPONSIVE*/ 

@media (min-width: 993px) and (max-width: 1200px) {
 
    .nk .registration-form-c {
        max-width: 992px;
        padding: 0px 30px;   
    }

.nk .registration-welcome-c {
    width: 492px;
    min-width: 492px;
    padding: 0px !important;
}

.nk .registration-form-wrapper {
    width: 500px;
}

}


@media (max-width: 992px) {

    .nk .registration-form-c {
        position: relative;
        left: 0;
        top: 0;
        transform: inherit;
        padding: 20px 30px;
        flex-direction: column;
    }

    .nk .registration-welcome-c {
        width: 100%;
        min-width: 100%;
    }

    .nk .registration-form-wrapper {
        width: 100%;
        padding: 10px !important;
        border-radius: 20px 0px 0px 20px;
        box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    }

    .nk .banner-img {
        height: 170px;
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        border-radius: 6px;
    }

    .row.padding-20 {
        padding: 15px 0px !important;
    }

    .nk .rgt-welcome-text, .nk .registration-form {
        font-size: 20px;
    }

        .nk [class*="col-4"]:not(.col-dev) {
        width: 100% !important;
        flex: 0 0 100% !important;
    }

            .bg-bottom-misc {
    display: none;
}

}


@media (max-width: 600px) {

    .nk .registration-form-c {
        position: relative;
        left: 0;
        top: 0;
        transform: inherit;
        flex-direction: column;
            padding: 10px;
    }

    .nk .registration-welcome-c {
        width: 100%;
        min-width: 40%;
        padding: 0px !important;
    }

    .nk .registration-form-wrapper {
        width: 100%;
        border-radius: 10px;
    }

    .nk .banner-img {
        height: 140px;
        /*margin-top: 10px;*/
    }

    .nk .rgt-welcome-text {
        font-size: 20px;
        font-weight: 600;
        position: relative;
    }

    .nk .registration-form {
        font-size: 20px;
        font-weight: 600;
        position: relative;
    }

    .row.padding-20 {
    padding: 15px 0px !important;
}

}

@media (max-width: 400px) {
    .nk .banner-img {
        height: 100px;
        /*margin-top: 10px;*/
    }
}


div#mdlPrompt {
    display: none;
}