@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "My Prospect Customers";
}
<div id="nwViewAllRecordsModal" class="modal-s iframe_main">
    <div class="modal-box-s" id="viewAllRecrodModal">
        <div class="modal-box-bg"></div>
        <div class="modal-hdr">
            <div class="btn btn-modal-back" nk-fx-click="press" title="Back"><span></span></div>
            <div class="modal-hdr-title">Co-Owner Details</div>
            <div class="btn btn-modal-rescale-s" nk-fx-click="press" title="Rescale"></div>
        </div>

        <div class="nk-modal-body">

            @*ToolBox*@
            <div id="noah-webui-Toolbox" class="nk-toolbar-c">
                <div class="nk-toolbar-pagination">
                    <div class="tb-page-control tb-page-control-first SpFirst custPage">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 22 22" height="22" width="22" class="svg-first-icon">
                            <path d="M19.11,5.25a1.83,1.83,0,0,0-1.81,0L15,6.57V5.8a2,2,0,0,0-3-1.74L3,9.26a2,2,0,0,0,0,3.48l9,5.2a2,2,0,0,0,1,.27,2,2,0,0,0,1-.27,2,2,0,0,0,1-1.74v-.77l2.28,1.32a1.88,1.88,0,0,0,.91.24A1.81,1.81,0,0,0,20,15.18V6.82A1.8,1.8,0,0,0,19.11,5.25ZM14,16.2a1,1,0,0,1-1.51.87l-9-5.2a1,1,0,0,1,0-1.74l9-5.2A1,1,0,0,1,14,5.8V16.2Zm5-1a.81.81,0,0,1-1.22.7L15,14.27V7.73L17.8,6.12a.81.81,0,0,1,1.22.7Z"></path>
                        </svg>
                    </div>
                    <div class="tb-page-control tb-page-control-prev SpPrev custPage">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 22 22" height="22" width="22" class="svg-prev-icon">
                            <path d="M16,4.06a2,2,0,0,0-2,0L5,9.26a2,2,0,0,0,0,3.48l9,5.2a2,2,0,0,0,1,.27,2,2,0,0,0,1-.27,2,2,0,0,0,1-1.74V5.8A2,2,0,0,0,16,4.06ZM16,16.2a1,1,0,0,1-1.51.87l-9-5.2a1,1,0,0,1,0-1.74l9-5.2A1,1,0,0,1,16,5.8Z"></path>
                        </svg>
                    </div>
                    <div class="tb-input SpCnt">
                        <input type="text" name="" id='curCnt' class="tb-page-search" value="0">
                    </div>
                    <div class="tb-page-of-txt">of</div>
                    <div class="tb-page-count-total">100</div>
                    <div class="tb-page-control tb-page-control-next SpNext custPage">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 22 22" height="22" width="22" class="svg-next-icon">
                            <path d="M18,11a2,2,0,0,0-1-1.71L8,4.07A2,2,0,0,0,5,5.81V16.19a2,2,0,0,0,1,1.74,2,2,0,0,0,2,0l9-5.19A2,2,0,0,0,18,11Zm-1.48.89-9,5.2A1,1,0,0,1,6,16.2V5.8a1,1,0,0,1,1.51-.87l9,5.2A1,1,0,0,1,16.52,11.87Z"></path>
                        </svg>
                    </div>
                    <div class="tb-page-control tb-page-control-last SpLast custPage">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 22 22" width="22" height="22" class="svg-last-icon">
                            <path d="M19,9.26l-9-5.2A2,2,0,0,0,7,5.8v.77L4.72,5.25a1.83,1.83,0,0,0-1.81,0A1.8,1.8,0,0,0,2,6.82v8.36a1.81,1.81,0,0,0,.9,1.57,1.85,1.85,0,0,0,1.82,0L7,15.43v.77a2,2,0,0,0,1,1.74,2,2,0,0,0,1,.27,2,2,0,0,0,1-.27l9-5.2A2,2,0,0,0,20,11v0A2,2,0,0,0,19,9.26ZM4.22,15.88A.81.81,0,0,1,3,15.18V6.82a.81.81,0,0,1,1.22-.7L7,7.73v6.54Zm14.3-4-9,5.2A1,1,0,0,1,8,16.2V5.8a1,1,0,0,1,1.51-.87l9,5.2A1,1,0,0,1,18.52,11.87Z"></path>
                        </svg>
                    </div>
                </div>

                <div class="nk-toolbar-btn">

                </div>
            </div>


  
            <div class="iframe-content">
                <div class="noah-webui-containerRow fsLast nwDetails">


                    @*==============================Co-Owner Informatio==============================*@
                    <div class="groupHeaderDet fsCoownerInfoDet">Co-Owner Information</div>
                    <div class="row row-parent padding-10 fsSecDet fsCoownerInfoDet">
                        <div class="col col-10 col-parent nwCustomContainer">


                            @*====Full Name======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Full Name</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">
                                    <div class="col col-2">
                                        <input id="txtLastNameCOD" class="txtbox txtName" placeholder="Last Name" type="text" maxlength="50" />
                                    </div>
                                    <div class="col col-2">
                                        <input id="txtFirstNameCOD" class="txtbox txtName" placeholder="First Name" maxlength="50" />

                                    </div>
                                    <div class="col col-2">

                                        <input id="txtMiddleNameCOD" class="txtbox txtName txtMiddleName" sec="" placeholder="Middle Name" type="text" style="min-width: 160px; max-width: 160px;" maxlength="50" />
                                    </div>
                                    <div class="col col-1">
                                        <input id="txtmriCOD" class="txtbox dsbld txtName" type="text" placeholder="M.I." disabled />


                                    </div>
                                    <div class="col col-2">
                                        <select id="cmbSuffixCOD" class="cmb txtName cmbSuffix"></select>
                                    </div>
                                </div>
                            </div>


                            @*====Relationship to the Customer and Gender ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Relationship to Customer</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">
                                    <div class="col col-4 nwCustomCol-4">
                                        <select id="cmbRelationshipCOD" class="cmb cmbFull cmbRelationship"></select>
                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Gender</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <select id="cmbGenderCOD" class="cmb cmbFull cmbGender"></select>
                                    </div>
                                    <div class="col col-2">

                                    </div>


                                </div>
                            </div>

                            @*====Date of Birth & Age ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Date of Birth</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <input id="txtBdayCO" class="txtbox txtbox-date txtBday" age="txtAgeCO" type="date" />


                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Age</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtAgeCO" class="txtbox txtAge dsbld" type="text" disabled />

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>



                            @*==== Place of Birth =====*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Place of Birth</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-8 nwCustomCol-8">
                                        <textarea id="txtPlaceBirthCOD" class="txtarea"> </textarea>
                                    </div>
                                    <div class="col col-2">


                                    </div>
                                    <div class="col col-3 nwCustomCol-3">

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*====Civil Status & Nationality ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Civil Status</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <select id="cmbCivilStatusCOD" class="cmb cmbFull cmbCivilStatus"></select>
                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Nationality</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <select id="cmbNationalityCOD" class="cmb cmbFull cmbNationalityCO"></select>

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*==== Present Residence Address =====*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Present Residence Address</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-8 nwCustomCol-8">
                                        <textarea id="txtResidentialAddressCOD" class="txtarea"> </textarea>
                                    </div>
                                    <div class="col col-2">


                                    </div>
                                    <div class="col col-3 nwCustomCol-3">

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>

                            @*==== Home Ownership and Email Address ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Home Ownership</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <select id="cmbHomeOwnCOD" class="cmb cmbFull cmbHomeOwnCO"></select>
                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Nationality</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtEmailCOD" class="txtFull txtbox txtEmail" type="text" />

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*==== Landline No. and Local No. ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Landline No.</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <input id="txtLandlineNoCOD" class="txtFull txtbox txtLandlineNo" type="text" />
                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Local No.</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtLocalNoCOD" class="txtFull txtbox txtLocalNo" type="text" />

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>

                            @*==== Mobile No. and Individual TIN ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Mobile No. </label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <input id="txtMobileNoCOD" class="txtFull txtbox txtMobileNoCO" type="text" />
                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Individual TIN</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtTINCOD" class="txtFull txtbox txtTIN" type="text">

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*==== Employer/Business Name  =====*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Employer/Business Name </label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-8 nwCustomCol-8">
                                        <textarea id="txtEmployerNameCOD" class="txtarea txtEmployerNameCO"> </textarea>
                                    </div>
                                    <div class="col col-2">


                                    </div>
                                    <div class="col col-3 nwCustomCol-3">

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*==== Employer/Business Address  =====*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Employer/Business Address </label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-8 nwCustomCol-8">
                                        <textarea id="txtEmployerAddressCOD" class="txtarea txtEmployerNameCO"> </textarea>
                                    </div>
                                    <div class="col col-2">


                                    </div>
                                    <div class="col col-3 nwCustomCol-3">

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>

                            @*==== Employer/Business Contact No. / Position  ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Employer/Business Contact No. </label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <input id="txtEmployerContactCOD" class="txtFull txtbox txtEmployerContactCO" type="text" />
                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Position</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtPositionCOD" class="txtFull txtbox txtPositionCO" type="text" />

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>





                        </div>
                    </div>

                    @*==============================Co-Owner Informatio==============================*@
                    <div class="groupHeaderDet fsCoOwnerSpouseInfoDet">Co-Owner Spouse Information</div>

                    <div class="row row-parent padding-10 fsSecDet fsCoOwnerSpouseInfoDet">
                        <div class="col col-10 col-parent nwCustomContainer">

                            @*====Full Name======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Full Name</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">
                                    <div class="col col-2">
                                        <input id="txtLastNameCOSD" class="txtbox txtName" placeholder="Last Name" type="text" maxlength="50" />
                                    </div>
                                    <div class="col col-2">
                                        <input id="txtFirstNameCOSD" class="txtbox txtName" placeholder="First Name" maxlength="50" />

                                    </div>
                                    <div class="col col-2">

                                        <input id="txtMiddleNameCOSD" class="txtbox txtName txtMiddleName" sec="" placeholder="Middle Name" type="text" style="min-width: 160px; max-width: 160px;" maxlength="50" />
                                    </div>
                                    <div class="col col-1">
                                        <input id="txtmriCOSD" class="txtbox dsbld txtName" type="text" placeholder="M.I." disabled />


                                    </div>
                                    <div class="col col-2">
                                        <select id="cmbSuffixCOSD" class="cmb txtName cmbSuffix"></select>
                                    </div>
                                </div>
                            </div>


                            @*====Salutation and Gender ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Salutation</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <select id="saluteCOSD" class="cmb cmbFull salute" ></select>


                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Gebder</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <select id="cmbGenderCOSD" class="cmb cmbFull dsbld cmbGender" disabled ></select>

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*====Date of Birth & Age ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Date of Birth</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <input id="txtBdayCOSD" class="txtbox txtbox-date txtBday" age="txtAgeCO" type="date" />


                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Age</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtAgeCOSD" class="txtbox txtAge dsbld" type="text" disabled />

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>


                            @*====Date of Marriage  & Age ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Date of Marriage </label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <input id="txtDateMarriageCOSD" class="txtbox txtbox-date txtBday" age="txtAge" type="date" />


                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Occupation</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <select id="cmbOccupationCOSD" class="cmb cmbFull cmbOccupation"></select>

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>

                            @*===Nationality/Individual TIN ======*@
                            <div class="row">
                                <div class="col col-2">
                                    <label class="lbltxt">Nationality</label>
                                </div>
                                <div class="col col-10 col-parent adisabled">

                                    <div class="col col-4 nwCustomCol-4">
                                        <select id="cmbNationalityCOSD" class="cmb cmbFull cmbNationality"></select>


                                    </div>
                                    <div class="col col-2">
                                        <label class="lbltxt">Individual TIN</label>

                                    </div>
                                    <div class="col col-3 nwCustomCol-3">
                                        <input id="txtTINCOSD" class="txtFull txtbox txtTIN" type="text" />

                                    </div>

                                    <div class="col col-2">
                                    </div>

                                </div>
                            </div>

                    </div>
                </div>

            </div>
            </div>

    

        </div>

    </div>
</div>

