@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "NOAHIssueLogs";
    Layout = "~/forms_standards/StandardLayout/NOAHSpreadDesigner/NOAHSpreadDesigner.cshtml";
}
<head>
    <script src="~/NOAH/DocumentEntry/NOAHIssueLogs/NOAHIssueLogs.js"></script>
    <link href="~/NOAH/DocumentEntry/NOAHIssueLogs/NOAHIssueLogs.css" rel="stylesheet" />
    <script src="~/NOAH/DocumentEntry/NOAHIssueLogs/UploadCustom.js"></script>
    <script src="~/materials/jslib/uploading.js"></script>

</head>





<div class="nwe-flex-c">
    <div class="nwe-cb-main">
        <div class="nwe-cb-btn ed nwe-algs">
            <div class="nwe-cb-sf-c" id="new">
                <div class="nwe-ed-icon-m new"></div>
                <div class="nwe-ed-icontext">New</div>
            </div>
            <div class="nwe-cb-sf-c" id="save">
                <div class="nwe-ed-icon-m save"></div>
                <div class="nwe-ed-icontext">Save</div>
            </div>
            <div class="nwe-cb-sf-c" id="addrow">
                <div class="nwe-ed-icon-m add"></div>
                <div class="nwe-ed-icontext">Add Row</div>
            </div>

            <div class="nwe-cb-sf-c" id="copyfrom">
                <div class="nwe-ed-icon-m copy"></div>
                <div class="nwe-ed-icontext">Copy From</div>
            </div>

            <div class="nwe-cb-sf-c" id="filter">
                <div class="nwe-ed-icon-m filter"></div>
                <div class="nwe-ed-icontext">Filter</div>
            </div>

            <div class="nwe-cb-sf-c" id="refresh">
                <div class="nwe-ed-icon-m refresh"></div>
                <div class="nwe-ed-icontext">Refresh</div>
            </div>


            <div class="nwe-cb-sf-c" id="export">
                <div class="nwe-ed-icon-m export"></div>
                <div class="nwe-ed-icontext">Export</div>
            </div>

            <div class="nwe-cb-sf-c" id="upload">
                <div class="nwe-ed-icon-m upload"></div>
                <div class="nwe-ed-icontext">Upload</div>
            </div>

            <div class="nwe-cb-sf-c" id="download">
                <div class="nwe-ed-icon-m download"></div>
                <div class="nwe-ed-icontext">Download Template</div>
            </div>


           


        
        </div>
  
    </div>

   
</div>

<div id="frm-popup-NOAHIssueLogs-vwdatasource">
    <div id="nwe-hrd" class="nwe-hrd nwHide">
        <div class="nwe-hrd-content">
            <div>
                @*class="nwe-content"*@
                <div class="nwe-fn-c">
                    <div class="nwe-flex-c mq">
                        <div class="nwe-flex-c">
                            <div class="nwe-cb-main">
                                <div class="nwe-cb-btn ed nwe-algs">
                                    <div class="nwe-cb-sf-c" id="NOAHIssueLogs-datasource-save">
                                        <div class="nwe-ed-icon-m nor"></div>
                                        <div class="nwe-ed-icontext">Save</div>
                                    </div>

                                </div>
                                <div class="nwe-title">File Control</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nwe-tbl-content nwHide">
        <div id="nwGridCon_datasource"></div>
    </div>
</div>



<div id="frm-popup-NOAHIssueLogs-vwdatacondition">


    <div class="row rx nwHide">
        <div class="col col-12">

                <div class="row row-parent">

                    <div class="col col-6">

                        <div class="row">
                            <div class="col col-5">
                                <label class="lbltxt">Cell</label>
                            </div>
                            <div class="col col-7">
                                <div class="col col-12 conval">
                                    <input id="txtdataconditioncell" type="text" name="" class="txtbox txtcode" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-5">
                            <div class="col col-5">
                                <label class="lbltxt">Source<span class="nwRequiredField">*</span></label>
                            </div>
                            <div class="col col-7">
                                <select id="cmbdataconditionsource" class="cmb fullwidth"></select>
                            </div>
                        </div>

                        <div class="row margin-bottom-5">
                            <div class="col col-5">
                                <label class="lbltxt">Value<span class="nwRequiredField">*</span></label>
                            </div>
                            <div class="col col-7">
                                <select id="cmbdataconditionvalue" class="cmb fullwidth">
                                </select>
                            </div>
                        </div>

                        <div class="col col-12">
                            <div class="chk-wrapper">
                                <input id="chkdataconditionsum" type="checkbox" name="charge" class="chk">
                                <label class="lbl-chk" for="chkdataconditionsum">Aggregate(SUM)</label>
                            </div>
                        </div>

                    </div>

                </div>


        </div>
    </div>

    <div class="nwe-tbl-content nwHide">
        <div id="nwGridCon_datacondition"></div>
    </div>

    <div class="row rx nwHide">
        <div class="col col-12">

            <div class="row row-parent">

                <div class="col col-6">

                    <div class="row">
                        <div class="col col-7">
                            <div class="col col-12 conval">
                                <textarea id="txtdataconditionsqlsyntax" rows="5" cols="50" type="text" name="" class="txtbox txtcode" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>


@*HTML Remarks*@
<div class="nw-htr-container" id="nwgRemarksCon">
    <div class="nw-htr-box">
        <div class="nw-htr-content">
            <div class="nw-htr-header">
                <div class="nw-htr-title">HTML Remarks</div>
                <div class="nw-htr-icon-btn">
                    <div class="nw-htr-i-btn fullscreen"></div>
                    <div class="nw-htr-i-btn close"></div>
                </div>
            </div>

            <div class="row fx0 padding-10" @*id="fx00"*@>
                <div class="col col-12 col-parent">
                    <div class="row">
                        <div class="col col-4">
                            <div class="btn btn-default fullwidth" id="btnnwgRemarksSave">Save and Exit</div>
                        </div>
                        <div class="col col-8">
                            <div class="chk-con">
                                <input id="chknwgRemarks" type="checkbox" name="sample1" class="chk">
                                <label class="lbl-chk" for="chk-htr">Auto Close upon enter</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cmsnwgRemarks" class="nw-htr-fx">

            </div>
        </div>
    </div>
</div>
@*end html remarks*@




@*filter*@
<div class="nw-htr-container" id="nwgFilterCon">
    <div class="nw-htr-box">
        <div class="nw-htr-content">
            <div class="nw-htr-header">
                <div class="nw-htr-title">HTML Remarks</div>
                <div class="nw-htr-icon-btn">
                    <div class="nw-htr-i-btn fullscreen"></div>
                    <div class="nw-htr-i-btn close"></div>
                </div>
            </div>


            <div id="cmsnwgFilter" class="nw-htr-fx">

                <div class="col col-12 col-parent nwRightheader" id="filtersetting">
                    @*date*@
                    @*<fieldset class="fieldset fullwidth" nk-fieldset-style="6">
                        <legend>Filter By Date</legend>
                        <div class="row">
                            <div class="col col-12">
                                <div class="col col-6 col-parent padding-x-15">

                                    <div class="row">
                                        <div class="col col-6">
                                            <label class="lbltxt">Date From</label>
                                        </div>
                                        <div class="col col-6">
                                            <input name="" class="txtbox nwDatePicker" id="txtdatefrom">
                                        </div>
                                    </div>


                                </div>
                                <div class="col col-6 col-parent padding-x-15">

                                    <div class="row">
                                        <div class="col col-6">
                                            <label class="lbltxt">Date To</label>
                                        </div>
                                        <div class="col col-6">
                                            <input name="" class="txtbox nwDatePicker" id="txtdateto">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </fieldset>*@
                    @*date*@
                    @*Client*@
                    @*<fieldset class="fieldset fullwidth" nk-fieldset-style="6">
                        <legend>Filter By NOAH's Client</legend>
                        <div class="row">
                            <div class="col col-12">
                                <div class="tabs tabs-lbl-bold fullwidth">
                                    <div id="settingstabs" class="tabs-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>*@
                    @*Client*@
                    @*Issue log Tagging*@
                    @*<fieldset class="fieldset fullwidth" nk-fieldset-style="6">
                        <legend>Filter By Issue Log Tagging</legend>
                        <div class="row">
                            <div class="col col-12">
                                <div class="tabs tabs-lbl-bold fullwidth">
                                    <div id="settingstabs1" class="tabs-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>*@
                    @*Issuelog Tagging*@
                    @*FPTI Employee*@
                    @*<fieldset class="fieldset fullwidth" nk-fieldset-style="6">
                        <legend>Filter By FPTI Employee</legend>
                        <div class="row">
                            <div class="col col-12">
                                <div class="tabs tabs-lbl-bold fullwidth">
                                    <div id="settingstabs2" class="tabs-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>*@
                    @*FPTI Employee*@
                </div>

            </div>


            
        </div>
    </div>
</div>
@*end filter*@




@RenderPage("~/Views/Form_Standards/Uploading.cshtml", "NOAHIssueLogs")
@RenderPage("~/NOAH/DocumentEntry/NOAHIssueLogs/Popup/ValidationPopup.cshtml", "ValidationPopup")


