@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "User Access Log";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/SA/ReportsAndInquiry/SAUserAccessLog/SAUserAccessLog.js"></script>
    <link href="~/SA/ReportsAndInquiry/SAUserAccessLog/SAUserAccessLog.css" rel="stylesheet" />
</head>

<div id="noah-webui-Toolbox" class="nk-toolbar-c">
    <div id="noah-webui-default-New" class="btn-tb-action btn-tb-new">
        <div class="_icon"></div>
        <div class="_lbl">New</div>
    </div>
    <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-save">
        <div class="_icon"></div>
        <div class="_lbl">Save</div>
    </div>

    <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-delete">
        <div class="_icon"></div>
        <div class="_lbl">Delete</div>
    </div>
    <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
        <div class="_icon"></div>
        <div class="_lbl">Refresh</div>
    </div>
    <div id="noah-webui-default-Inquire" class="btn-tb-action btn-tb-inquire">
        <div class="_icon"></div>
        <div class="_lbl">Inquire</div>
    </div>
    <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
        <div class="_icon"></div>
        <div class="_lbl">Export</div>
    </div>
</div>



<div class="container-flex padding-10">
    <div class="row row-parent">
        <div class="col col-4 col-parent">
            <div class="row with-label-lookup">
                <div class="col col-3">
                    <label class="lbltxt">Company</label>
                </div>
                <div class="col col-9 col-parent">
                    <div class="col col-5">
                        <input type="text" name="" class="txtbox txtcode" id="idvallugCode2">
                    </div>
                    <div class="col col-7">
                        <input type="text" name="" class="txtbox txtdesc txtlookup" id="descvallugCode2">
                        <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                    </div>
                </div>
            </div>

            <div class="row with-label-lookup">
                <div class="col col-3">
                    <label class="lbltxt">Username</label>
                </div>
                <div class="col col-9 col-parent">
                    <div class="col col-5">
                        <input type="text" name="" class="txtbox txtcode" id="idvallugCode">
                    </div>
                    <div class="col col-7">
                        <input type="text" name="" class="txtbox txtdesc txtlookup" id="descvallugCode">
                        <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-4 col-parent padding-left-15">
            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">From Date</label>
                </div>
                <div class="col col-9">
                    <input type="date" name="" class="txtbox txtbox-date" id="from">
                </div>
            </div>

            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">To Date</label>
                </div>
                <div class="col col-9">
                    <input type="date" name="" class="txtbox txtbox-date" id="thru">
                </div>
            </div>
        </div>
        <div class="col col-4 col-parent">

        </div>
    </div>    

    <div class="row row-parent">
        <div class="col col-12 col-parent">
            <div id="tblWithTabsWrapperSample2" class="table-tabs-wrapper rescale-ready" nk-table-style="2">
                <div id="panelTblTabColSticky" class="table-wrapper">
                    <table class="table" id="grid-sticky" sid="nkTable1">
                        <thead>
                            <tr>
                                <th data-type="str" scope="col" class="tbl-row-num"></th>
                                <th data-type="str" scope="col">User ID</th>
                                <th data-type="str" scope="col">User Name</th>
                                <th data-type="str" scope="col">Company</th>
                                <th data-type="str" scope="col">Computer Name / IP</th>
                                <th data-type="str" scope="col">Login Date Time</th>
                                <th data-type="str" scope="col">Logout Date Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="tbl-row-num">1</th>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                            </tr>

                            <tr>
                                <th scope="row" class="tbl-row-num">2</th>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                            </tr>

                            <tr>
                                <th scope="row" class="tbl-row-num">3</th>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                            </tr>

                            <tr>
                                <th scope="row" class="tbl-row-num">4</th>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                            </tr>

                            <tr>
                                <th scope="row" class="tbl-row-num">5</th>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                            </tr>

                            <tr>
                                <th scope="row" class="tbl-row-num">6</th>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                                <td row-th=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
