


.nwe-btn.logo::after {
    content: '';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(images/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    top: 2px;
    left: 2px;
}

.nwe-cb-sf-c .nwe-ed-icon-m.new::after 
,.nwe-cb-sf-c .nwe-ed-icon-m.save::after 
,.nwe-cb-sf-c .nwe-ed-icon-m.addrow::after 
,.nwe-cb-sf-c .nwe-ed-icon-m.copy::after
,.nwe-cb-sf-c .nwe-ed-icon-m.filter::after
,.nwe-cb-sf-c .nwe-ed-icon-m.refresh::after
,.nwe-cb-sf-c .nwe-ed-icon-m.add::after
,.nwe-cb-sf-c .nwe-ed-icon-m.export::after
,.nwe-cb-sf-c .nwe-ed-icon-m.upload::after
,.nwe-cb-sf-c .nwe-ed-icon-m.download::after
{
    content: '';
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
}

.nwe-cb-sf-c .nwe-ed-icon-m.new::after {
    background-image: url('images/new-document-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.save::after {
    background-image: url('images/save-document-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.addrow::after {
    background-image: url('images/add-row-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.copy::after {
    background-image: url('images/copy-row-icon-v2.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.filter::after {
    background-image: url('images/filter-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.refresh::after {
    background-image: url('images/refresh-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.add::after {
    background-image: url('images/add-row-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.export::after {
    background-image: url('images/icon-export.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.upload::after {
    background-image: url('images/icon-upload.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.download::after {
    background-image: url('images/icon-download.png');
}



#nwGridCon_datasource .nwgridButtons {
    display: block;
}

#nwGridCon_datasource .nwgridButtons .nwgrid_HeaderShowHide {
    display: none;
}


div#menuCreatorContainer {
    z-index: 100000;
}


 .nw-htr-container {
    position: fixed;
    padding: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(40 57 111 / 16%);
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
}

 .nw-htr-container.show {
    opacity: 1;
    pointer-events: auto;
}

 .nw-htr-box.fullscreen {
    width: 100%;
    height: 100%;
}
 .nw-htr-box {
    width: 60%;
    height: 80%;
    position: relative;
    z-index: 11;
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    transition: .40s cubic-bezier(0.85, -0.15, 0.15, 1.28) width, .40s cubic-bezier(0.85, -0.15, 0.15, 1.28) height;
    animation: .12s modal-show ease-out;
}

 .nw-htr-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

  .nw-htr-header {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 5px; */
    /* border-bottom: var(--nwborder); */
    justify-content: space-between;
    padding: 5px;
    background: linear-gradient(to bottom, #348ce4, #115eab);
}

._layout .left-pnl.expand ~ .menuitem-container .nw-htr-container {
    left: 230px;
    top: 38px;
}

 .nw-htr-i-btn {
    width: 30px;
    height: 30px;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

 .nw-htr-icon-btn {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .nw-htr-title {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

 .nw-htr-i-btn.close::before {
    content: '';
    /* width: 2px; */
    height: 14px;
    border: 2px solid #ffffff;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    transform: rotate(-45deg);
    position: absolute;
    left: 14px;
}


 .nw-htr-i-btn.close::after {
    content: '';
    /* width: 2px; */
    height: 14px;
    border: 2px solid #ffffff;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    position: absolute;
    left: 14px;
}

 .nw-htr-i-btn.close:hover {
    background: #ffffff;
}

 .nw-htr-i-btn.fullscreen:hover {
    background: #ffffff;
} 

 .nw-htr-i-btn.close:hover::before {
    border-color: #1766b5;
}

 .nw-htr-i-btn.close:hover::after {
    border-color: #1766b5;
}

 .nw-htr-i-btn.fullscreen:hover::before {
    border-color: #1766b5;
    width: 12px;
    height: 12px;    
}    

 .nw-htr-i-btn.fullscreen:hover::after {
    border-color: #1766b5;
       width: 12px;
    height: 12px;     
}    

 .nw-htr-i-btn.fullscreen.active::before {
    width: 12px;
    height: 12px;
}

 .nw-htr-i-btn.fullscreen.active::after {
    width: 12px;
    height: 12px;
}

 .nw-htr-i-btn.fullscreen::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 9px;
    left: 9px;
    border: 0 solid rgb(255 255 255 / 82%);
    border-width: 0 0 2px 2px;
    transition: .32s ease-out width;
}

 .nw-htr-i-btn.fullscreen::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 9px;
    right: 9px;
    border: 0 solid rgb(255 255 255 / 82%);
    border-width: 2px 2px 0 0;
    transition: .32s ease-out width;
}


 .nw-htr-fx {
        flex: 1;
        padding: 10px;
        position: relative;
        /* background: #eff5fd; */
        overflow: auto;
        /*display: flex;
        flex-direction: row;*/
}
