div.dimbg
{
	/*display:none;*/
}


div.MainPane
{
    width:100%; height:100%; position:fixed; top:0px; left:-1px;
	background-color:red;
	
	background: #382e2a; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80, finishopacity=100, style=2); /*IE6*/
	
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(164, 164, 164) 0%, rgb(255, 255, 255) 70%);	/*CHROME*/
	background: -webkit-radial-gradient(center, ellipse cover, rgb(164, 164, 164) 0%, rgb(255, 255, 255) 70%);	/*CHROME*/
	background: -moz-radial-gradient(center, ellipse cover,  rgb(164, 164, 164)0%, rgb(255, 255, 255) 70%);	/*MOZILLA*/
	
}


div.LoginPane {
    width: 480px;
    height: 340px;
    background-color: #F00;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFF;
    filter: alpha(opacity=90, finishopacity=0, Style=1, StartX=1242, StartY=250, FinishX=1242, FinishY=340);
    background-image: -webkit-linear-gradient(top, #FFF, #E0E0E0);
     background-image: url(../system_images/ThemeImage/LogInScreenBg.png); 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(122, 122, 122, 0.75);
    box-shadow: 0px 0px 20px 1px rgba(122, 122, 122, 0.75);
}
div#vImg
{
	height:100%;
	width:60px; 
	background-color:#CECECE; 

	position:absolute; 
	float:left; 
	background-image:url(../system_images/ThemeImage/vImg2.png);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size: 100% 100%;
}

div#logoPanel
{
	height:76px;
	width:420px;
	background-color:transparent; 
	
	position: absolute;
	left: 30px;
	top: 20px;
}

div#logo {
    height: 97px;
    width: 370px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    background-image: none;
}

div#logoLabel
{
	height:20px;
	width:420px; 
	background-color:transparent; 
	
	text-align: center;
	color: #909193;
	font-family: Arial;
	font-weight:bold;
	font-size: 12px;
	
	letter-spacing: 4px;
}


div#gatewayLabel
{
	height:20px;
	width:250px; 
	background-color:transparent; 
	
	/*text-align: center;*/
	color: #474747;
	font-family: Arial;
	font-weight:normal;
	font-size: 20px;
	
	letter-spacing: 15px;
	margin-top:40px;
}


div#loginForm
{
	height: 170px;
	width:420px;
	background-color:transparent;
	
	position: absolute;
	left: 30px;
	top: 180px;
}

div#userLblPanel, div#passLblPanel, div#loginLblPanel, div#lMSG
{
	height: 25%;
	width:294px; /*70%*/
	background-color:transparent;
	margin:0 auto;
	margin-top:5px;
}
div#lMSG
{
	height: 17px;
	margin-top:-10px;
	/*Username / Password Invalid*/
	/*text-indent: 100px;*/
	margin-left: 90px;
}
div#loginLblPanel
{
	margin-top:15px;
}


div.userPassLblPanel, div.userPassLblPanel
{
	height: 35px;
	width:100px;
	background-color:transparent;
	
	position: absolute;
	text-align: right;
	color: #474747;
	font-size:13px;
	font-family: Arial;
	font-weight:Bold;
	
	margin-top:5px;
	letter-spacing: 2px;
	margin-bottom: 0px;
}


div.userPassBoxPanel, div.userPassBoxPanel, div.loginBoxPanel
{
	height: 35px;
	width:190px;
	background-color:transparent;
	
	position: absolute;
	margin-left: 125px;
	
}

.textLogin
{
    width:150px;
	color:#111111;
	padding:3px;
	border-radius:4px;
}

.buttonLogin
{
	height: 30px;
	width:100px;
	background-color:#777777;
	
	background-image: -webkit-linear-gradient(top, #999a9a, #777777); /*CHROME*/
	
	background-color: #ffa500;
	background-image: -webkit-linear-gradient(top, #0580D8, #024578); /*CHROME*/
	background-image: -moz-linear-gradient(top, #0580D8, #024578);
	
	cursor:pointer;
	color:#FFFFFF;
	margin-left: 30px;
	font-size:12px;
	font-family: Arial;
	font-weight:650;
	
	letter-spacing: 2px;
}

div#version, div#version_g
{
	height:15px;
	width:420px;
	background-color:transparent;
	position: absolute;
	left: 55px;
	top: 310px;
	color:#3e3e3e;
	text-align:center;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	
	letter-spacing: 2px;
}


/*	GATEWAY START	*/
div#logoPanel_g
{
	height:96px;
	width:250px;
	background-color:transparent; 
	
	position: absolute;
	left: 50px;
	top: 10px;
}

div#hImg
{
	height:45px;
	width:100%; 
	background-color:transparent; 

	position:absolute; 
	margin-top: 116px;
	background-image:url(../system_images/ThemeImage/CorporateGreen/hImg.png);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size: 100% 100%;
}

div#btnPanel_g
{
	height:140px;
	width:70%; 
	background-color:transparent;
	
	margin-left:0;
	position:absolute;
	margin-top: 100px;
}

div.btnPanel_gElems
{
	height:30px;
	width:100%; 
	/*background-color:#006241;
	background-image: -webkit-linear-gradient(top, #00714b, #006241); 
	*/
	
	margin-top:20px;
	
	text-align:center;
	color:#ffe9a4;
	font-family:Microsoft Sans Serif;
	font-size:10px;
	font-weight:600;
}

div.btnPanel_gBtn
{
	
}

div.btnPanel_gElems:hover
{
	/*background-color:#006241;*/
}


div#b1.btnPanel_gElems
{
	width:80%;
	background-image:url(../system_images/ThemeImage/CorporateGreen/b1.png);
	-webkit-box-shadow: 0 4px 2px -2px rgba(122, 122, 122, 0.75);	/*CHROME*/
}
div#b2.btnPanel_gElems
{
	width:90%;
	background-image:url(../system_images/ThemeImage/CorporateGreen/b2.png);
	-webkit-box-shadow: 0 4px 2px -2px rgba(122, 122, 122, 0.75);	/*CHROME*/
	cursor: auto;
}
div#b3.btnPanel_gElems
{
	width:70%;
	background-image:url(../system_images/ThemeImage/CorporateGreen/b3.png);
	-webkit-box-shadow: 0 4px 2px -2px rgba(122, 122, 122, 0.75);	/*CHROME*/
}


div#version_g
{
	left: 30px;
}

#popUpDashboard
{
 	font-family:Verdana;
	font-size:12px;
}

div.items {
	width: 30%;
	height: 50%;
	height:100px;
	display: inline-block;
	margin: 1.2%;
	cursor:default;
	background-color:rgba(200,200,200,0.7);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(100,93,90,1) 0%,rgba(56,46,42,1) 70%);	/*CHROME*/
	background: -moz-radial-gradient(center, ellipse cover,  rgba(100,93,90,1) 0%,rgba(56,46,42,1) 70%);	/*MOZILLA*/
	color:White;
	

	text-align:center;
	position:relative;
}

div.items div.title{
	background-color:rgba(50,50,50,0.5);
	bottom:0px;
	vertical-align:bottom;
	position: absolute;
	width: 100%; 
}

div#popUpDashboardItems
{
	margin-top: 15px;
	overflow: auto;
	height: 200px;
}

div#popUpDashboardClose{
position: absolute;
width: 100%;
background: white;
cursor:pointer;
}
div#popUpDashboardClose:hover
{
	color:Red;
}

.poweruserclass
{
 display:none;
}

#mainContainerContent
{
	background-image:url(../../materials/system_images/ThemeImage/HomeBG.png);
	background-position:95% 90%;
	background-repeat:no-repeat;
	background-color: #F4F4F4;
	background-size: 15%;
}

.toolBar-Color-GrayBlue {
background-color: #005F97;
background-repeat: repeat-x;
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
background-color: rgba(230, 230, 230, 1);
background-image: -moz-linear-gradient(top, #005F97,#00427a);
background-image: -ms-linear-gradient(top, #005F97, #00427a);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(0, 95, 151, 1)), to(#00427a));
background-image: -webkit-linear-gradient(top,#005F97, #00427a);
background-image: -o-linear-gradient(top, #005F97,#00427a);
background-image: linear-gradient(top, #005F97, #00427a);
background-repeat: repeat-x;
color: white;
}

#activeformsContainer ,
#activeformsList, #favformsList, #recformsList{background: #005F97;}

#activeformsHeaderButton, #favformsHeaderButton, #recformsHeaderButton 
{
	border: 1px solid rgba(235,235,235,0.5);
	background-color:rgba(235,235,235,0.3);
}
#explorerContainer {background-color: #00427a;}

#activeformsInfo {
background: #00427a;
color: orange;
}


