<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="~/DC/DataSetup/DCViewAttachment/DCViewAttachment.js"></script>
    <link href="~/DC/DataSetup/DCViewAttachment/DCViewAttachmentViewer.css" rel="stylesheet" />

</head>
<body>

</body>
</html>
