@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Review Attachment(s) Window";
    Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />

    <script src="~/DC/DataSetup/DCViewAttachment/DCViewAttachment.js"></script>
    <link href="~/DC/DataSetup/DCViewAttachment/DCViewAttachment.css" rel="stylesheet" />
</head>
<body>
    @*TOOLBOX*@
    <div id="noah-webui-Toolbox" class="nk-toolbar-c">
        <div class="nk-toolbar-btn">
            <div class="btn-tb-action btn-tb-save">
                <div class="_icon"></div>
                <div class="_lbl">Save</div>
            </div>
        </div>
        <div class="nk-toolbar-btn">
            <div class="btn-tb-action btn-tb-process">
                <div class="_icon"></div>
                <div class="_lbl">Process</div>
            </div>
        </div>

        <div class="nk-toolbar-btn">
            <div class="btn-tb-action btn-tb-refresh">
                <div class="_icon"></div>
                <div class="_lbl">Refresh</div>
            </div>
        </div>
    </div>

    <!-- Hidden Input -->
    <div class="nwHide">
        <input id="txtserverlink" type="hidden" />
    </div>
    <fieldset class="fieldset col col-12 fieldSetHeight" nk-fieldset-style="2">
        <legend>Source Documents</legend>
        <form action="">

            <div class="container-flex">
                <div class="col col-12 col-parent">
                    <div class="row row-parent " id="nwGridSourceCon">
                    </div>
                </div>
            </div>
        </form>

</fieldset>

    <fieldset class="fieldset col col-12 fieldSetHeight" nk-fieldset-style="2">
        <legend>Supporting Documents</legend>
        <form action="">

            <div class="container-flex">
                <div class="col col-12 col-parent">
                    <div class="row row-parent " id="nwGridSuppCon">
                    </div>
                </div>
            </div>
        </form>

    </fieldset>
    
       
</body>
</html>


@RenderPage("~/DC/DataSetup/DCViewAttachment/Popups/docattview.cshtml", "DCViewAttachment")
