@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Menuitem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/SA/DataSetup/SAMenuItem/SAMenuItem.js"></script>
    <link href="~/SA/DataSetup/SAMenuItem/SAMenuItem.css" rel="stylesheet" />
</head>

<div id="noah-webui-Toolbox" class="nk-toolbar-c">
    <div id="noah-webui-default-New" class="btn-tb-action btn-tb-new">
        <div class="_icon"></div>
        <div class="_lbl">New</div>
    </div>
    <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-save">
        <div class="_icon"></div>
        <div class="_lbl">Save</div>
    </div>

    <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-delete">
        <div class="_icon"></div>
        <div class="_lbl">Delete</div>
    </div>
    <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
        <div class="_icon"></div>
        <div class="_lbl">Refresh</div>
    </div>
    <div id="noah-webui-default-Inquire" class="btn-tb-action btn-tb-inquire">
        <div class="_icon"></div>
        <div class="_lbl">Inquire</div>
    </div>
    <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
        <div class="_icon"></div>
        <div class="_lbl">Export</div>
    </div>
</div>



<div class="container-flex">
    <div class="row row-parent padding-10">
        <div class="col col-5 col-parent">
            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">Code</label>
                </div>
                <div class="col col-9">
                    <input type="text" name="" id="inCode">
                </div>
            </div>

            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">Description</label>
                </div>
                <div class="col col-9">
                    <input type="text" name="" id="desCode">
                </div>
            </div>


            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">Link</label>
                </div>
                <div class="col col-9">
                    <input type="text" name="" id="link">
                </div>
            </div>

            <div class="row with-label-lookup">
                <div class="col col-3">
                    <label class="lbltxt">Application Version</label>
                </div>
                <div class="col col-9 col-parent">
                    <div class="col col-5">
                        <input type="text" name="" class="txtbox txtcode" id="idvallugCode2">
                    </div>
                    <div class="col col-7">
                        <input type="text" name="" class="txtbox txtdesc txtlookup" id="descvallugCode2">
                        <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                    </div>
                </div>
            </div>

            <div class="row with-label-lookup">
                <div class="col col-3">
                    <label class="lbltxt">Other Application</label>
                </div>
                <div class="col col-9 col-parent">
                    <div class="col col-5">
                        <input type="text" name="" class="txtbox txtcode" id="idvallugOtherApp">
                    </div>
                    <div class="col col-7">
                        <input type="text" name="" class="txtbox txtdesc txtlookup" id="descvallugOtherApp">
                        <div class="btn btn-sm-default btn-sm-default-lookup"></div>
                    </div>
                </div>
            </div>

       
            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">Icon</label>
                </div>
                <div class="col col-9">
                    <input type="text" name="" id="icon">
                </div>
            </div>


            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt hide">Textbox (add .hide to hide label)</label>
                </div>
                <div class="col col-9 col-parent">
                    <div class="col col-6">
                        <div class="rdo-wrapper">
                            <input id="rdo1" type="radio" name="sample1" class="rdo">
                            <label class="lbl-rdo" for="rdo1">Diskette Icon</label>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="rdo-wrapper">
                            <input id="rdo2" type="radio" name="sample1" class="rdo">
                            <label class="lbl-rdo" for="rdo2">Menuitem Icon</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt .hide"></label>
                </div>
                <div class="col col-9 child-centered">
                    <div class="col col-4">
                        <div> <img class="nwCuz-018" id="img2" src="..\..\..\materials\default_icons\icona_menu_item.png" alt="image"> </div>
                    </div>

                    <div class="col col-7">
                        <div> <img class="nwCuz-018" id="img2" src="..\..\..\materials\default_icons\icona_menu_item.png" alt="image"> </div>
                    </div><div class="col col-1">

                    </div>
                </div>
            </div>

       

            



        </div>
        <div class="col col-7 col-parent"></div>
    </div>
    
    <div class="col col-12 col-parent">
        <div class="row">
            <div class="col col-12 col-parent">
                <div class="col col-2">
                    <div class="btn btn-default fullwidth">Add Button</div>
                </div>
                <div class="col col-2">
                    <div class="btn btn-default fullwidth">Copy From</div>
                </div>
             
           
                <div class="col col-8"></div>
            </div>
        </div>
    </div>



    <div class="row row-parent">
        <div class="col col-12 col-parent">
            <div id="tblWithTabsWrapperSample2" class="table-tabs-wrapper rescale-ready" nk-table-style="2">
                <div id="panelTblTabColSticky" class="table-wrapper">
                    <table class="table" id="grid-sticky" sid="nkTable1">
                        <thead>
                            <tr>
                                <th data-type="str" scope="col" class="tbl-row-num"></th>
                                <th data-type="str" scope="col"></th>
                                <th data-type="str" scope="col">Parameter</th>
                                <th data-type="str" scope="col">Value Type</th>
                                <th data-type="str" scope="col">Value</th>
                                <th data-type="str" scope="col">Parameter Type</th>
                                <th data-type="str" scope="col">Parameter Format</th>
                                <th data-type="str" scope="col">Default Value</th>
                               
                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="tbl-row-num">1</th>
                                <td row-th="">

                                    <div class="btn-icon-action btn-icon-delete" title="Delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" class="nw-svg-d" viewBox="0 0 22 22">
                                            <path class="nw-svg-d-a" d="M16,7h1V17a3,3,0,0,1-3,3H8a3,3,0,0,1-3-3V7H6V17a2,2,0,0,0,2,2h6a2,2,0,0,0,2-2ZM10,9H9v7h1Zm3,0H12v7h1Zm1-5V2H8V4H3V5H19V4Z"></path>
                                        </svg>
                                    </div>


                                </td>


                                <td row-th=""></td>
                                <td row-th=""></td>

                                <td row-th="">
                                    <div class="col col-11 col-parent">
                                        <div class="col col-12">
                                            <select class="cmb fullwidth" id="SortColumn">
                                                <option>Fixed</option>
                                                <option>System Generated</option>
                                                <option>User Defined</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                              
                            
                            
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    </div>

    
