.nwgridButtons{display: none;}

.nwCuz-001 {

    background:#EFEFEF;

}

.nwCuz-002 {

    padding-bottom:15px;

}

.nwCuz-003 {

    width:150px;

}

.nwCuz-004 {

    width: 275px;

}

.nwCuz-005 {

    width:150px; float:right;display:none;

}

.nwCuz-006 {

    width:148px;

}

.nwCuz-007 {

    width:146px;

}

.nwCuz-008 {

    background:#DEDEDE;

}

.nwCuz-009 {

    background-color:White; min-width:550px; min-height:120px;

}

.nwCuz-010 {

    width:100px;

}

.nwCuz-011 {

    width:60px; font-size:11px;

}

.nwCuz-012 {

    width:330px; font-size:11px;

}

.nwCuz-013 {

    min-width:550px;max-width:550px;min-height:130px;

}

.nwCuz-014 {

    width:100px;

}

.nwCuz-015 {

    width:377px;

}

.nwCuz-016 {

    font-weight:bold;

}
