.template_container
{
	width:100%;
height: 85%;
	border-width:1px;
	border-style:solid;
	border-color:Gray;
	overflow: auto;
}

.nwtemplate
{
width: 98%;
height: 95%;
border-width: 1px;
border-style: solid;
border-color: Gray;
margin: 5px;
	}
	
	
	.outer
	{
		transition: all 0.3s ease-in;
		margin: 5px;
		width: 98%;
		height: 50%;
		border-width: 1px;
border-style: solid;
border-color: Gray;
		}
	
	
    .outer:hover
	{
		margin: 5px;
		width: 98%;
		height: 50%;
		border-width: 1px;
border-style: solid;
box-shadow: 1px 1px 16px #838383;
}


	.templateiframe
	{
display: inline-block;
height: 200px;
width: 100%;
border: none;
	}



.xbutton
{
float: right;
right: 3px;
background: lightgrey;
position: relative;
border-radius: 24px;
border-style: solid;
border-color:Gray;
border-width: 1px;
outline: none;
height:20px;
height: 25px;
width: 25px;
top:5px;
}


.blocker
{ position:relative;
height: 95%;
width: 98%;
  top: -246px;
margin: 5px;
	}



 .checkboxFive {
        width: 25px;
        margin: 10px 10px;
        position: relative;
        }

        
    .checkboxFive label {
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        background: #eee;
        border:1px solid #ddd;
        }
        
    .checkboxFive label:after {
        opacity: 0.2;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        background: transparent;
        top: 6px;
        left: 7px;
        border: 3px solid #333;
        border-top: none;
        border-right: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        }

        
    .checkboxFive label:hover::after {
        opacity:0.5;
        }

        
    .checkboxFive input[type=checkbox]:checked + label:after {
        opacity: 1;
        }
        
    .label1{width: 60px;
        font-size: 12;
        font-weight: 500;
        margin-top: 9px;
        margin-right: 40;}
        
        
        
        
        

/**
 * Checkbox Five
 */
.checkboxFive_email {
	width: 25px;
	margin: 10px 10px;
	position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkboxFive_email label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkboxFive_email label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkboxFive_email label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive_email input[type=checkbox]:checked + label:after {
	opacity: 1;
}
        
        
.label1_email{width: 60px;
        font-size: 12;
        font-weight: 500;
        margin-top: 9px;
        margin-right: 40;}
        
        
        
        
        
        /**
 * Checkbox Five
 */
.checkboxFive_sms, .checkboxFive_responder {
	width: 25px;
	margin: 10px 10px;
	position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkboxFive_sms label,.checkboxFive_responder label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkboxFive_sms label:after,.checkboxFive_responder label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkboxFive_sms label:hover::after,.checkboxFive_responder label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive_sms input[type=checkbox]:checked + label:after, .checkboxFive_responder input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.label1_sms, .label1_responder
{
		width: 60px;
        font-size: 12;
        font-weight: 500;
        margin-top: 9px;
        margin-right: 40;
}


.label1_email:hover , .label1_sms:hover, .label1:hover ,.label1_responder:hover 
{
	cursor: pointer;
	 text-decoration:underline;
}




#DragWordList li, #DragWordList_Responder
{
	cursor: pointer;

}


.responder_
{
   margin-left: 10px;
}



.armScreenName {
border: 1px solid #8D8D8D;
border-radius: 5px;
padding: 5px 5px;
background-color: rgb(236, 236, 236);
margin-right: 3px;
margin-bottom:1px;
cursor: default;
font-family: Verdana;
}


.armScreenName div {
float: right;
top: -10px;
font-size: 10px;
/* position: absolute; */
margin-top: -8px;
visibility: hidden;
}


.armScreenName:hover div {
visibility: visible;
}


.nwothercredsql
{
  max-width: 390px;
  width: 390px;
  min-width: 390px;
  height: 130px;
  min-height: 130px;
  max-height: 130px;}
  
  
  #sortable { list-style-type: none; margin: 0; padding: 0; }
  #sortable li {  border-radius: 3px; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 0.3em; font-size: 1.4em; height: 18px;   padding-top: 2px;}
  #sortable input {  height: 22px;  outline: none; width: 90%; background: rgba(0, 0, 0, 0); border: 1px solid gainsboro;
    outline: none;}
    
      #sortable li button {    margin-left: 7px;}
   
  #sortable li span { position: absolute; margin-left: -1.3em; }