.history-container {
	        width: 632px;
	        max-width: 632px;
	        min-width: 632px;
}
	
.hist-div {
        margin-left: 227px;
}

#btnHistory {
    margin-right: 20px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to bottom, #dcdcdc -10%, #2d2a26 100%);
}

.nwgridButtons{display: none;}

.nwCuz-001 {

padding-bottom:15px;

}

.nwCuz-002 {

padding-left:75px;

}

.nwCuz-003 {

width:150px;

}

.nwCuz-004 {

padding-left:75px;

}

.nwCuz-005 {

width:350px;

}

.nwCuz-006 {

padding-left:15px;

}

.nwCuz-007 {

display:none;padding-bottom:15px;
}

.nwCuz-008 {

background:#F5F5F5;
}

.nwCuz-009 {

font-weight:bold;
}


/*.nwe-cb-btn .nwe-cb-icon-m.cuznw::after {
    content: '';
    width: 36px;
    height: 36px;
    background: url(images/new-document-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
}

.nwe-cb-btn .nwe-cb-icon-m.save::after {
    content: '';
    width: 36px;
    height: 36px;
    background: url(images/new-document-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
}

.nwe-cb-btn .nwe-cb-icon-m.unsave::after {
    content: '';
    width: 36px;
    height: 36px;
    background: url(images/new-document-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
}*/

.nwe-cb-sf-c .nwe-ed-icon-m.new::after 
,.nwe-cb-sf-c .nwe-ed-icon-m.save::after 
,.nwe-cb-sf-c .nwe-ed-icon-m.addrow::after 
,.nwe-cb-sf-c .nwe-ed-icon-m.copy::after
,.nwe-cb-sf-c .nwe-ed-icon-m.filter::after
,.nwe-cb-sf-c .nwe-ed-icon-m.refresh::after
{
    content: '';
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
}

.nwe-cb-sf-c .nwe-ed-icon-m.new::after {
    background-image: url('images/new-document-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.save::after {
    background-image: url('images/save-document-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.addrow::after {
    background-image: url('images/add-row-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.copy::after {
    background-image: url('images/copy-row-icon-v2.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.filter::after {
    background-image: url('images/filter-icon.png');
}
.nwe-cb-sf-c .nwe-ed-icon-m.refresh::after {
    background-image: url('images/refresh-icon.png');
}



div#menuCreatorContainer {
    z-index: 100000;
}