div#frmValidationList ._slide-m {
    height: 80%;
    width: 80%;
}

.nwCuz001{
    color: #ffffff !important;
}



div#UpdateunaccreditedVendor ._slide-m {
    width: 80%;
    height: 80%;
}

div#ApplyOneVendor ._slide-m {
    width: 80%;
    height: 80%;
}

div#ApplySingleDelDate ._slide-m {
    width: 80%;
    height: 80%;
}

div#ApplySingleDelDate_Item ._slide-m {
    width: 50%;
    height: 50%;
}

div#UpdateunaccreditedVendor ._slide-m {
    width: 35%;
    height: 40%;
}

div#applyPODtls ._slide-m {
    width: 80%;
    height: 80%;
}


/*div#nwPopItemDetailsWindow ._slide-m {
    min-width: 80%;
    min-height: 80%;
}*/