@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "Service Request Tracker";
     Layout =NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/PMO/ReportsAndInquiry/PMOTransaction_History/PMOTransaction_History.js"></script>
    <link href="~/PMO/ReportsAndInquiry/PMOTransaction_History/PMOTransaction_History.css" rel="stylesheet" />
</head>

@*<div id="noah-webui-Toolbox" class="nk-toolbar-c">
    <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
        <div class="_icon"></div>
        <div class="_lbl">Refresh</div>
    </div>
</div>*@

<div class="container-flex padding-5">
    <div class="row">
        <div class="col col-12">
            <div class="menuitem-title">Service Request Tracker</div>
        </div>

        <div class="col col-12">
            <div class="menuitem-df">Date Filter</div>
        </div>
    </div>


    <div class="row">
        <div class="col col-4 margin-x-0">
            <div class="row margin-bottom-5">
                <div class="col col-3">
                    <label class="lbltxt">Request Type</label>
                </div>
                <div class="col col-9">
                    <select id="cmbTranType" class="cmb fullwidth">
                        <option value="Select All">Select All</option>
                        <option value="Billable">Billable</option>
                        <option value="Non Billable">Non Billable</option>
                    </select>
                </div>
            </div>

            <div class="row margin-bottom-5">
                <div class="col col-3">
                    <label class="lbltxt">Request</label>
                </div>
                <div class="col col-9">
                    <select id="cmbRequest" class="cmb fullwidth">

                    </select>
                </div>
            </div>


            <div class="row margin-bottom-5">
                <div class="col col-3">
                    <label class="lbltxt">Status</label>
                </div>
                <div class="col col-9">
                    <select class="cmb fullwidth" id="cmbStatus">
                    </select>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div id="TranConGrid" class="col col-12">
        </div>
    </div>
</div>