@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "Roles";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/SA/DataSetup/SACompanyRole/SACompanyRole.js"></script>
    <link href="~/SA/DataSetup/SACompanyRole/SACompanyRole.css" rel="stylesheet" />
</head>

     <div id="noah-webui-Toolbox" class="nk-toolbar-c">
         <div id="noah-webui-default-New" class="btn-tb-action btn-tb-new">
             <div class="_icon"></div>
             <div class="_lbl">New</div>
         </div>
         <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-save">
             <div class="_icon"></div>
             <div class="_lbl">Save</div>
         </div>
     
            <div id="noah-webui-default-Save" class="btn-tb-action btn-tb-delete">
                <div class="_icon"></div>
                <div class="_lbl">Delete</div>
            </div>
            <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
                <div class="_icon"></div>
                <div class="_lbl">Refresh</div>
            </div>
            <div id="noah-webui-default-Inquire" class="btn-tb-action btn-tb-inquire">
                <div class="_icon"></div>
                <div class="_lbl">Inquire</div>
            </div>
            <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
                <div class="_icon"></div>
                <div class="_lbl">Export</div>
            </div>
        </div>



<div class="container-flex">
    <div class="row row-parent padding-10">
        <div class="col col-4 col-parent">
            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">Code</label>
                </div>
                <div class="col col-9">
                    <input type="text" name="" id="inCode" class="nwCode nwUpper" maxlength="12">
                </div>
            </div>

            <div class="row">
                <div class="col col-3">
                    <label class="lbltxt">Description</label>
                </div>
                <div class="col col-9">
                    <input type="text" name="" id="inDesc" maxlength="80">
                </div>
            </div>

          
         
        </div>
        <div class="col col-8 col-parent"></div>
    </div>
</div>
