.nwCuz-001 {

    width:360px;

}

.nwCuz-002 {

    width:150px; display:none; float:right;

}

.nwCuz-003 {

    width:110px;

}

.nwCuz-004 {

    width:36px;

}

.nwCuz-005 {

    width:360px;

}

.nwCuz-006 {

    background:#DEDEDE;

}

.nwCuz-007 {

    width:150px;

}

.nwCuz-008 {

    width :140px; font-size :12px;

}

.nwCuz-009 {

    min-width:550px;max-width:550px;min-height:100px;

}

.nwCuz-010 {

    width:100px;

}

.nwCuz-011 {

    width:377px;

}

.nwCuz-012 {

    width:110px;

}

.nwCuz-013 {

    width:36px;

}

.nwCuz-014 {

    font-weight:bold;

}

.nwCuz-015 {

    padding-left: 25px;

}




