




.history-container {
	        width: 632px;
	        max-width: 632px;
	        min-width: 632px;
}
	
.hist-div {
        margin-left: 227px;
}

#btnHistory {
    margin-right: 20px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to bottom, #dcdcdc -10%, #2d2a26 100%);
}

.nwgridButtons{display: none;}

.nwCuz-001 {

padding-bottom:15px;

}

.nwCuz-002 {

padding-left:75px;

}

.nwCuz-003 {

width:150px;

}

.nwCuz-004 {

padding-left:75px;

}

.nwCuz-005 {

width:350px;

}

.nwCuz-006 {

padding-left:15px;

}

.nwCuz-007 {

display:none;padding-bottom:15px;
}

.nwCuz-008 {

background:#F5F5F5;
}

.nwCuz-009 {

font-weight:bold;
}

.menuitem-container.full {
    padding: 0px;
}

.ongoing{
        background-color: rgb(255, 234, 204);
}
.nys{
        background-color: rgb(255, 204, 204);
}