input {
    margin: 0px !important;
    font-family: 'Open Sans' ,'Segoe UI', 'Century Gothic', sans-serif !important;
    padding: 3px 4px !important;
    line-height: 18px !important;
    font-size: 13px !important;
    border-radius: 3px !important;
    color: #222222 !important;
    outline: none !important;
    border: 1px solid #758d9a !important;
    border-color: #758d9a !important;
    background-color: #ffffff !important;
    -webkit-transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow !important;
    -moz-transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow !important;
    transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow !important;
}

textarea {
    margin: 0px !important;
    font-family: 'Open Sans' ,'Segoe UI', 'Century Gothic', sans-serif !important;
    padding: 3px 4px !important;
    line-height: 18px !important;
    font-size: 13px !important;
    border-radius: 3px !important;
    color: #222222 !important;
    outline: none !important;
    border: 1px solid #758d9a !important;
    border-color: #758d9a !important;
    background-color: #ffffff !important;
    -webkit-transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow !important;
    -moz-transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow !important;
    transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow !important;
}

.nwgridButtons {
    display: flex;
    gap: 4px;
    flex-direction: row;
    margin: 0px 0px 4px 0px;
    height: auto !important;
}

.nwgridButtons .nwgrid_buttonsCon > button {
    margin: 0px;
}

.nwCuz001 {
    background-color: gainsboro !important;
}

.nwCuz002 {
    background-color: #eeeeee !important;
}

