@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Forgot Password";
    Layout = NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/forms_standards/Standard/ForgotPassword/ForgotPassword.js"></script>
    <link href="~/forms_standards/Standard/ForgotPassword/ForgotPassword.css" rel="stylesheet" />

</head>


<div class="chpw-container">
    <!-- TOOLTIPS    -->
    <div class="chpw-tooltip">
        <div class="chpw-icon _tooltip">
            <img src="materials/media/icons/Mobile/question-mark--design-60x60px-58obj-v2.png" alt="">
        </div>
    </div>

    <div class="chpw-tp-container">
        <div class="chpw-tp-tx">
            Enter your email or phone number and we will
            send you a one-time pin to reset your password
        </div>
    </div>

    <!-- TOOLTIPS -->

    <div id="frmEnterUser" class="chpw-box">

        <div class="chpw-wrapper">
            <div class="chpw-img">
                <img src="materials/media/icons/Mobile/forgot-password-lock-design-280obj.png" alt="">
            </div>

            <div class="chpw-dt">
                <div class="chpw-tx">Change Password</div>
                <div class="chpw-stx">Please input your email or phone number below @ViewBag.RegisterLink</div>
            </div>



            <div class="row row-parent">
                <div class="col col-12">
                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <input id="txtUserCode" type="text" name="" class="txtbox" placeholder="Email address or Phone Number">
                        </div>
                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <div id="btnSubmit" class="btn btn-default fullwidth darkblue">Submit</div>
                        </div>
                    </div>

                    <div class="row child-centered">
                        <div class="col col-12">
                            <a href="login" class="no-urderline">
                            <div id="btnBack" class="btn btn-default btn-default-darkblue fullwidth btn-transparent">Back</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div id="frmEnterOTP" class="chpw-box">

        <div class="chpw-wrapper">
            <div class="chpw-img">
                <img id="imgEmail" src="materials/media/icons/Mobile/email-OTP-details-60x60px.png" alt="">
                <img id="imgSMS" src="materials/media/icons/Mobile/OTP-details-60x60px.png" alt="">
            </div>

            <div class="chpw-dt">
                <div class="chpw-tx">Enter OTP Verification</div>
                <div id="lblOTPtext" class="chpw-stx"></div>
            </div>



            <div class="row row-parent">
                <div class="col col-12">
                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <input id="txtOTP" type="text" name="" class="txtbox" placeholder="">
                        </div>
                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <div id="btnSubmitOTP" class="btn btn-default fullwidth darkblue">Submit</div>
                        </div>
                    </div>

                    <div class="row child-centered">
                        <div class="col col-12">
                            <div class="lbltxt">Didn't Recieve Code? <span class="tcolor-blue underline" id="lblResendOtp">Resend new code</span></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div id="frmEnterNewPass" class="chpw-box">

        <div class="chpw-wrapper">
            <div class="chpw-img">
                <img src="materials/media/icons/Mobile/new-password-lock-design-280obj.png" alt="">
            </div>

            <div class="chpw-dt">
                <div class="chpw-tx">Change Password</div>
                <div class="chpw-stx">Enter your new password below</div>
            </div>



            <div class="row row-parent">
                <div class="col col-12">
                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <input id="txtPassword1" type="password" name="" class="txtbox" placeholder="New Password">
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <input id="txtPassword2" type="password" name="" class="txtbox" placeholder="Confirm Password">
                        </div>
                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col col-12">
                            <div id="btnSubmitChange" class="btn btn-default fullwidth darkblue">Submit</div>
                        </div>
                    </div>

                  
                </div>
            </div>


        </div>
    </div>
</div>


