/*
    # CHANGEPASSWORD DESIGN
    # Company Owner: Forecasting and Planning Technologies Inc. | NOAH Business Applications | PROMPTUS 8
    # Developer : Rico P. Buenviaje
    # Designer : Rico P. Buenviaje
    # Date Created : September 01, 2022
    # Date Modified : September 01, 2022 | RPB
*/

/* Delcare global variables here */

:root {
    --nktransition: 0.3s ease all;
    --nkprimarycolor: #28396f;
    --nkwhite: #fff;
    --nkprimarycolor2: #f4a74b;
    --nksecondarycolor: #e9eeff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: normal;
    /*Fonts Setting*/
    -moz-font-feature-settings: "kern" 1; 
    -ms-font-feature-settings: "kern" 1; 
    -o-font-feature-settings: "kern" 1; 
    -webkit-font-feature-settings: "kern" 1; 
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-rendering: optimizeLegibility;

    line-height: 1.16;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #222222;
}

::placeholder {
    color: #a4a8b0;
    font-size: 13px;
    opacity: .7;
}

button {
    height: 45px;
    background: #133561;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 6px;
    letter-spacing: .4px;
    line-height: 40px;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    height: 36px;
    padding: 10px;
    border-radius: 6px;
    outline: initial;
    border: 1px solid #e0dfe4 !important;
}


::-webkit-scrollbar {
    width: 11px;
    height: 11px;
    cursor: default;
}
::-webkit-scrollbar-thumb {
    cursor: default;
    background: #a9b6c2;
    border-radius: 20px;
    border: 2px solid #eaeaea;
    -webkit-transition: .14s ease-in-out all;
    -moz-transition: .14s ease-in-out all;
    transition: .14s ease-in-out all;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-radius: 0;
    background-color: rgba(0,0,0,.08);
}
::-webkit-scrollbar-thumb:hover {
    background: #8ca0b2;
}



.chpw-container {
    position: relative;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chpw-img img {
    width: 100%;
    object-fit: cover;
}
.chpw-img {
    position: relative;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.chpw-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
}

.chpw-box {
    position: relative;
    width: 380px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 10px;
    padding: 15px;
}

.chpw-dt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chpw-tx {
    font-size: 20px;
    font-weight: 500;
    color: #13151B;
}

.chpw-stx {
    color: #a4a8b0;
    font-size: 14px;
    /*width: 190px;*/
    font-weight: 100;
}

/*.chpw-act {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
}*/

.chpw-btn {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#chpw-back {
    background: transparent;
    border: 1px solid #133561;
    color: #133561;
}



.chpw-icon._tooltip {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4edff;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.chpw-tp-container {
    position: absolute;
    background: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 10px;
    width: 300px;
    height: 230px;
    border-radius: 10px 10px 3px 10px;
    transform: scale(0);
    transition: .33s ease all;
    
    right: -118px;
    bottom: -86px;

}

.chpw-tp-container.show {
    transform: scale(1);
    right: 30px;
    bottom: 30px;
}

.chpw-tp-tx {
    font-size: 13px;
    font-weight: 100;
    color: #575757;
}

.chpw-icon._tooltip img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}


.chpw-tooltip {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

.btn.btn-default.btn-default-darkblue.btn-transparent {
    background: #ffffff;
    color: #185180;
}

.btn.btn-default.btn-default-darkblue.btn-transparent:hover {
    background: initial;
    box-shadow: initial;
    border: initial;
}

.menuitem-container.full {
    padding: 0px;
}

.btn.btn-default.darkblue {
    background: #133561;
}
.btn.btn-default.darkblue:hover {
    background: #133561;
}

@media (max-width: 800px) {

    .chpw-icon._tooltip {
        width: 30px;
        height: 30px; 
        right: 0;
        bottom: 0;
        z-index: 12;
        position: inherit;
    }

    .chpw-tooltip {

        top: 40px;
        right: 10px;
        bottom: initial;
        z-index: 3;
    }
    .chpw-box {

        width: 100%;
        box-shadow: initial;
        border-radius: 0px;

    } 

    .chpw-tp-container.show {
        transform: scale(1);
        right: 25px;
        bottom: initial;
        top: 25px;
        z-index: 2;
    }    

    .chpw-tp-container {
        right: -124px;
        bottom: initial;
        top: -90px;
    }

    .chpw-icon._tooltip img {
        width: 24px;
        height: 24px;
    } 

}



#lblResendOtp{cursor: pointer;}

#frmEnterOTP,
#frmEnterNewPass
,#imgSMS, #imgEmail
{
    display:none;
}