#profile-img {
    background-image: url('images/placeholder.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 82px;
}
  div#profile-img, div#profile-img-signature {
        margin-bottom: 6px !important;
    }

#attachIDPicture,#attachSignature {
    min-width: 245px;
    max-width: 245px;

}


#profile-img-signature {
    /*background-image: url('images/placeholder.png');*/
    background-color: gainsboro;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 65px;

}
    div#profile-img-signature {
        min-height: 50px;
    }

#nwredColor {
        color: #FF0000;
}


.groupHeader,.groupHeaderDet {
    /*background: linear-gradient(to top, #31859c, #5496ab, #72a7bb, #8eb8ca, #a9cad9);*/
    background: linear-gradient(to bottom, #4682b2 0%, #0965b0 100%);
    height: 35px;
    line-height: 30px;
    padding-left: 12px;
    border: 1px solid #F4A74B;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    font-family: 'Segoe UI';
    margin-bottom: 2px;
    text-transform: uppercase;
    width: 146%;
}

    .groupHeader,.groupHeaderDet {
        display: block;
        margin: 2px auto;
        box-sizing: border-box;
        margin-bottom: 4px;
        width: unset;
    }





#btnReqCompliance {
    margin-top:10px;
}

.nwCustomCol-3 {
    flex: 0 0 23.333333% !important
}

.nwCustomCol-4 {
    flex: 0 0 23.333333% !important
}


.nwCustomCol-8{
    flex: 0 0 73.666667% !important;
}


#btnViewCoowner {
    min-width: 185px;
    max-width: 185px;
}

#viewAllRecrodModal {

    min-width: 1200px;
    max-width: 1200px;

    min-height:500px;
    max-height:500px;
}

