body
        {
        	background-color:#DEDEDE;
        	font-family:Verdana;
        	font-size:small;
        	text-align:center;
        	
        }
        #MainFrame
        {
            min-width: 200px;
            max-width: 200px;
            margin: auto;
            background-color:#FEFEFE;
            border:Gray solid 1px;
            border-radius:10px;
            padding:30px;
            padding-bottom:30px;
            vertical-align: middle;
            margin-top: 4%;
            background-image:url(../system_images/backGround/ForgotPass.png);
            background-repeat:no-repeat;
            background-size: 100%;
            min-width: 260px;
            max-width: 260px;
           min-height: 280px;
        }
        
        #MainFrame>div
        {
        	min-width:100%;
        	margin:3px;
        }
        .nwLabel 
        {
        	min-width:100%;
        	margin-top:20px;
        	margin-bottom:5px;
        }
         input[type="text"] {
                border: 1px solid #bfbfbf !important;
                padding: 7px !important;
            }
          #btnChange, #btnBack 
          {
          	width: 230px;
            padding: 13px !important;
            margin-top: 10px;
            background: #608699;
            color: #484848;
            border: 1px solid #bfbfbf;
            border-radius: 5px;
            font-weight: bold;
            background-image: -webkit-linear-gradient(top, #ffffff, #c3c3c3);
            background-image: -moz-linear-gradient(top, #ffffff, #c3c3c3);
            background-image: -ms-linear-gradient(top, #ffffff, #c3c3c3);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#ffffff), to(#c3c3c3));
            background-image: -webkit-linear-gradient(top, #ffffff, #c3c3c3);
            background-image: -o-linear-gradient(top, #ffffff, #80a6b9);
        }
        #btnChange
        {
        	margin-top:20px;
        }
        #lblMsg
        {
        	color:Red;
        }
        input[type="text"] {
    width: 230px;
    border: 1px solid #bfbfbf !important;
                padding: 7px !important;
}

.nwCuz-001 {

    height: 110px;
                    text-align: left;
                    color: white;
                    font-size: 20px;

}

.nwCuz-002 {

    color: green !important;
    margin-top: 50px !important;
    display: block !important;

}



.noah-webui-Window{
    display:none;
}