/*
    # NOAH UI KIT: Media Screen Selection
    # Company Owner: Forecasting and Planning Technologies Inc. | NOAH Business Applications | PROMPTUS 8
    # Developer : Rico P. Buenviaje | Alvin Diaz Benedicto
    # Designer : Rico P. Buenviaje | Alvin Diaz Benedicto
    # Date Created : July 10, 2020
    # Date Modified : August 31, 2021 | RPB
*/

/*
    Settings for different screen types
*/


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .nk [class*="col-"]:not(.col-dev) {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
        flex: 0 0 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
        flex: 0 0 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
        flex: 0 0 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 100%;
        flex: 0 0 100%;
    }

    .modal-box {
        width: 100%;
        height: 100%;
    }

    .modal-box-s {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .modal-box.modal-box-right {
        width: 100%;
        height: 100%;
    }

    .btn.btn-modal-rescale {
        display: none;
    }

    .dot-container {
        width: 285px;
        height: 20px;
    }

    .dot-c {
       width: 18px;
       height: 18px;
       animation: mob-loading 3.5s infinite ease-in-out;
    }

    .loading-text {
        font-size: 16px !important;
    }

    .loading-text span {
        font-size: 20px;
        top: 100%;
    }

    .loading::after {
        top: 240%;
        width: 55px;
        font-size: 16px;
    }

    .spinner-cc {
        animation: hide 1s ease 18s;
        animation-fill-mode: forwards;
}

    .text-fade._fade-one {
        top: 55%;
        left: 50%;
        text-align: center;
        animation: show 1s 5s, text-down .33s 10s;
        animation-fill-mode: forwards;
        width: 262px;
}

    .text-fade._fade-two {
        top: 55%;
        left: 50%;
        text-align: center;
        animation: show 1s 10.5s, text-down .33s 18s;
        animation-fill-mode: forwards;
}

    @keyframes text-down {
        0% {
         top: 55%;
         opacity: 1;
       }
        100% {
         top: 55%;
         opacity: 0;
     }
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 577px) and (max-width: 768px) {
    .nk .col .lbltxt {
        text-indent: 2px;
        margin: 1px 0;
    }
    .nk .col .txtbox,
    .nk .col .txtbox-date,
    .nk .col .txtbox-time {
        margin-bottom: 1px;
    }
    .nk [class*="col-"]:not(.col-dev) {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
        flex: 0 0 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
        flex: 0 0 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
        flex: 0 0 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 100%;
        flex: 0 0 100%;
    }
    .nk .row.row-parent.row-col-default > .row {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 992px) {
    /* Footer */
    .nk-footer-info {
        gap: 10px;
    }
    .nk-footer-create, .nk-footer-modified {
        gap: 5px;
    }
    .nk-f-modifiedName, .nk-f-createName,
    .nk-f-createDate, .nk-f-modifiedDate{
        width: 34%;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nk .col.col-tab-4,
    .nk .col.col-mob-4 {
        width: 33.3333333333%;
    }
    .nk .col.col-mob-1,
    .nk .col.col-tab-1 {
        width: 8.3333333333%;
    }
    .nk .col.col-mob-2,
    .nk .col.col-tab-2 {
        width: 16.6666666667%;
    }
    .nk .col.col-mob-3,
    .nk .col.col-tab-3 {
        width: 25%;
    }
    .nk .col.col-mob-4,
    .nk .col.col-tab-4 {
        width: 33.3333333333%;
    }
    .nk .col.col-mob-5,
    .nk .col.col-tab-5 {
        width: 41.6666666667%;
    }
    .nk .col.col-mob-6,
    .nk .col.col-tab-6 {
        width: 50%;
    }
    .nk .col.col-mob-7,
    .nk .col.col-tab-7 {
        width: 58.3333333333%;
    }
    .nk .col.col-mob-8,
    .nk .col.col-tab-8 {
        width: 66.6666666667%;
    }
    .nk .col.col-mob-9,
    .nk .col.col-tab-9 {
        width: 75%;
    }
    .nk .col.col-mob-10,
    .nk .col.col-tab-10 {
        width: 83.3333333333%;
    }
    .nk .col.col-mob-11,
    .nk .col.col-tab-11 {
        width: 91.6666666667%;
    }
    .nk .col.col-mob-12,
    .nk .col.col-tab-12 {
        width: 100%;
    }
    .nk .row.row-parent.row-default-mob {
        width: 82%;
    }
    .nk .row.row-parent.row-col-default > .row {
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
    .nk .container {
        max-width: 992px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    .nk .container {
         width: 94%;
         max-width: 1330px;
    }
}

/* NOAH Standard Screen Breakpoint */
@media (max-width: 800px) {

    .padding-right-10 {
        padding-right: 0px !important;
    }

    .padding-left-10 {
        padding-left: 0px !important;
    }

    .nk .table thead th, .nk .table thead tr {
        display: none;
    }

    .modal-box {
        /*width: 96%;
        height: 70%;*/
        width: 100%;
        height: 100%;
    }

    .attachment-cc {
        justify-content: flex-end;
    }

    .table-tabs-actions-right, 
    .table-header-actions-c {
        float: initial;
        text-align: initial;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .table-tabs-actions {
    padding: 0px;
    
     }

    .dropdown {
        width: 100%;
    }

    .menu-c {
    width: 100%;
    }

    .dropdown._with-txtbox .dropdown-content {
        min-width: 220px;
        width: 100%;
    }

    .table-search-wrapper {
        width: 89%;
    }
 
    
    .nk .table .tbl-row-num, .nk .table td {
        /*display: table;*/
        display: flex;
        align-items: center;
        width: 100% !important;
        max-width: 100% !important;
        padding-right: 4px !important;
        padding-left: 4px !important;
        position: relative;
        text-align: left !important;
        /* min-height: 28px; */
        height: 100%;
        padding: 2px;
    }
    .nk .table .tbl-row-num {
        text-align: right !important;
        display: block;
    }
    
    .nk .table tr {
        border: 1px solid #cfd5da !important;
        border-radius: 3px;
        display: block;
        margin-bottom: 6px;
        padding: 2px;
    }
  

    
    .nk .table tr:last-of-type {
        margin-bottom: 0;
    }
    .nk .table .tbl-row-num:before,
    .nk .table td:before {
        content: attr(row-th);
        font-weight: bold;
        color: #000000;
        text-align: left;
        width: 40%;
        padding-right: 6px;
        padding-left: 4px;
        padding-top: 2px;
        overflow: hidden;
        height: 100%;
        vertical-align: top;
        line-height: 20px;
        max-width: 180px;
        display: table-cell;
    }
    .nk .table .tbl-row-num:before {
        color: #2ca5b1;
    }

    .nk .table .tbl-row-selector:before {
        line-height: 26px;
    }

    .nk td.tbl-row-selector .chk-without-text .chk + .lbl-chk {
        margin-left: -10px;
    }

    .nk .table .tbl-row-selector {
        padding-top: 0;
        padding-bottom: 0;
    }
    .nk .table td .chk-wrapper.chk-without-text {
        display: inline-block;
        text-align: left;
    }    
    .nk .table td .wrap-td,
    .nk .table th .wrap-td {
        vertical-align: top;
        padding-left: 4px;
        padding-right: 4px;
        width: 60%;
        line-height: 20px;
        white-space: normal;
        height: 100%;
        display: table-cell;
        padding-top: 2px;
        /*text-align: right;*/
    }
    .nk .table td.tb-align-right {
        text-align: right !important;
    }
     .nk .table  {
        width:100% !important;
    }
    .nk .table td.tb-align-center {
        text-align: center !important;
    }
    /*td:nth-child(even) {
    background: #edf6ff;
}*/
    .nk .table tr.selected {
        border-color: #2575c4 !important;
    }
    .nk .table tr.selected .tbl-row-num {
        color: #222222;
    }

    .nk .table-wrapper {
        height: auto;
        max-height: initial;
        min-height: auto;
        overflow: hidden !important;
        padding: 7px;
    }
    
    .nkf {
        font-size: 10px !important;
    }

    .nk-footer-info {
        gap: 10px;
    }

    .nk-footer-modified {
        gap: 10px;
    }
    
    .nk-footer-create {
        gap: 10px;
    }

    .nk #grid-sticky th:nth-child(3), .nk #grid-sticky tr td:nth-child(3), 
    .nk #grid-sticky th:nth-child(2), .nk #grid-sticky tr td:nth-child(2), 
    .nk #grid-sticky th:nth-child(1), .nk #grid-sticky tr td:nth-child(1) {
        position: initial;
        padding: 2px !important;
    }

    .nk #grid-sticky th:nth-child(1), .nk #grid-sticky tr td:nth-child(1) {
        background: #ffffff;
    }

    .nk #grid-sticky th:nth-child(2), .nk #grid-sticky tr td:nth-child(2) {
        background: #edf6ff;
    }

    .nk #grid-sticky th:nth-child(3), .nk #grid-sticky tr td:nth-child(3) {
        background: #ffffff;
    }
    
}



















@media (max-width: 768px)  {
    .nk-toolbar-c .btn-tb-action {
        padding-left: 0px;
        padding: 5px 10px;
        margin-right: 3px;
        border-radius: 3px;
        height: auto;
        display: inline-block;
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }

    .nk-toolbar-c .btn-tb-action ._icon {
        margin-right: 0px;
        margin: 0 auto;
    }

    ._lbl {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

}


@media (max-width: 360px) {
    .nk-toolbar-c {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
    }

    .nk-toolbar-c::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width: 320px) {

    .nk-toolbar-c .btn-tb-action {
        padding: 5px 8px;
    }

}

@media (max-width: 768px)  {
.mob-lay30 {
    width: 30% !important;
    flex: initial !important;
} 


label.lbltxt.mob-lbl-main {
    color: #292828;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.mob-lay70  {
    width: 70% !important;
    flex: initial !important;
}

label.lbltxt.mob-lbl {
    padding: 4px 2px;
    margin: 0px !important;
    font-weight: 300 !important;
    font-size: 13px !important;
}


body.mob-transparent input , body.mob-transparent textarea{
    font-size: 14px !important;
    border: 1px solid transparent !important;
    background-color: transparent !important;
    filter: initial !important;
    opacity: 1 !important;
    color: #506abd !important;
    font-weight: 600 !important;
    border-bottom: 1px solid #b2b2b25e !important;
}
body.mob-transparent input[disabled],body.mob-transparent textarea[disabled] {
    border-bottom: 1px solid transparent !important;
}


.nk .txtbox.mob-nottransparent {
    font-family: 'Open Sans' ,'Segoe UI', 'Century Gothic', sans-serif;
    padding: 3px 4px !important;
    line-height: 18px !important;
    font-size: 13px !important;
    border-radius: 3px !important;
    color: #222222 !important;
    outline: none !important;
    border: 1px solid #aaaaaa !important;
    background-color: #ffffff !important;
    -webkit-transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow 
!important;
    -moz-transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow;
    transition: .18s ease-in-out border-color, .14s ease-in-out box-shadow;
}

.col-parent.col-parent-bg {
    border: 1px solid #cfe7ff!important;
    background: #f7fbff;
    padding: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
}

}


@media (max-width: 768px) {
    .main-cpoup {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* ARC 10152024 */
/* Extra Small Devices (phones) */
@media (max-width: 360px) {
    /* Alert box v2 */
    .nw-icon {
        width: 40px;
        height: 28px;
    }
    .nw-icon._error::before,
    .nw-icon._error:after {
        left: 6px;
    }
    .nw-icon._warning::before,
    .nw-icon._info::before {
        top: 17px;
    }
    .nw-icon._warning::after,
    .nw-icon._info::after {
        top: 8px;
    }
    .nw-icon._success::before {
        left: 5px;
    }
    .nw-icon._success::after {
        left: 8px;
    }

    .row[nk-cardtext-style="1"] .lbltxt {
        width: 85%;
    }
    .row[nk-cardtext-style="1"] .lblvalue {
        width: 15%;
        margin: auto;
    }

    .nk-footer-info {
        gap: 5px !important;
    }
    .nk-footer-create,
    .nk-footer-modified {
        gap: 3px;
        width: 48% !important;
    }
    .nk-f-createBy,
    .nk-f-modifiedBy {
        gap: 0px;
    }
    .nk-f-modifiedName,
    .nk-f-createName,
    .nk-f-createDate,
    .nk-f-modifiedDate {
        max-width: 30%;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (width: 540px) {
    .alerts-parent {
        width: 360px;
    }

    /* Alert box v2 */
    .nw-alert-parent {
        width: 360px;
    }
    .nw-icon {
        width: 35px;
        height: 25px;
    }
}

@media only screen and (max-width: 576px) {
    /* Side Alert */
    .side-alert-parent {
        width: 100%;
    }
    .nk-alert {
        margin-left: 10px;
    }
    /* Lightbox */
    .lightbx-slides img {
        height: auto;
    }
    /* Alert box v2 */
    .nw-alert-parent {
        width: 100%;
    }
    .nw-alert {
        margin-left: 10px;
    }
    .nw-close-alert {
        right: 0;
        top: 0;
    }
    .nw-alert-dtls {
        width: auto;
    }
    .nw-icon {
        width: 30px;
        height: 24px;
    }
    .nw-icon._error::before,
    .nw-icon._error:after {
        top: 11px;
        left: 4px;
    }
    .nw-icon._warning::before,
    .nw-icon._info::before {
        left: 11.5px;
        top: 16px;
    }
    .nw-icon._warning::after,
    .nw-icon._info::after {
        left: 8px;
        top: 7px;
    }
    .nw-icon._success::before {
        top: 14px;
        left: 3px;
    }
    .nw-icon._success::after {
        top: 11px;
        left: 6px;
    }

    .pdf-object {
        height: auto;
    }

    .gridFolder {
        grid-template-columns: auto;
    }
    /* Tabs Label max width */
    .nk .tabs-lbl {
        max-width: 95px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .alerts-parent {
        width: 100%;
    }
    .alert {
        margin-left: 10px;
    }

    .nk-footer-info {
        gap: 3px;
    }
    .nk-footer-create,
    .nk-footer-modified {
        gap: 3px;
        width: 50%;
    }
    .nk-f-createBy,
    .nk-f-modifiedBy {
        gap: 0px;
    }
    /*Hide Scrollbar*/
    ::-webkit-scrollbar {
        display: none;
        width: 1px;
    }
    /* textbox outline*/
    .nk .txtbox,
    .nk .txtbox-date,
    .nk .txtbox-time,
    .nk .txtarea,
    .nk input[type="text"],
    .nk input[type="date"],
    .nk input[type="time"],
    .nk textarea,
    .nk .col input[type="file"],
    .nk .col input[type="month"],
    .nk .col input[type="number"],
    .nk .col input[type="week"],
    .nk .col input[type="url"],
    .nk .col input[type="tel"],
    .nk .col input[type="datetime-local"],
    .nk .col input[type="email"],
    .nk .col input[type="password"],
    .nk .col input[type="range"],
    .nk .col textarea,
    .nk .col input[type="search"],
    .nk .col input[type="color"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #c4c4c4;
    }

    /* footer */
    .nk-footer-c {
        width: calc(100% - 1px) !important;
    }

    .nk .card-item-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        width: 100%;

        .col-3 {
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
        }

        .card-item-desc {
            height: auto;
        }
    }

    /*AD BANNEDR*/
    .slider-banner {
        height: 120px;

        .navigation {
            bottom: 0.4rem;
            gap: 0.5rem;
        }

        .navigation label {
            padding: 0.2rem;
        }
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    /*Hide Scrollbar*/
    ::-webkit-scrollbar {
        display: none;
        width: 1px;
    }

    .chat-bx {
        .open-button {
            min-height: 50px;
            width: 50px;
            box-shadow: 0 0 0px 2px #aed7ff;
            bottom: 40px;

            &:active {
                background: #94caff;
            }
        }

        .chat-popup {
            left: 0;
            bottom: 1px;
            width: 100%;

            .form-container {
                border-radius: 0px;
                height: 375px;
                border: 2px solid #e6e6e6;
                min-width: 667px;
                position: relative;
            }
        }

        ul.people {
            height: 285px;

            .person {
                &:after {
                    width: 97%;
                }
            }
        }

        div#right-container {
            left: 0;
            height: 374px;
            border-radius: 0px;
            min-width: 667px;
            border: 2px solid #e6e6e6;
            z-index: 200;
            bottom: 1px;

            .chat-bx-body {
                height: 281px;
            }
        }

        div#nk-left-hdr-opt {
            right: 10px;
        }

        .btn-actions {
            width: 100px;
        }

        input#chatInput {
            width: 97%;
        }

        div#right-container {
            .btn-actions {
                width: 120px;
            }
        }

        .left {
            input[type="text"] {
                width: 95%;
            }
        }
    }

    /*AD Banner*/
    .slider-banner {
        height: 150px;

        .navigation {
            bottom: 0.4rem;
            gap: 0.5rem;
        }

        .navigation label {
            padding: 0.2rem;
        }
    }
}

/* Medium Devices (landscape tablets and small desktops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

@media (max-width: 800px) {
    .col.col-5.col-mob {
        width: 40%;
        flex: 0 0 40%;
    }

    .col.col-7.col-mob {
        width: 60%;
        flex: 0 0 60%;
    }

    .col.col-mob input {
        background: transparent !important;
        border: none !important;
        font-weight: 600 !important;
        line-height: 23px;
        font-size: 12px !important;
    }

    .col.col-mob label {
        font-size: 12px !important;
        font-weight: 100 !important;
        padding: 7px 2px;
        padding-top: 8px;
    }

    .cst-container .row .col {
        border: 0px !important;
    }

    .row.rx {
        padding: 5px;
        padding-top: 0px;
    }

    .cst-container .row .col .row {
        margin: 0px !important;
    }

    .menuitem-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .cst-hrd-wrap {
        font-size: 13px;
        padding-left: 6px;
    }

    .nk .btn.btn-default,
    .nk button {
        line-height: 30px !important;
        height: 30px !important;
        font-family: "Poppins-Regular", sans-serif !important;
        font-size: 11px;
        font-weight: 500 !important;
        padding: 0 10px;
    }

    div#btnReqCompliance {
        margin-bottom: 5px;
    }

    .cst-tx {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 800px) {
    .mob-opacity {
        display: none;
    }

    .cst-tx {
        font-size: 13px;
    }

    .cst-title {
        margin: 5px;
    }

    #nwGridWorkers {
        height: auto !important;
        width: 100% !important;
        margin: 0px !important;
    }

    #nwGridMaterials {
        height: auto !important;
        width: 100% !important;
        margin: 0px !important;
    }

    div#nwGridAddOn {
        margin-top: 10px;
        height: auto !important;
        width: 100% !important;
        margin-bottom: 0px !important;
    }

    input#natOthersDesc {
        margin-top: 8px;
    }

    .nkListViewRow {
        margin: 3px 0px;
    }

    .nkListViewTitle {
        font-size: 12px;
    }

    .nkListViewValue {
        font-size: 12px;
    }
}
