.nwCus001 {
    padding-bottom: 10px !important;
}

.nwlabel001 {
    min-width: 150px !important;
}

.nwInput001 {

    min-width: 300px !important;
    max-width: 300px !important;
}

.nwlabel002 {
    min-width:150px !important;
}

.nwlabel003 {
    width: 300px !important;
}

.nwInput002 {
    background-color:gainsboro !important;
}

.nwCus002 {
    width:100%;
}

.nwlabel004 {
    margin-left: 150px !important;
}

.nwlabel005 {
    margin-left: 142px !important;
}

.nwlabel006 {
    margin-left: 130px !important;
}

.nwlabel007 {
    margin-left: 87px !important;
} 

.nwlabel008 {
    margin-left: 112px !important;
}

.nwlabel009 {
    margin-left: 110px !important; 
}