.nwgridButtons{display: none;}
    .nwCheckBoxTot {MIN-WIDTH: 75px !important;}
    
.history-container {
	        width: 632px;
	        max-width: 632px;
	        min-width: 632px;
}

.hist-div {
        margin-left: 150px;
}

#btnHistory {
    margin-right: 20px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to bottom, #dcdcdc -10%, #2d2a26 100%);
}

.nwCuz-001 {

    width:150px;

}

.nwCuz-002 {

    min-width: 450px;

}

.nwCuz-003 {

    width:150px; display:none; float:right;

}

.nwCuz-004 {

    width:150px;

}

.nwCuz-005 {

    min-width: 450px;

}

.nwCuz-006 {

    background:#DEDEDE;

}

.nwCuz-007 {

    width:150px;

}

.nwCuz-008 {

    width:200px;

}

.nwCuz-009 {

    width :140px; font-size :12px;

}

.nwCuz-010 {

    min-width:550px;max-width:550px;min-height:150px;

}

.nwCuz-011 {

    width:100px;

}

.nwCuz-012 {

    width:377px;

}

.nwCuz-013 {

    font-weight:bold;

}
