
.nk .col-4 {
    width: 33.933333% !important;
    flex: 0 0 32.933333% !important;
}



 .nk .container-flex.sample {
    padding: 0px !important;
        height: auto !important
}

.custom_nwcuz0001 {
    flex: 1 0 32.933333% !important;
}

.custom_nwcuz0002 {
    flex: 1 0 32.933333% !important;
}

.custom_nwcuz0003 {
    flex: 1 0 32.933333% !important;
}

.nwcuz_0001{
   margin-bottom: 12px !important;
}

#RefAddOn {
    width: 65% !important;
}

.btnCustom_0001 {
    min-width: 15%;
}

