@inherits System.Web.Mvc.WebViewPage
@{
     ViewBag.Title = "My Transaction Summary";
     Layout =NoahWebLib.nwSystem.GetDefaultLayout();
}

<head>
    <script src="~/RE/ReportsAndInquiry/REMyTransactionsSummary/REMyTransactionsSummary.js"></script>
    <link href="~/RE/ReportsAndInquiry/REMyTransactionsSummary/REMyTransactionsSummary.css" rel="stylesheet" />
</head>
<body class="">
    <form id="form1" runat="server">
        <div id="noah-webui-Toolbox" class="nk-toolbar-c">
            <div id="noah-webui-default-Refresh" class="btn-tb-action btn-tb-refresh">
                <div class="_icon"></div>
                <div class="_lbl">Refresh</div>
            </div>
            <div id="noah-webui-default-Export" class="btn-tb-action btn-tb-export">
                <div class="_icon"></div>
                <div class="_lbl">Export</div>
            </div>
        </div>
        <div class="container-flex">
            <div class="col col-12 col-parent">
           
                <div class="row row-parent padding-10">
                    <div class="col col-4 col-parent">
                        <fieldset class="fieldset fullwidth nwLeftheader">
                            <legend>Data Filter</legend>
                            <div class="row">
                               <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input type="radio" name="datefilter" id="radioMonthly" class="rdo" checked />

                                        <label for="radioMonthly" class="lbl-rdo">Monthly</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                    <select class="cmb fullwidth" id="cmbMonth"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input id="radioAnnual" type="radio" name="datefilter" class="rdo" checked />
                                        <label for="radioAnnual" class="lbl-rdo">Annual</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                    <select class="cmb fullwidth drop-select" id="cboAnnual"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input name="datefilter" type="radio" id="radioQuarter" class="rdo" checked />
                                        <label for="radioQuarter" class="lbl-rdo">Quarterly</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                    <select class="cmb fullwidth" id="cmbQuarter"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-4">
                                    <div class="rdo-wrapper">
                                        <input name="datefilter" type="radio" id="radioDate" class="rdo" checked />
                                        <label for="radioDate" class="lbl-rdo">Date Covered</label>
                                    </div>
                                </div>
                                <div class="col col-8">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-1"></div>
                                <div class="col col-3">
                                    <label for="">From</label>
                                </div>
                                <div class="col col-8">
                                    <input type='text' id="txtDateFrom" class="txtbox txtbox-date isNumber">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-1"></div>
                                <div class="col col-3">
                                    <label for="">To</label>
                                </div>
                                <div class="col col-8">
                                    <input type='text' id="txtDateTo" class="txtbox txtbox-date isNumber">

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- right side filter by-->
                    <div class="col col-8 col-parent nwRightheader">
                        <fieldset class="fieldset fullwidth" >
                            <legend>Filter By</legend>
                            <div class="row">
                                <div class="col col-12">
                                    <div class="tabs tabs-lbl-bold fullwidth" >
                                        <div id="settingstabs" class="tabs-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>



                    </div>
                </div>
            </div>
        <div class="container-flex">
            <div class="row row-parent padding-10">
                <div >
                    <div class="col col-12 col-parent" id="nwGridMainCon">
                    </div>
                </div>
                  
            </div>
        </div>

</body>
