
.toolBar-Color-GrayBlue {
background-color: #005F97;
background-repeat: repeat-x;
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
background-color: rgba(255, 153, 209, 1);
background-image: -moz-linear-gradient(top, rgba(251, 152, 206, 1), rgba(255, 96, 185, 1));
background-image: -ms-linear-gradient(top, rgba(251, 152, 206, 1),rgba(255, 96, 185, 1));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(0, 95, 151, 1)), to(rgba(190, 73, 139, 1)));
background-image: -webkit-linear-gradient(top,rgba(251, 152, 206, 1),rgba(255, 96, 185, 1));
background-image: -o-linear-gradient(top, rgba(251, 152, 206, 1),rgba(190, 73, 139, 1));
background-image: linear-gradient(top, rgba(251, 152, 206, 1),rgba(255, 96, 185, 1));
background-repeat: repeat-x;
color: white;
}

.noah-webui-dialog-header {
cursor: default;
box-shadow: inset 0px 0x 4px #FFFFFF;
background-color: #0C44C3;
background-image: -moz-linear-gradient(left, #FB52DA, #FFE4E8, #97209A);
background-image: -ms-linear-gradient(left, #FB52DA, #FFE4E8, #97209A);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#FB52DA), to(#97209A));
background-image: -webkit-linear-gradient(left, #FB52DA, #FFE4E8, #97209A);
background-image: -o-linear-gradient(left, #FB52DA, #FFE4E8, #97209A);
background-image: linear-gradient(left,#FB52DA,#FFE4E8,#97209A);
background-repeat: repeat-x;
color: #FFFFFF;
}

div.noah-webui-dialog {
border: 2px solid #FF84D0;
border-radius: 10px;
overflow: hidden;
}



/*.toolBar-menu-buttons:hover , .toolBar-menu-icons-actives:hover
,.toolBar-menu-sub-row:hover
,#activeformsHeaderButton:hover , #favformsHeaderButton:hover , #recformsHeaderButton:hover
,.emi-activeRow:hover
{
	color:Black;
}*/

.toolBar-menu-sub {
background-color: #FFFFFF;
border: 1px solid #EEEEEE;

}/**/

#activeformsContainer ,
#activeformsList, #favformsList, #recformsList{
background: #F7D8FF;

}

#activeformsHeaderButton, #favformsHeaderButton, #recformsHeaderButton 
{
	border: 1px solid rgba(235,235,235,0.5);
	background-color:rgba(235,235,235,0.3);
}

#activeformsInfo {
background: #FF99E9;
color: rgb(233, 233, 233);
}

#explorerContainer {
background-color: #FF1CB8;

}
.toolBar-menu-buttons:hover
{
	color:#212121;
}
.toolBar-menu-sub-label
{
	color: Black;
}


#mainContainerContent
{
	background-image:url(../../system_images/noah_logo_mirror.png);
	background-position:95% 90%;
	background-repeat:no-repeat;
	
	background-size: 9%;
}

#mainContainer
{
	background: rgb(10, 46, 1);
	background-image: -moz-linear-gradient(top,#FFFBFF,#FEE6FF);
	background-image: -ms-linear-gradient(top,  #FFFBFF,#FEE6FF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (  #FFFBFF), to(#FEE6FF));
	background-image: -webkit-linear-gradient(top, #FFFBFF,#FEE6FF);
	background-image: -o-linear-gradient(top, #FFFBFF,#FEE6FF);
	background-image: linear-gradient(top, #FFFBFF,#FEE6FF);
	background-repeat: repeat-x;
}


#explorerMenuItemsHeaderButton
{border: 1px solid #FFFFFF;
}

.formlist
{
	background-color: #F4F4F4;
	
}
#gen_NotiCollect
{
	background-color: #F4F4F4;
	background-image: -moz-linear-gradient(bottom, rgba(255, 156, 239, 0.58),rgba(255, 255, 255, 1));
background-image: -ms-linear-gradient(bottom, rgba(255, 156, 239, 0.58), rgba(255, 255, 255, 1));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(0, 95, 151, 1)), to(rgba(255, 255, 255, 1)));
background-image: -webkit-linear-gradient(bottom,rgba(255, 156, 239, 0.58), rgba(255, 255, 255, 1));
background-image: -o-linear-gradient(bottom, rgba(255, 156, 239, 0.58),rgba(255, 255, 255, 1));
background-image: linear-gradient(bottom, rgba(255, 156, 239, 0.58), rgba(255, 255, 255, 1));
background-repeat: repeat-x;
	
}




#explorerMenuItems {
background: #FFFFFF;
}


body .ui-tabs .ui-tabs-active.ui-state-active .ui-tabs-anchor 
{
	color: #00327E;
}

body .ui-tabs .ui-tabs-active.ui-state-active, .ui-tabs .ui-
tabs-active.ui-state-active
{

background-color: #F896E8;
	background-image: -moz-linear-gradient(bottom, #F896E8,#FFFFFF);
background-image: -ms-linear-gradient(bottom, #F896E8, #FFFFFF);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (rgba(0, 95, 151, 1)), to(#FFFFFF));
background-image: -webkit-linear-gradient(bottom,#F896E8, #FFFFFF);
background-image: -o-linear-gradient(bottom, #F896E8,#FFFFFF);
background-image: linear-gradient(bottom, #F896E8, #FFFFFF);
background-repeat: repeat-x;
}

.ui-widget-header{
	background-color: #EFA2FF;
	background-image: -moz-linear-gradient(bottom, #EFA2FF,#FDFDFD);
background-image: -ms-linear-gradient(bottom, #EFA2FF, #FDFDFD);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#EFA2FF), to(#FDFDFD));
background-image: -webkit-linear-gradient(bottom,#EFA2FF, #FDFDFD);
background-image: -o-linear-gradient(bottom, #EFA2FF,#FDFDFD);
background-image: linear-gradient(bottom, #EFA2FF, #FDFDFD);
background-repeat: repeat-x;
}

#gen_NotiCollect{
background-color: rgba(255, 161, 240, 0.5);
}


body .ui-tabs
{ border: 1 solid #FA72FF; }


.ui-widget-header{
border: 1px solid rgba(247, 171, 171, 0.5);
}


#activeformsInfo,
#main_menuSystem ,#main_menuModule ,#main_menuWindows ,#main_menuHelp ,
#footerMenu,
#activeformsHeaderButton, #favformsHeaderButton, #recformsHeaderButton
 {
	/*text-shadow: 1px 1px 1px #212121;*/
}

#activeformsInfo:hover,
#main_menuSystem:hover ,#main_menuModule:hover ,#main_menuWindows:hover ,#main_menuHelp:hover ,
#main_menuSystem div.toolBar-menu-sub
,#main_menuModule div.toolBar-menu-sub
,#main_menuWindows div.toolBar-menu-sub 
,#main_menuHelp div.toolBar-menu-sub,
#activeformsHeaderButton:hover, #favformsHeaderButton:hover, #recformsHeaderButton:hover,
#activeformsHeaderButton.toolBar-menu-buttonsActive, #favformsHeaderButton.toolBar-menu-buttonsActive, #recformsHeaderButton.toolBar-menu-buttonsActive
{
	/*text-shadow:  1px 1px 1px #DEDEDE;*/
}



















/*---08-29-2018---*/
@font-face {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;

}
#headerMenu {
	/*option 1*/
/*	background:  -webkit-linear-gradient(to right, #ea818b, #e04b4b);
	background:  -moz-linear-gradient(to right, #ea818b, #e04b4b);
	background:  -ms-linear-gradient(to right, #ea818b, #e04b4b);
	background:  linear-gradient(to right, #ea818b, #e04b4b);*/

	/*option 2*/
	background:  -webkit-linear-gradient(to right, #ea8a76, #e04b4b);
	background:  -moz-linear-gradient(to right, #ea8a76, #e04b4b);
	background:  -ms-linear-gradient(to right, #ea8a76, #e04b4b);
	background:  linear-gradient(to right, #ea8a76, #e04b4b);
}
#main_menuSystem,
#main_menuModule,
#main_menuWindows,
#main_menuHelp {
	color: #ffffff;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-ms-text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}
#main_menuSystem:hover,
#main_menuModule:hover,
#main_menuWindows:hover,
#main_menuHelp:hover {
    cursor: pointer;
    background: #e25653;
    text-shadow: none;
    color: #ffffff !important;
}
.toolBar-menu-sub-row {
	text-shadow: none;
	border-radius: 4px;
}
.toolBar-menu-sub-row:hover {
	background-color: #fde2e0;
}
.toolBar-menu-buttons div.toolBar-menu-sub-label {
	color: #4f4f4f;
}
input#menuLoadtxt {
	border: 1px solid #e25355;
	border-radius: 3px !important;
	background: #ffffff;
}
input#menuLoadtxt:focus {
    border: 1px solid #3ca4ad;
	border: 1px solid transparent;
}
#explorerMenuItemsHeaderButton {
	background-color: #3ca4ad !important;
    border: 1px solid #3ca4ad;
	padding: 3px 4px 5px 4px;
}
.ui-resizable-e {
	background-color: #3ca4ad;
}
.box-spliter {
    background-color: #e66d62 !important;
    background-image: none;
}
#activeformsContainer {
	background: #e66d62;	
}
.emi-Selected {
    background-color: #3ca4ad !important;
}
#explorerMenuItemsHeaderButton div {
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.32);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.32);
	-ms-text-shadow: 0 1px 1px rgba(0,0,0,.32);
	text-shadow: 0 1px 1px rgba(0,0,0,.32);
}
#activeformsHeaderButton div,
#favformsHeaderButton div,
#recformsHeaderButton div {
	color: #ffffff;
	-webkit-text-shadow: 0 0 1px rgba(0,0,0,.6);
	-moz-text-shadow: 0 0 1px rgba(0,0,0,.6);
	-ms-text-shadow: 0 0 1px rgba(0,0,0,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.6);
	font-weight: bold;
}
#activeformsHeaderButton,
#favformsHeaderButton,
#recformsHeaderButton {
	font-size: .97em;
    background-color: #e66d62;
    border: 1px solid transparent;
}
#activeformsHeaderButton div.toolBar-menu-icons,
#favformsHeaderButton div.toolBar-menu-icons,
#recformsHeaderButton div.toolBar-menu-icons {
	margin-top: 0px !important;
}
div#activeformsContainer .etitle {
    margin-top: 2px !important;
    text-indent: 18px;
}
div.toolBar-menu-buttonsActive {
	background-color: /*#3ca4ad*/ #698284;
	border-right: 1px solid /*#6d7a7f*/ transparent !important;
    border-left: 1px solid /*#6d7a7f*/ transparent !important; 
}
#activeformsHeaderButton:hover,
#favformsHeaderButton:hover,
#recformsHeaderButton:hover {
	background: /*#3ca4ad*/ #698284;
}
.emi-activeRow.nwSelected {
	/*option 1*/
	/*-webkit-background: linear-gradient(to bottom right, #ef5a32, #e04b4b);
	-moz-background: linear-gradient(to bottom right, #ef5a32, #e04b4b);
	-ms-background: linear-gradient(to bottom right, #ef5a32, #e04b4b);
	background: linear-gradient(to bottom right, #ef5a32, #e04b4b);*/

	/*option 2*/
	-webkit-background: linear-gradient(to bottom right, #ea8a76, #ef5a32);
	-moz-background: linear-gradient(to bottom right, #ea8a76, #ef5a32);
	-ms-background: linear-gradient(to bottom right, #ea8a76, #ef5a32);
	background: linear-gradient(to bottom right, #ea8a76, #ef5a32);

	/*option 3*/
	background: #ffffff;
    color: #e1514f;
    font-weight: bold;
    border: 1px solid #e1514f;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.22);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.22);
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,.22);
    box-shadow: 0 2px 4px rgba(0,0,0,.22);
}
.emi-activeRow {
	border-radius: 4px;
	border: 1px solid transparent; 

}
.emi-activeRow:hover {
	border-left: 1px solid #bbbbbb !important; 
}
#toolBar-maxi-Buttons div {
    width: 18px;
    height: 18px;
    float: right;
    margin: 1px;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Century Gothic';
    letter-spacing: .1px;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.formList {
	border-left: 1px solid #ffffff; 
}
#activeformsInfo {
	background: #e35a55;
	color: #ffffff;
    text-shadow: none !important;
}
div.toolBar-menu-sub-show {
    display: block;
    border-radius: 4px;
    border-color: #ffffff;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -ms-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
}
div.noah-webui-dialog {
	border: 1px solid #e04b4b !important;
    border-radius: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.ui-widget-header:before,
#settingstabs .ui-widget-header:before {
	background: #eaeaea;
}
body .ui-tabs .ui-tabs-active.ui-state-active .ui-tabs-anchor {
	color: #ffffff;
    -webkit-text-shadow: 0px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 0px 1px 1px rgba(0,0,0,.3);
    text-shadow: 0px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #3ca4ad;
    background-color: /*#afb5b7*/ #3ca4ad !important;
    font-weight: normal;
}
.ui-widget-header {
    border: none;
	border-bottom: 1px solid /*#6d7a7f*/ #3ca4ad;
}
.noah-webui-dialog-header {
	background: #e04b4b;
	border-bottom: 1px solid #e04b4b;
}
#toolBar-maxi-Buttons > div:nth-of-type(1),
#toolBar-maxi-Buttons > div:nth-of-type(2),
#toolBar-maxi-Buttons > div:nth-of-type(3) {
	background-color: transparent !important;
}
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(1):hover,
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(2):hover,
div#toolBar-maxi-Buttons .toolBar-menu-icons-actives:nth-child(3):hover {
	background-color: rgba(0,0,0,.12) !important;
}
#emlb1, #smsb1, #btn_apply {
	background: #3ca3ac;
}
#menuCreatorContainerHolder,
.dimMessageBoxHeader {
	-webkit-background:  linear-gradient(to bottom right, #ea8a76, #e04b4b);
	-moz-background:  linear-gradient(to bottom right, #ea8a76, #e04b4b);
	-ms-background:  linear-gradient(to bottom right, #ea8a76, #e04b4b);
	background:  linear-gradient(to bottom right, #ea8a76, #e04b4b);
}
#footerMenu {
	border-top: 1px solid #e35a55;
    background-color: #eaeaea;
    background-image: none;
}
#footerMenu div {
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    color: #4f4f4f;
    font-weight: bold;
    border-radius: 0;
}
/*---11-19-2018---*/
.nwButton {
    border: 2px solid #3ca4ad !important;
    color: #3ca4ad !important;
}
.nwSave {
    background-color: #3ca4ad !important;
    color: #fafafa !important;
}
/*--- 12-05-2018 ---*/
#gen_NotiCollectSystem,
#gen_NotiCollectTrans {
    background-color: #ffffff;
    margin-top: 0;
    border-top: 1px solid #3ca4ad;
}
.emi-activeRow {
    border: 1px solid transparent;
    border-left: 1px solid transparent;
}


























/*---Media Screen---*/
@media only screen and (max-width: 800px) {
	#headerMenu {
		/*option 1*/
	/*	background:  -webkit-linear-gradient(to right, #ea818b, #e04b4b);
		background:  -moz-linear-gradient(to right, #ea818b, #e04b4b);
		background:  -ms-linear-gradient(to right, #ea818b, #e04b4b);
		background:  linear-gradient(to right, #ea818b, #e04b4b);*/

		/*option 2*/
		background:  -webkit-linear-gradient(to right, #e04b4b, #ea8a76);
		background:  -moz-linear-gradient(to right, #e04b4b, #ea8a76);
		background:  -ms-linear-gradient(to right, #e04b4b, #ea8a76);
		background:  linear-gradient(to right, #e04b4b, #ea8a76);
	}
	div#menuLoad {
		background:  -webkit-linear-gradient(to right, #e04b4b, #ea8a76);
		background:  -moz-linear-gradient(to right, #e04b4b, #ea8a76);
		background:  -ms-linear-gradient(to right, #e04b4b, #ea8a76);
		background:  linear-gradient(to right, #e04b4b, #ea8a76);
		border-color: transparent;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
	}	
	div#menuLoad #menuLoadtxt {
		border-color: transparent !important;
	}
	#_expandMenuLoad img,
	#_showModName img,
	#_hamburger_icon span {
		filter: none;
	}
	#activeformsContainer {
		background: #ececec;
	}
	div.toolBar-menu-buttonsActive {
		background-color: #3ca4ad !important;
	}
	div#activeformsContainer .etitle {
		font-weight: normal;
	}
	#activeformsList,
	#favformsList,
	#recformsList {
		border-top: 1px solid #3ca4ad;
	}
	.toolBar-menu-buttonsActive {
		background-color: #3ca4ad !important;
	}
	#activeformsHeaderButton,
	#favformsHeaderButton,
	#recformsHeaderButton {
		background-color: #779698;
	}
	#activeformsHeaderButton:hover,
	#favformsHeaderButton:hover,
	#recformsHeaderButton:hover {
		background-color: #779698;
	}
	#settingstabs .ui-widget-header:before {
		background: #e04b4b;
	}
	#toolBar-maxi-Buttons {
		background: /*#efa393*/ #e04b4b;
		box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.22);
	}
	div#nwHeaderTitle {
		font-weight: normal;
		color: #333333;
	}
	.toolBar-menu-label {
		color: #555555;
    	text-shadow: none;
	}
	div.toolBar-menu-sub-show,
	.toolBar-menu-sub-row {
		border-radius: 0;
		box-shadow: none;
	}
	#footerMenu {
	    border-top: 1px solid #e04c4c;
	    -webkit-background: linear-gradient(to bottom right, #ea8a76, #e04b4b);
	    -moz-background: linear-gradient(to bottom right, #ea8a76, #e04b4b);
	    -ms-background: linear-gradient(to bottom right, #ea8a76, #e04b4b);
	    background: linear-gradient(to bottom right, #ea8a76, #e04b4b);
	}
	#footerMenu div {
	    border: 1px solid rgba(0,0,0,.12);
	    background-color: transparent;
	    color: #ffffff;
	    font-weight: normal;
	    border-radius: 4px;
	    font-size: 10px;
	    box-shadow: none;
	}
	#toolBar-maxi-Buttons div {
		text-shadow: none;
	}
	div#nwHeaderTitle {
	    left: 0px;
	    width: 70% !important;
	    margin-right: 0 !important;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    float: left;
	    margin-left: 0px;
	    font-family: 'Century Gothic';
	    font-weight: normal;
		position: relative;
		text-indent: 26px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
        color: #fafafa;
	}
    #activeformsHeaderButton:hover,
    #favformsHeaderButton:hover,
    #recformsHeaderButton:hover {
        background: #3ca4ad !important;
        color: #ffffff;
    }

}